<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>The Committee Appointed to Confer With the Friends who Attended the Indian Treaty: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Constance Hawley</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca. SIZE KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_Letters_179-_MM_DD</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Mss_004_179-</idno>
</msidentifier>
<physdesc>
<p>2 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This collection of miscellaneous correspondence is housed at Friends Historical
                    Library, on the campus of Swarthmore College. In the fall semester of 2010,
                    Swarthmore students enrolled in English 50A (“Reading Red, White, and In-Between
                    in Early American Literature”) transcribed these manuscripts as part of a larger
                    project to make the library’s rich store of Quaker Indian mission writings more
                    accessible. The project was designed by Christopher Densmore, Curator of Friends
                    Historical Library, and Keat Murray, Visiting Assistant Professor of English.
                    Transcriptions were compiled and edited in the present form by Professor Murray.
                </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in 179-<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends - New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Quaker women -- Pennsylvania -- Correspondence</item>
<item>Seneca Indians</item>
<item>Philadelphia Yearly Meeting of the Relgious Society of Friends</item>
</list>
</keywords>
</textclass>
</profiledesc>
</teiheader>
<text>
<div type="report">
<pb facs="SW_Letters_179-_MM_DD_Page_1" n="1"></pb>
<p>The Committee appointed to confer with<br/>the Friends who attended the Indian
                    Treaty in the<br/>preceding Autumn on the Matters contained in<br/>their Report
                    &amp; the Observations &amp; Occurrencies by them<br/>otherwise noted, having in
                    the course of attending<br/>thereto, considered divers particulars of
                    interesting<br/>import as relative to the cultivation of Amity and<br/>promotion
                    of solid Peace wth the Indians of whom<br/>a certain <del></del>
                    Nation called <a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscaroras<orgname key="tuscarora"></orgname></a> assert a
                    Claim<br/>as original Owners of Lands held by Friends at<br/><a href="http://127.0.0.1:8000/places/hopw">Hopewell<placename key="hopw"></placename></a> in Virginia, for wch they have not
                    receiv'd<br/>satisfactory Compensation; another description of<br/>those People
                        appear<del></del> dissatisfied, pleading that no
                    conci-<br/>liatory means have been used by the Government of<br/>Penslyvania to
                    attone for, or (in their own expressive<br/> Language) to wipe away the Blood of
                    their Relatives<br/>inhumanely spilt at <a href="http://127.0.0.1:8000/places/cones2">Conestoga<placename key="cones2"></placename></a> &amp; <a href="http://127.0.0.1:8000/places/lanca">Lancaster<placename key="lanca"></placename></a> in
                    the latter end of the year<br/><date when="1763">1763</date>; these People in
                    common with other Indians<br/>expressing great Confidence in, &amp; Reliance on
                    the<br/>Friendship &amp; good Offices of our religious Society, &amp;<br/>some
                    of them manifesting a desire to endeavour<br/>after a more civilized mode of
                    living, intimate a<br/>hope of being encouraged &amp; aided therein by
                    Friends,<br/>in the way of promoting the tuition of their Children,<br/>and
                    affording some assistance &amp; Instruction in the practical<br/>Knowledge of
                    Agriculture &amp; the social Oeconomy of a<br/>peaceful &amp; inoffencive Life:
                    These Objects wch appearing<br/>to claim religious Attention, and another Treaty
                    for a<br/>more general Pacification being proposed to be held<br/>in the 6th.
                    mo. next, the Committee apprehend it expedient<br/>&amp; proper <del rend="crossout"></del>to request the Members of the Meeting for<br/>Sufferings
                    who reside in the City to meet &amp; consider whe-<br/>ther it will not be
                    right, and agreeable to the Concern of<br/>our <a href="http://127.0.0.1:8000/organizations/pym">Yearly
                        Meeting<orgname key="pym"></orgname></a>, to give Notice to the large Committee<br/> appointed in
                    the the year <date when="1792">1792</date> to unite with the Meeting
                    for<br/>Sufferings in the exercise of christian endeavours for the<br/>Promotion
                    of Peace with the Indians, that their Attendance<br/>on the Occasion is desired
                    at the stated time of our<br/>Meeting next mo.</p>
<pb facs="SW_Letters_179-_MM_DD_Page_2" n="2"></pb>
<p><a href="http://127.0.0.1:8000/organizations/pym">Yearly Meeting<orgname key="pym"></orgname></a>'s Committee appd. in <date when="1792">1792</date> to unite<br/>with the Meetg for Suff. in the Concern
                    occasioned by the<br/>War wth the Indians</p>
<list type="simple">
<item><a href="http://127.0.0.1:8000/people/ccress1">Caleb Cresson<persname key="ccress1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/obidd1">Owen Biddle<persname key="obidd1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/tligh1">Tho. Lightfoot (Exet.)<persname key="tligh1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/tgeor1">Thomas George<persname key="tgeor1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/pyarn1">Peter Yarnall<persname key="pyarn1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/nclea1">Nathan Cleaver<persname key="nclea1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/riden1">Randall Iden<persname key="riden1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/sgumm1">Samuel Gummery<persname key="sgumm1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jkirk1">Jonat. Kirkbride<persname key="jkirk1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jsimp1">John Simpson<persname key="jsimp1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jgill1">John Gillingham<persname key="jgill1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/rkirk1">Rob. Kirkbride<persname key="rkirk1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/smend1">Stephen Mendenhall<persname key="smend1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jpier1">John Pearce<persname key="jpier1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jemle1">James Emlen<persname key="jemle1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/smere1">Simon Meredith<persname key="smere1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/bmaso1">Benj. Mason<persname key="bmaso1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/gchur1">Geo. Churchman<persname key="gchur1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jjack2">James Jackson<persname key="jjack2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/aharv1">Amos Harvey<persname key="aharv1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/wmiff1">Warner Mifflin<persname key="wmiff1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/rholl1">Rob. Holliday<persname key="rholl1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jboon1">John Boon<persname key="jboon1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/icox1">Issac Cox<persname key="icox1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jcox1">John Cox<persname key="jcox1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/bclar1">Benj. Clark<persname key="bclar1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/gdill1">Geo. Dillwyn<persname key="gdill1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jpowe2">Joseph Powell<persname key="jpowe2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jwist1">John Wistar<persname key="jwist1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/eevan1">Enoch Evans<persname key="eevan1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jreev1">John Reeve<persname key="jreev1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/bswet1">Benj. Swett<persname key="bswet1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/rlawr2">Rich. Lawrence<persname key="rlawr2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jshot1">Joseph Shottwell<persname key="jshot1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/whart">Wm. Hartshorne<persname key="whart"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/hclift1">Henry Cliffton<persname key="hclift1"></persname></a></item>
</list>
<note resp="author">Rep'tives from Salem <list>
<item><a href="http://127.0.0.1:8000/people/jreev1">Jn. Reeve<persname key="jreev1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/mmill2">Mark Miller<persname key="mmill2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jwist1">John Wistar<persname key="jwist1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jwhit3">Ja. Whitall jun.<persname key="jwhit3"></persname></a></item>
</list>
</note>
</div>
</text>
</tei>
</body></html>