<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Letter to Friends from David Fowler: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Constance Hawley</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca.9 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_Letters_1793_03_20</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Mss_004_1793_03_20</idno>
</msidentifier>
<physdesc>
<p>2 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This collection of miscellaneous correspondence is housed at Friends Historical
                    Library, on the campus of Swarthmore College. In the fall semester of 2010,
                    Swarthmore students enrolled in English 50A (“Reading Red, White, and In-Between
                    in Early American Literature”) transcribed these manuscripts as part of a larger
                    project to make the library’s rich store of Quaker Indian mission writings more
                    accessible. The project was designed by Christopher Densmore, Curator of Friends
                    Historical Library, and Keat Murray, Visiting Assistant Professor of English.
                    Transcriptions were compiled and edited in the present form by Professor Murray.
                </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in 1793<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends - New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Philadelphia Yearly Meeting of the Relgious Society of Friends</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item><date></date></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="letter">
<pb facs="SW_Letters_1793_03_20_Page_1" n="1"></pb>
<opener>
<dateline>
<a href="http://127.0.0.1:8000/places/phila">Philadelphia<placename key="phila"></placename></a>
<date when="1793-03-20">March 20 1793</date>
</dateline>
<salute>Dear Friends,</salute>
</opener>
<p>What or how can we make amends<br/>to you, for what you have done for us
                    and<br/>for our Town in sending those Books to the Chil-<br/>dren, surely you
                    have shown us very great kind-<br/>ness, this is the work of God, for the World
                    is his and<br/> the fullness thereof, it is he that puts into the Hearts
                    of<br/>his People to give liberally unto us poor Indians. --<br/>--Thanks be to
                    God for his goodness towards us, in pre-<br/>serving and maintaining us--but
                    above all that<br/>we were born in Christian Land, that we might<br/> hear and
                    know the wonderfull works of God, for our<br/>immortal Souls, and that we and
                    many of our prior<br/>despised Nation have experienc'd the Love of God
                    and<br/>to enjoy that Peace and joy unto our Souls which the<br/>World cannot
                    give nor take away--We thank you<br/>for the Favours we have received from your
                    hands--<br/>--we hope, God will reward you for it--and as<br/>you have put many
                    Books into my hands I shall endea<br/>vour to get then up to our Settlement and
                    get the<br/>School going as quick as we can--I also, will let<br/>you know what
                    proficiency the children will make<br/>this Summer--this is from your friend and
                    Brother</p>
<closer>
<signed><a href="http://127.0.0.1:8000/people/dfowl1">David Fowler<persname key="dfowl1"></persname></a></signed>
</closer>
</div>
<div type="postscript">
<pb facs="SW_Letters_1793_03_20_Page_2" n="2"></pb>
<note resp="unknown">An Indian Settlement at a town called <a href="http://127.0.0.1:8000/places/broth">Brotherton<placename key="broth"></placename></a> in<br/>the
                    Oneida Country consisting of various tribes from New<br/>England &amp; some from
                    Long Island; consisting in the<br/>whole of 26 families--and 113
                    Parsons--distance from<br/>Albany abs 110 miles--the all speak English, they
                    profess<br/>themselves to be <a href="http://127.0.0.1:8000/organizations/bapt">Baptists<orgname key="bapt"></orgname></a>, <del></del>they have a
                    Meeting<br/>House which is also used for a School, where 25 Children<br/>are
                    taught to read write &amp; Arithmetic, the teacher is a young<br/>married man
                    who gives satisfaction in his employment</note>
</div>
</text>
</tei>
</body></html>