<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Letter from Quakers to Cornplanter: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Mary Olesnavich</name>
</respstmt>
</titlestmt>
<extent>ca.9 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_1791_06_02</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Misc Mss 1791_06_02</idno>
</msidentifier>
<physdesc>
<p>2 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This Letter is in a collection of miscellaneous correspondence and is housed at
                    Friends Historical Library, on the campus of Swarthmore College. </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases.
                </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in <date when="1791">1791</date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends - New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Cornplanter, Seneca Chief, 1732?-1838</item>
<item>Seneca Indians</item>
<item>Seneca Indians -- Education</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item>PCO edits<date>2015</date></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="letter">
<pb facs="SW_1791_06_02_001" n="1"></pb>
<opener><salute> From the people called Quakers, the Children and Descendants of
                        <br/> those peaceable people who first settled in <a href="http://127.0.0.1:8000/places/penns">Pennsylvania<placename key="penns"></placename></a>, being the <br/> Friends of <a href="http://127.0.0.1:8000/people/wpenn1">Onas<persname key="wpenn1"></persname></a><br/>To <a href="http://127.0.0.1:8000/people/cornp2">Corn-planter<persname key="cornp2"></persname></a> the <a href="http://127.0.0.1:8000/organizations/seneca">Seneca<orgname key="seneca"></orgname></a>
                        Cheif, or to <a href="http://127.0.0.1:8000/people/jnich1">Joseh  Nicholson<persname key="jnich1"></persname></a> the
                        Interpreter to be by him explain'd to the said <br/> Cheif.
                    </salute></opener>
<p> The written message of <a href="http://127.0.0.1:8000/people/cornp2">Corn-planter<persname key="cornp2"></persname></a> dated at
                    <a href="http://127.0.0.1:8000/places/phila">Philad'<placename key="phila"></placename></a>. on <br/> the <date when="1791-02-10">10.' day of February last</date>, was not received by us
                    untill some weeks <br/> after. His request that we would take under our care two <br/>
<a href="http://127.0.0.1:8000/organizations/seneca">Seneca<orgname key="seneca"></orgname></a> Boys, one of them his own son,
                    accompanied with the son of <br/>
<a href="http://127.0.0.1:8000/people/jnich1">Joseph Nicholson<persname key="jnich1"></persname></a>, we have considrd, and do
                    agree to receive them <br/> when they can be conveniently sent to us, intending
                    they shall be <br/> treated with care and kindness, and instructed in reading,
                    writing <br/> and Husbandry as the Children of our Friends are taught. <br/>
<a href="http://127.0.0.1:8000/people/tmiff1">Governor of Pennsylvania<persname key="tmiff1"></persname></a>, <del>being</del>
                    when inform'd of this proposal, having <br/> express'd his approbation thereof,
                    as did <a href="http://127.0.0.1:8000/people/hknox1">General Knox<persname key="hknox1"></persname></a>
</p>
<closer><salute>Sign'd on behalf and by appointment of a Meeting of the Repres. of
                    <br/> the said people</salute> the <dateline><date when="1791-06-02">2 day of the 6 mo. called
                            June 1791</date><placename key="phila" type="unattested"></placename></dateline>
<br/><pb facs="SW_1791_06_02_002" n="2"></pb> Sign'd 
                    <signed>
<list>
<item>
<a href="http://127.0.0.1:8000/people/izane1">Isaac Zane<persname key="izane1"></persname></a></item>
<item>
<a href="http://127.0.0.1:8000/people/ojone1">Owen Jones<persname key="ojone1"></persname></a></item>
<item>
<a href="http://127.0.0.1:8000/people/jpemb2">John Pemberton<persname key="jpemb2"></persname></a></item>
<item>
<a href="http://127.0.0.1:8000/people/jparr1">John Parrish<persname key="jparr1"></persname></a></item>
<item>
<a href="http://127.0.0.1:8000/people/hdrin1">Henry Drinker<persname key="hdrin1"></persname></a></item>
<item>
<a href="http://127.0.0.1:8000/people/nwaln1">Nicho. Waln<persname key="nwaln1"></persname></a></item>
</list></signed>
</closer>
<postscript><p>One copy sent by <a href="http://127.0.0.1:8000/people/jadlum1">John Adlum<persname key="jadlum1"></persname></a> 2. 6 mo.
                    1791.<br/> One other sent by <a href="http://127.0.0.1:8000/people/hodgs1">Major Hodgson<persname key="hodgs1"></persname></a> 4.
                    6 mo. 1791 inclosed to <a href="http://127.0.0.1:8000/people/jnich1">Jos. Nicholson<persname key="jnich1"></persname></a> at
                    <a href="http://127.0.0.1:8000/places/pitts">Pittsburgh<placename key="pitts"></placename></a></p></postscript>
</div>
</text>
</tei>
</body></html>