<?xml version="1.0" encoding="UTF-8"?><?xml-model hkey="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model hkey="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" hkey="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" hkey="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" hkey="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Copy of a manuscript respecting the American Indians (A): Electronic
                    Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Shane Loeffler</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca. 37 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for-profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non-profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so only with the permission of
                        Swarthmore College. This is the case whether the new publication will be
                        made available at a cost or free of charge.</p>
</availability>
<date when="2014">2014</date>
<idno type="local">SW_Letters_1801_10</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts (selection)</collection>
<idno>Mss_004_1801_10mo</idno>
</msidentifier>
<physdesc>
<p>11 pages</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This collection of miscellaneous correspondence is housed at Friends Historical
                    Library, on the campus of Swarthmore College. In the fall semester of 2010,
                    Swarthmore students enrolled in English 50A (“Reading Red, White, and In-Between
                    in Early American Literature”) transcribed these manuscripts as part of a larger
                    project to make the library’s rich store of Quaker Indian mission writings more
                    accessible. The project was designed by Christopher Densmore, Curator of Friends
                    Historical Library, and Keat Murray, Visiting Assistant Professor of English.
                    Transcriptions were compiled and edited in the present form by Professor Murray.
                </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases.
                </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in <date>1801</date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends - New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Quakers -- Pennsylvania -- Correspondence</item>
<item>Seneca Indians</item>
<item>Philadelphia Yearly Meeting of the Religious Society of Friends</item>
</list>
</keywords>
</textclass>
</profiledesc>
</teiheader>
<text>
<div type="narrative"><pb facs="SW_Letters_1801_10a_Page_01" n="1"></pb>

                The penetration and judgement of the Indians in matters <br/> of Religion in
                    this authentic narative is very evident which <br/> is as follows. 1st
                <p>Two <a href="/organizations/presby">Presbyterian<orgname key="presby"></orgname></a> Ministers under the patronage of
                        <a href="/organizations/prince">Prince ton Colledge of New Jersey<orgname key="prince"></orgname></a> who
                    were chosen by the Missiona <br/>ry Society to go and propagate the Gospel among
                    the <a href="/organizations/creek">Creek  Indians<orgname key="creek"></orgname></a> -- And in order to give
                    weight to this embassy <unclear>seven</unclear>
<br/> members of <a href="/organizations/uscong">Congress<orgname key="uscong"></orgname></a> accompanied these
                    ministers unto their <br/> Respective Nation, who took with them a number of
                    Bi<br/>bles for the use of this People -- When those Ministers with<br/> their
                    retinue and Bibles arrived a Conference was held with <br/> some of their
                    Chiefs, where it was agreed that the Indians <br/> should call a council; when
                    met they were informed <br/>they had brought two Ministers of the Gospel; to
                    preach <br/>the Gospel of Salvation unto them, and a number of <br/> Books which
                    would learn them the way to Heaven. <br/> The Indians after a pause said they
                    would consider of it;<br/> which took fourteen days -- The Ministers
                    proposed<br/> preaching: but the Indians signified they must first<br/> consider
                    of it -- When the time of council was over, they<br/> inquired of the members of
                    the Congress if they had any<br/> dark people among <emph rend="underline">them</emph>, whether they preached the Gospel<br/> of Salvation unto <emph rend="underline">them</emph>, whether they gave those good Books<br/> which
                    would learn them their way to Heaven? Whether<br/> they treated them as
                    Brothers, or as Slaves? Being answe<br/>-red in the negative, the Indians
                    reply’d -- Go home and <br/> preach the Gospel of Salvation to them. give them
                    those <br/> good Books which will learn them the way To Heaven. <br/> treat them
                    as Brethren and not as Slaves. and then come and <br/> preach unto us -- In
                    consequence this unexpected advice <pb facs="SW_Letters_1801_10a_Page_02" n="2"></pb>they returned -- And one of the Members
                    of this Embassy having<br/> 14 slaves gave them all their liberty.</p>
<p>P.S. This occurrence took place among the Creek Indians.<br/> The Person who set
                    his Slaves at liberty was E.B. a well<br/> known family in East <a href="/places/nerje">New Jersey<placename key="nerje"></placename></a></p>
</div>
<div type="letter">
                2nd
                <opener><dateline><date when="1801-10"></date></dateline>From <a href="/people/jclar1">Joseph Clark<persname key="jclar1"></persname></a> to the Indians on his return with their<br/> young
                    women --</opener>
<p>Brothers, The love I always felt for you and your chil<br/>dren, has induced me
                    to leave all that is near and dear, my<br/> children, my Friends, my property,
                    and my business to<br/> come and see you -- It is neither interest nor ease,
                    that has<br/> brought me from my habitation; but that your Children<br/> whom
                    you delivered into my care, in the year <date when="1797">1797</date>
                    should<br/> be safely returned unto you, with their qualifications and<br/>
                    improvements; and as the Good and Great Spirit has pre-<br/>served them in
                    innocency &amp; sobriety, and Industry, in<br/> this state I hope they will
                    continue, and that you may<br/> write with us, to encourage them in every good
                    word, and<br/> work -- That thereby the Chain of Friendship may grow<br/>
                    stronger and brighter, which is the sincere desire of thy</p>
<closer><salute>Brother, </salute><signed><a href="/people/jclar1">Joseph
                            Clark<persname key="jclar1"></persname></a></signed></closer>
</div>
<div type="letter">
                Reply of the Indians 
                <opener>
<dateline><a href="/places/stock">New Stockbridge<placename key="stock"></placename></a>
<date when="1801-10-22"> 10th Mo. 22 1801</date></dateline>
<salute>Brother attend, </salute></opener>
<p>We wish to speak a few words to you -- we feel<br/> thankful to the great good
                    Spirit, that he put a concern in your<br/> heart for us, The poor Indians, so
                    that you was willing to leave<br/> all your friends, to take a long journey, and
                    that you have<br/> kindly and safely conducted our young women, whom we<br/> put
                    under your care some years ago -- We rejoice that the Great<br/> Good Spirit has
                    protected and preserved you all this way, while you walk in the long path
                    so that you are safely arrived by the side <pb facs="SW_Letters_1801_10a_Page_03" n="3"></pb> of our fireplace in good health,
                    and that we are allowed to see<br/> each others’ faces this day -- Friend we are
                    sensible that all the<br/> kindness you have done, you do purely out of love to
                    us, for<br/> which we with our Women heartily thank you -- We hope we<br/> shall
                    never forget your Kindness -- Respecting the Kind talk<br/> which you brought us
                    from our friends, we wish to send a few<br/> words to them in writing. therefore
                    we desire you to stay with<br/> us all the day, and to night, that we may have
                    time to write<br/> to our friends, and that you may take a little more rest</p>
<closer><signed><a href="/people/jshau1">Joseph
                    Shawquithquirt<persname key="jshau1"></persname></a></signed></closer>
</div>
<div type="letter">
                3rd
                <opener><dateline>
<a href="/places/stock">New Stockbridge<placename key="stock"></placename></a><date when="1801-10-14">
                            10 mo. 14, 1801</date>
</dateline>
<salute>Brothers attend</salute></opener>
<p>Our friend and brother <a href="/people/jclar1">J. Clark<persname key="jclar1"></persname></a> safely
                    arri-<br/> ved here by the side of our fire place on the <date when="1801-10-13">13th of the 10 Month</date><br/> with our 3 young women, who have been
                    under your benevo-<br/> lent care for a considerable time, whom he conducted
                    through<br/> along journey, and delivered you Kind talk the next day</p>
<p> Brothers Our satisfaction is very great in finding that the<br/> Friends have
                    taken great pains to instruct these Girls in sober<br/> and steady conduct, and
                    in these good Customs and useful Me<br/> thods, which are necessary for living
                    happily and comfortably<br/> and that they have been taught to read and write
                    and read<br/> the English Language, for which kindness we heartily thank<br/>
                    you -- We hope that the advantage they had will be a be-<br/> nefit to them as
                    well as to us, we will endeavorer to encou-<br/> rage them to improve their
                    acquirements<br/> Brothers We are sensible that it is out of love and pity
                    you<br/> have exercised many kindnesses towards us, ever since friend<br/> ship
                    has been established between you and us, -- not only in<br/> good words, but we
                    have experienced your properties, that<br/> we poor Indians might Know how to
                    help ourselves, that by<pb facs="SW_Letters_1801_10a_Page_04" n="4"></pb> Industry, Care, and Prudence we might live happy
                    and com-<br/> fortable -- And may the Great Good Spirit ever countenance<br/>
                    the Chain of Friendship, that it may remain bright in the la<br/> test
                    generation is the wish of your Brothers.</p>
<closer><salute>farewell</salute> To<br/>
<a href="/people/dbaco1">David Bacon<persname key="dbaco1"></persname></a><br/>
<a href="/people/hdrin1">Henry Drinker<persname key="hdrin1"></persname></a><br/>
<a href="/people/eyarn1">Ellis Yarnal<persname key="eyarn1"></persname></a><br/><a href="/people/twist1">Thos
                        Wister<persname key="twist1"></persname></a>
<signed><list>
<item><a href="/people/jshau1">Joseph Shasquithquirt<persname key="jshau1"></persname></a></item>
<item><a href="/people/iwran1">Isaac Wranpey<persname key="iwran1"></persname></a></item>
<item><a href="/people/mwrai1">Moses Wrainkoinhurst<persname key="mwrai1"></persname></a></item>
<item><a href="/people/jconc1">Jacob Concapus<persname key="jconc1"></persname></a></item>
<item><a href="/people/squai1">Solomon Quaikenut<persname key="squai1"></persname></a></item>
<item><a href="/people/haupa1">Hendricks Aupaumat<persname key="haupa1"></persname></a></item>
<item>
<a href="/people/jquin1">Jos. Quinney<persname key="jquin1"></persname></a></item>
</list>
</signed></closer>
</div>
<div type="letter">
                4th
                <opener> From the <a href="/organizations/oneida">Oneida<orgname key="oneida"></orgname></a> Indians to <br/><a href="/people/dbaco1"> David Bacon<persname key="dbaco1"></persname></a><br/><a href="/people/jparr1">Jno
                        Parish<persname key="jparr1"></persname></a><br/><a href="/people/hdrin1">Hen
                        Drinker<persname key="hdrin1"></persname></a><br/><a href="/people/eyarn1">Ellis
                        Yarnal<persname key="eyarn1"></persname></a><br/><a href="/people/nharp1">Nat.
                        Harper<persname key="nharp1"></persname></a><br/><a href="/people/jbidd1">Jno
                        Biddle<persname key="jbidd1"></persname></a><br/><a href="/people/twist1">Thos
                        Wistar<persname key="twist1"></persname></a><br/><a href="/people/pbark1">Peter
                        Barker<persname key="pbark1"></persname></a><br/><a href="/people/tfish1">Thos
                        Fisher<persname key="tfish1"></persname></a><br/><a href="/people/jcoop1">James
                        Cooper<persname key="jcoop1"></persname></a><br/><a href="/people/jelli1">Jno
                        Elliot<persname key="jelli1"></persname></a><br/><a href="/people/wsave1">Wm
                        Savery<persname key="wsave1"></persname></a><br/><a href="/people/jlind1">Jacob
                        Lindley<persname key="jlind1"></persname></a><br/><a href="/people/opaxt1">Oliver
                        Paxton<persname key="opaxt1"></persname></a><br/><a href="/people/tstew1">Thos Stewardson<persname key="tstew1"></persname></a>
<dateline><a href="/places/oneid">Oneida<placename key="oneid"></placename></a>
<date when="1801-10-15">15th 10 mo.
                        1801</date></dateline><salute>Brothers</salute></opener>
<p> We have received your Counsel and Advice at this<br/> time, as well as at many
                    other times, and are made thankful<br/> that the great good Spirit continues to
                    put you in remembrance<br/> of us, to give us this counsel and advice. some of
                    us have<br/> agreed together to endeavour to follow it, and improve our<br/>
                    land, raise more cattle, grain &amp; Flax, and learn our<br/> young women to
                    Spin, and other useful employments<br/> in the House we have improved in
                    building Houses &amp;<br/> Barns, and find great good from it</p>
<p>Brothers, we wish to listen to your counsel and advice<br/> not to offend, or
                    hurt one another, nor to go to War. We last<br/> summer had a general counsel
                    with many of the Western<br/> tribes of Indians, at <a href="/places/buffc">Buffalow Creek<placename key="buffc"></placename></a>, where we all agreed<br/> to live in peace and
                    renewed the Chain of Friendship and wish<br/> to attend to the Good Spirit, it
                    will teach us to refrain from all<br/> evil practices</p>
<p> Brothers, We are sensible that the great good Spirit governs<br/> all the
                    seasons, and some of us wish to live more and more in his<pb facs="SW_Letters_1801_10a_Page_05" n="5"></pb> favour, that we
                    should more and more be worthy of his bles<br/>sings. Notwithstanding some
                    through unwatchfulness<br/> are taken captive by the great and mighty <emph rend="strikethrough">as were many</emph><del>adversary</del> destroyer</p>
<p> Brother <a href="/people/jclar1">Joseph Clark<persname key="jclar1"></persname></a> We also thank you for
                    your good counsel<br/> we believe the Great &amp; Good Spirit has sent you
                    amongst us. We<br/> will treasure it up in our hearts from day to day and
                    we<br/> will teach it to our Children. We wish always, we wish all<br/>-ways, to
                    keep bright the Chain of Friendships and remain</p>
<closer><salute>your Brothers</salute>
<signed>
<list>
<item><a href="/people/cotis1">Cornelius Otisleda<persname key="cotis1"></persname></a></item>
<item><a href="/people/ponau1">Peter Onauga<persname key="ponau1"></persname></a></item>
<item><a href="/people/jschu1">John Schunnuds<persname key="jschu1"></persname></a></item>
<item><a href="/people/lconn1">Lus Connis<persname key="lconn1"></persname></a></item>
<item><a href="/people/cscho1">Christian Schonadab<persname key="cscho1"></persname></a></item>
<item><a href="/people/piaul1">Peter Iaulotis<persname key="piaul1"></persname></a></item>
<item><a href="/people/ccawn1">Cornelius Cawnawoc<persname key="ccawn1"></persname></a></item>
<item><a href="/people/hfaun1">Hendrick Faunchaw<persname key="hfaun1"></persname></a></item>
<item><a href="/people/jwhis1">John Whisksheak<persname key="jwhis1"></persname></a></item>
</list>
</signed>
</closer>
</div>
<div type="letter">
                5th<br/> From a Tuscarora Indian
                <opener><salute>Dear Friends</salute></opener>
<p>We are all well and glad to see the 3<br/> girls, and our friend <a href="/people/jclar1">J. Clark<persname key="jclar1"></persname></a>. we often think of the kindess<br/> you
                    shewed us -- Our nation now plough their land, and<br/> raise some flax, and we
                    spin a little, and we hope by the<br/> assistance of the Great Good Spirit we
                    grow in his favour<br/> so as to have plenty of Corn, Cattle, and Flax -- and
                    becom<br/> his children, and rest in his Kingdom -- I feel much<br/> love in my
                    heart, but am not able to express myself</p>
<closer>
<signed>
<a href="/people/pokas1">Peter Okasantguo<persname key="pokas1"></persname></a></signed></closer>
</div>
<div type="letter">
                From a Young Indian Woman to <a href="/people/etown1">Eliz. Townsend<persname key="etown1"></persname></a>
                    (daughter<br/> of <a href="/people/jclar1">Joseph Clark<persname key="jclar1"></persname></a>)
                <opener>
<salute>Dear friend.</salute></opener>
<p>No doubt but thee will ex-<br/>cuse a letter from me, who wishes thee, and all
                    they society<br/> well. tho unknown to each other as to our Bodily
                    Per-<br/>sons, yet I sincerely hope that we <del>sincerely</del> frequently<br/>
                    converse with the same Spirit. My dear Friend, I thank<br/> thy Father and
                    likewise thee for your kind care towards<br/>us the Natives of America, for I
                    believe that you will have <pb facs="SW_Letters_1801_10a_Page_06" n="6"></pb> have your reward, for God will reward you. I
                    give my<br/> kind love to all thy friends, and tell them that the great &amp;
                    good<br/> Spirit is on its way to the dark corners of the Earth -- When<br/> my
                    dear Friend? When will that happy day appear?<br/> When the Nations will learn
                    War no more; for then Lion<br/> will arise and travel, and bring forth, She will
                    bring<br/> forth. </p>
<closer><salute>So farewell from thy unknown friend</salute>
<signed><a href="/people/gcros1">Gracy Crosby<persname key="gcros1"></persname></a></signed></closer>
</div>
<div type="speech">

                6th<br/>An address from <a href="/people/jclar1">Joseph Clark<persname key="jclar1"></persname></a> to
                    Indians
                <p> When the great and good Spirit made the first Man and<br/> Woman, He placed them
                    in the Garden of Eden and com-<br/>manded them to dress it -- Thus we learn that
                    the Great and<br/> Wise Author of all good, intended Man should labour<br/> from
                    the beginning of the Creation; and we are further ins<br/>-tructed from the
                    scriptures of Truth, that the Lord’s cho<br/>sen Servants in every age were
                    those that laboured<br/> For Moses was in a particular manner called of the<br/>
                    Most High, while he was engaged keeping his Father in<br/> Law’s sheep, as was
                    also Elizher the Prophet, when he was<br/> ploughing with twelve yoke of Oxen,
                    and Paul, that emi<br/>nent Apostle informs us that he laboured with his
                    hands<br/> that he might support himself. But above all these test-<br/>imonies
                    my Brothers <unclear>liken</unclear> be obedient to the Command<br/> and imitate
                    the example of Christ, the Great Good Spirit, who<br/> had all power in Heaven
                    and Earth; and once in a miracu-<br/>lous manner fed five thousand Men besides
                    Women and<br/> Children, with only two loaves, and five fish -- and not
                    with<br/>standing afterwards gave this special Command to gather<br/> fragments
                    that nothing should be lost - How clearly and<br/> fully this shews poor frail
                    Man the constant necessity<br/> of being careful of the good and things that an
                    all wise Providence<pb facs="SW_Letters_1801_10a_Page_07" n="7"></pb> places in his power -- And in order to make the man of
                    God<br/> more perfect, He further informed him, that it was more<br/> blessed to
                    give than to receive -- I conclude in a degree of that<br/> love which we wishes
                    well unto all the families of the Earth</p>
<closer>from<br/> your Brother - <a href="/people/jclar1">Joseph Clark<persname key="jclar1"></persname></a>
<dateline><a href="/places/phila">Philadelphia<placename key="phila"></placename></a>
<date when="1801-12-14">12 mo. 14- 1801</date></dateline>
</closer>
<postscript>
<p>N.B. My desire is that my Brother <a href="/people/dfowl1">David
                            Fowler<persname key="dfowl1"></persname></a> would<br/> read this at the conclusion of the time of
                        Worship, unto the Bro<br/>thertown Indians, and also unto the Oneida
                        Indians, as<br/> in such a manner as thou may judge best.</p>
</postscript>
</div>
<div>
                7th
                <div type="narrative">
<p>Observations on the <a href="/organizations/brotherton">Brother-town<orgname key="brotherton"></orgname></a>
                        Indians</p>
<p>who have within these last 3 years, built 9 Log Houses, 3<br/> log Barns, and
                        4 frame Barns, also will been closed this<br/> fall 2 frame Houses -- They
                        have about 8 yoke of<br/> Oxen added to their former number (a considerable
                        num<br/>-ber not easily ascertained) They have lately purchased<br/> 270
                        sheep likewise as Colts. In the year <date when="1799">1799</date> they
                        wove<br/> about 100 yards of Linnen. In the year 1801 they wove<br/> upwards
                        of 600 Yards. In <date when="1799">1799</date>-- seven families raised<br/>
                        a little wheat. In <date when="1801">1801</date>-- 56 families raised wheat,
                        Corn<br/> and Flax in proportion. They have 7 Weavers, and a black<br/>smith
                        all Indians -- They have a neat place of Worship<br/> steadily attended, and
                        a School, and exemplary teacher --<br/> several sober Indian families have
                        been added unto them<br/> from remote parts -- They have also a grist and
                        saw<br/> mill, likewise several Ovens - and now raise more<br/> Geese</p>
<p>Observations on the <a href="/organizations/stockbridge">Stockbridge<orgname key="stockbridge"></orgname></a>
                        Indians,</p>
<p>who it is said are increasing 20 Women and two men are<br/> in full church
                        membership; To which may be added, two<br/> Tuscarora Indians -- They have
                        built 100 new houses<br/> these last 4 years -- 105 children fit to attend
                        School –- Also<pb facs="SW_Letters_1801_10a_Page_08" n="8"></pb>Also about 30 yoke of Oxen, some sheep are possessed
                        by<br/> them -- Almost every family has a cow, some 3 or 4 -- <br/> One of
                        these Indians is burning good Bricks -- They have<br/> a handsome place of
                        worship, which is constantly attended<br/> twice a week likewise they have a
                        saw and grist mill<br/> and a School house.</p>
<p>Observations on the <a href="/organizations/tuscarora">Tuscarora<orgname key="tuscarora"></orgname></a> Indians</p>
<p><unclear>(not perfect)</unclear><br/> but we learn they plough more land, and
                        receive more cattle<br/> than formerly -- They have built several new houses
                        within<br/> three or four years, raise more flax, and spin a little<br/> and
                        say their nation increaseth</p>
<p>Observations on the <a href="/organizations/oneida">Oneida<orgname key="oneida"></orgname></a> Indians.</p>
<p>they have 58<br/> head of horned Cattle. 7 of which are oxen, 5 good
                        frame<br/> Houses, and 5 frame Barns, one building this summer<br/> This
                        also said they are raising Wheat -- This generally<br/> allowed they do not
                            <unclear>paint</unclear> so much as they did 5 or 6 year<br/> ago, and
                        from my Observations among them I discovered<br/> only two -- They have a
                        Missionary Minister and School<br/> Master among them -- they have also a
                        Grist and Saw<br/> Mill. </p>
</div>
</div>
<div type="letter">
                [J. Clark to Catharine Solomon]<br/>8th
                <opener><dateline><a href="/places/stock">New Stockbridge<placename key="stock"></placename></a>
<date when="1801-10-15">10 Month 15, 1801</date></dateline><br/>
<salute>Friend and Sister</salute>
</opener>
<p>This is to let you know I am much<br/> rejoiced to see friend <a href="/people/jclar1">J Clark<persname key="jclar1"></persname></a> come by the side of our fire<br/> place and
                    bring our girls home I cannot but<br/> bless the great good spirit for his great
                    goodness in<br/> preserving our long absented girls from various<br/> dangers
                    and that they have found favor in<br/> the sight of such good friends, as to
                    take them<br/> under their benevolent care, and instruct them in<br/> good
                    things and ways. I acknowledge that you have<br/><pb facs="SW_Letters_1801_10a_Page_09" n="9"></pb>10<emph rend="superscript">th</emph><br/> done a great deal for us, out of Love to
                    the great good<br/> spirit and your fellow creatures--that we poor natives<br/>
                    might as it were rise up and walk and follow the good path<br/> which you
                    follow, by which I always feel thankful and<br/> hope you will not lose your
                    reward in heaven. I feel<br/> our obligations are increased as our advantages
                    are increa<br/>sed to serve God in sincerity and in truth. The Religion<br/> is
                    somewhat low amongst us but Christians seem<br/> to keep on still. there has
                    been but a few careless ones stirred<br/> up for soul concern since your young
                    men left us who<br/> at Oneida-- but others seem still to remain in the
                    bondage<br/> of spiritual Pharaoh. But God is able to turn their hearts<br/> and
                    make them willing to walk towards Concern--<br/> I have no time to express as I
                    feel, but to conclude with<br/> your prayers that the great good Spirit may pour
                    down<br/> his blessing upon us--that religion may again revive<br/> among us.
                </p><closer><signed> Catharine Solomon</signed></closer>
</div>
<div type="letter">
                To <a href="/people/etown1">Elizabeth Townsend<persname key="etown1"></persname></a><br/>Daughter of
                        <a href="/people/jclar1">J Clark<persname key="jclar1"></persname></a><br/>9th
                <p><a href="/places/stock">New Stockbridge<placename key="stock"></placename></a>
<date when="1801-10-14">14 10 Month. 1801</date>.<br/> Dear Sister I take this
                    opportunity to inform you that<br/> we have received your kind letter which
                    gladden our<br/> hearts. We are all well - and the great good spirit has<br/>
                    blessed the labours of our Lands the summer past with<br/> good crops of grain
                    -We are happy to see our good<br/> friend <a href="/people/jclar1">Jos.
                        Clark<persname key="jclar1"></persname></a>, also our young women who were<br/> put under the care of
                    our friends -I often thought of you<br/> since you left our Country -I wish all
                    the women<br/> in the world as well as men become such as you<br/> are,
                    followers of the Great good Spirit _ then it would<br/><pb facs="SW_Letters_1801_10a_Page_10" n="10"></pb> be all
                    Brothers and Sisters – How beautiful this would<br/> be _But humble submission
                    to the great good spirit is<br/> our duty -I hope by the help of the good spirit
                    we and you<br/> shall never forget that we are dependant creatures<br/> as you
                    said can do nothing spiritually good may<br/> the good Spirit bless you
                    farewell</p>
<closer>To <a href="/people/sgreg1">Susanna Gregory<persname key="sgreg1"></persname></a>
<a href="/people/lhend1">Lydia Hendricks<persname key="lhend1"></persname></a>
</closer>
<postscript>
<p>P.S. Give my love to thy Husband -give my love to<br/> our kind Sister
                            <a href="/people/hjack2">Hannah Jackson<persname key="hjack2"></persname></a> -am sorry that<br/> we
                        cannot at present send letters to all our kind sisters<br/> at <a href="/places/phila">Philadelphia<placename key="phila"></placename></a></p>
</postscript>
</div>
<div type="letter">
                10th<br/> Copy of <a href="/people/jclar1">Joseph Clark’s<persname key="jclar1"></persname></a>
                    Certificate
                <opener>Dear Friend. </opener>
<p>Our esteemed Friend <a href="/people/jclar1">J Clark<persname key="jclar1"></persname></a> called<br/> at my
                    House of the 16 of 11mo. and staid with me over<br/> first Day - On the 12th, I
                    set out with him to <a href="/places/stock">Stockbridge<placename key="stock"></placename></a> where we
                    set before night, and returned the<br/> 3 young women under his care. Next day
                    the<br/> Chiefs met, and some of their principal Women<br/> where he informed
                    them in very affecting language<br/> how that he had left all that was near and
                    dear<br/> to him, to accompany their children home<br/> and I can truly say, his
                    life and conversation<br/> has been to me edifying and exemplary</p>
<p>With Desires for his safe return to his family<br/> and Friends from good
                        friend<br/><a href="/people/jdean1">John Dean<persname key="jdean1"></persname></a></p>
<closer> 10th<pb facs="SW_Letters_1801_10a_Page_11" n="11"></pb><br/> To the yearly Meetings Committee on Indian affairs, <signed><list>
<item><a href="/people/dbaco1">David Bacon<persname key="dbaco1"></persname></a></item>
<item><a href="/people/wsave1">William Savery<persname key="wsave1"></persname></a></item>
<item><a href="/people/jcoop1">James Cooper<persname key="jcoop1"></persname></a></item>
<item><a href="/people/jparr1">John Parish<persname key="jparr1"></persname></a></item>
<item><a href="/people/twist1">Thomas Wistar<persname key="twist1"></persname></a></item>
<item><a href="/people/tfish1">Thos Fisher<persname key="tfish1"></persname></a></item>
<item><a href="/people/eyarn1">Ellis Yarnall<persname key="eyarn1"></persname></a></item>
<item><a href="/people/opaxt1">Oliver Paxton<persname key="opaxt1"></persname></a></item>
<item><a href="/people/pbark1">Peter Barker<persname key="pbark1"></persname></a></item>
<item><a href="/people/hdrin1">Henry Drinker<persname key="hdrin1"></persname></a></item>
<item><a href="/people/tstew1">Thos Stewardson<persname key="tstew1"></persname></a></item>
<item><a href="/people/jwhit1">Joseph Whitall<persname key="jwhit1"></persname></a></item>
</list></signed>
<dateline><a href="/places/broth">Brothertown<placename key="broth"></placename></a>
                        with state of <a href="/places/newyo">New York<placename key="newyo"></placename></a><br/> The <date when="1801-10-19">19th of the 10th Month, 1801</date></dateline>
</closer>
</div>
</text>
</tei>
</body></html>