<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Address to the Six Nations: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Constance Hawley</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca.20 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_Letters_1794_09_09</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Mss_004_1794_09_09</idno>
</msidentifier>
<physdesc>
<p>8 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This collection of miscellaneous correspondence is housed at Friends Historical
                    Library, on the campus of Swarthmore College. In the fall semester of 2010,
                    Swarthmore students enrolled in English 50A (“Reading Red, White, and In-Between
                    in Early American Literature”) transcribed these manuscripts as part of a larger
                    project to make the library’s rich store of Quaker Indian mission writings more
                    accessible. The project was designed by Christopher Densmore, Curator of Friends
                    Historical Library, and Keat Murray, Visiting Assistant Professor of English.
                    Transcriptions were compiled and edited in the present form by Professor Murray.
                </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in 1794<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends - New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Quaker women -- Pennsylvania -- Correspondence</item>
<item>Seneca Indians</item>
<item>Philadelphia Yearly Meeting of the Relgious Society of Friends</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item><date></date></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="letter"><pb facs="SW_Letters_1794_09_09_001" n="1"></pb>
<opener> the People call'd Quakers in Pennsylvania and<br/>New Jersy &amp;ca. By their
                    Representatives--assembl'd<br/>--at <dateline><a href="http://127.0.0.1:8000/places/phila">Philadelphia<placename key="phila"></placename></a>. <date when="1794-09-09">9th. month 9th.
                            1794.</date></dateline>
<salute>To--Our Brothers--the Indians of the Six Nations, who have<br/>appointed
                        to meet <del>the Commissioner of the United States</del>
                            at<br/><del>Canadaoque</del>
<a href="http://127.0.0.1:8000/places/kanan">Kanandargua<placename key="kanan"></placename></a> in order for the promotion of
                            <del>a</del> Lasting Peace.<br/>Brothers</salute></opener>
<p>We are always glad, when we have<br/>an opportunity of hearing from you--our old
                    Friends--and using<br/>our endeavours in promoting the good Work of Peace.</p>
<p>Brothers<br/>We understand the President of the<br/>United States has proposed
                    holding a Treaty with you, by<br/>his Commissioners. Our religious profession
                    has<br/>always led us to promote so good a Work--and having been<br/>informed
                    the President of the United States--as also your<br/>Nations, are willing and
                    desirous we should be at the Treaty<br/>We have therefore Authorized our beloved
                    friends <a href="http://127.0.0.1:8000/people/dbaco1">David Bacon<persname key="dbaco1"></persname></a>,<br/>
<a href="http://127.0.0.1:8000/people/jparr1">John Parrish<persname key="jparr1"></persname></a>--<a href="http://127.0.0.1:8000/people/wsave1">Wm.
                        Savery<persname key="wsave1"></persname></a> &amp; <a href="http://127.0.0.1:8000/people/jemle1">Ja. Emlen<persname key="jemle1"></persname></a><br/>to
                    attend the said Treaty for<br/>Us--On whose Behalf we make known to you--that
                    they<br/>are our Friends--whom we greatly love--being true Men<br/>who finding
                    their Love so great to their Indian Brethren<br/>(the old Inhabitants of this
                    Land of America) that they are<br/>willing <del></del>to come and see
                    You--with<br/>desires to do you Good.</p>
<p>Brothers--We meddle not with the Affairs<br/>of Government-- <del>we hate Wars
                        and Bloodshed</del><br/> But <del>on the other hand</del> we desire to do
                    all we can to <br/> preserve<pb facs="SW_Letters_1794_09_09_002" n="2"></pb>preserve and promote Peace and Good-Will
                    amongst all<br/>Men.</p>
<p>Brothers<br/>Our Grand-fathers and friend Onas<br/>were careful in their Day to
                    preserve Peace and Love with<br/>their Brothers the Indians--We their Children
                    and<br/>Successors endeavour to do the Same--and we are happy<br/>when we can
                    prevail on the People <del></del>to be kind<br/>and do Good and not Evil to one
                    Another.</p>
<p>Brothers<br/>We pity the Indians--as well as<br/>the White People when they are
                    brought into Suffering and<br/>Distress--and would do them all the Good in our
                    Power<br/>--and we hope the Great and Good Spirit will pour in into<br/>the
                    Hearts of the great Men of the United States, and<br/>your great Men--to adjust
                    and compromise all their<br/>Differences -- <del>that <gap></gap> Human Blood may no
                        more <br/> stain the Ground, nor the Rivers.</del>.</p>
<p>Brothers<br/>We hope you will receive our Friends<br/>and Brothers <a href="http://127.0.0.1:8000/people/dbaco1">David Bacon<persname key="dbaco1"></persname></a>--<a href="http://127.0.0.1:8000/people/jparr1">John
                        Parrish<persname key="jparr1"></persname></a>--<a href="http://127.0.0.1:8000/people/wsave1">Wm Savery<persname key="wsave1"></persname></a> &amp;
                        <a href="http://127.0.0.1:8000/people/jemle1">Ja. Emlen<persname key="jemle1"></persname></a>--<br/>kindly <del>as if they
                        were ourselves <br/>you may safely confide in them. We have known them
                        <br/>many Years, and know they have good hearts.</del><br/>We have put under
                    their Care a small token<br/>of Love for You--as the Descendents of the
                    first<br/>Inhabitants of this Land of North America<br/>whom our forefathers
                    found here after they had crossd<br/>the great Water--and <del>we hope</del>
                    desiring the Chain <br/>of <br/><pb facs="SW_Letters_1794_09_09_003" n="3"></pb>of Friendship may be kept Bright <del>and
                        Clean from <br/>all Rust</del></p>
<closer><salute>We bid you farewell <br/><del>Brothers <br/>Now we bid you farewell
                        -- hoping you <br/>will be enabled by the great Spirit at the Council fire
                        of <br/>the Treaty -- to remove all the Rubbish out of the Way <br/>to Peace
                        -- that so We and You, and all the Inha- <br/>-bitants of the Land of North
                        America may live <br/>happliy together in true Peace &amp; Friendship
                    </del></salute>
<br/>Signed at our Meeting--<del></del><br/>at <a href="http://127.0.0.1:8000/places/phila">Philadelphia<placename key="phila"></placename></a><br/>The Day &amp; Year first
                    above<br/>--mentioned<signed><list rend="simple">
<item><a href="http://127.0.0.1:8000/people/jmoon1">James Moon<persname key="jmoon1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jhosk1">John Hoskins<persname key="jhosk1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/cwest1">Charles West<persname key="cwest1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/ncoop1">Nathan Coope<persname key="ncoop1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/hdrin1">Henry Drinker<persname key="hdrin1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jlind1">Jacob Lindley<persname key="jlind1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/ssmit1">Samuel Smith<persname key="ssmit1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jdrin1">John Drinker<persname key="jdrin1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jbring1">Joseph Bringhurst<persname key="jbring1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/ddrin1">Daniel Drinker<persname key="ddrin1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jbunt2">Josiah Bunting<persname key="jbunt2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/nwaln1">Nicholas Waln<persname key="nwaln1"></persname></a></item>
<item><persname key="nclea1"></persname>Nathan Cleaver</item>
<item><a href="http://127.0.0.1:8000/people/bmaso1">Benjamin Mason<persname key="bmaso1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/ccress1">Caleb Cresson<persname key="ccress1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/ssmit1">Samuel Smith<persname key="ssmit1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/wmiff1">Warner Mifflin<persname key="wmiff1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/bswet1">Benj. Swett<persname key="bswet1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/twalm1">Tho. Walmsby<persname key="twalm1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/wblak1">Wm. Blakey<persname key="wblak1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/opaxt1">Oliver Paxson<persname key="opaxt1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jkirk1">Jon. Kirkbride<persname key="jkirk1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/eevan1">Enoch Evans<persname key="eevan1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jrobe1">John Roberts<persname key="jrobe1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/mmill2">Mark Miller<persname key="mmill2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/tgask1">Tho. Gaskill<persname key="tgask1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jgill1">John Gillingham<persname key="jgill1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/sgumm1">Samuel Gummere<persname key="sgumm1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/wwils2">William Wilson<persname key="wwils2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jcress1">James Cresson<persname key="jcress1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/ccarm1">Caleb Carmalt<persname key="ccarm1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/sclar1">Sam. Clark<persname key="sclar1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/tmorr1">Tho. Morris<persname key="tmorr1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jfiel1">John Field<persname key="jfiel1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jevan2">Jon. Evans jun.<persname key="jevan2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jelli1">John Elliott<persname key="jelli1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jfoul1">Jesse Foulke<persname key="jfoul1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/aharv1">Amos Harvey<persname key="aharv1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/smend1">Stephen Mendenhall<persname key="smend1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/pyarn1">Peter Yarnall<persname key="pyarn1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/obidd1">Owen Biddle<persname key="obidd1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/bclar1">Benj. Clark<persname key="bclar1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/dcumm1">David Cumming<persname key="dcumm1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jpemb1">James Pemberton<persname key="jpemb1"></persname></a></item>
</list></signed>
</closer>
</div>
<div type="undetermined">
<pb facs="SW_Letters_1794_09_09_004" n="4"></pb>
</div>
<div type="letter">
<pb facs="SW_Letters_1794_09_09_005" n="5"></pb>
<opener>The People called Quakers in Pennsylvania and New Jersey &amp;c.<br/>By their
                    Representatives assembled at <a href="http://127.0.0.1:8000/places/phila">Philadelphia<placename key="phila"></placename></a>
<dateline><date when="1794-09-09">9th. mo. 9th. 1794</date></dateline>
<salute>To our Brothers the Indians of the <a href="http://127.0.0.1:8000/organizations/sxntns">Six
                            Nations<orgname key="sxntns"></orgname></a> who have appointed to<br/>meet at <a href="http://127.0.0.1:8000/places/kanan">Kanandargua<placename key="kanan"></placename></a> in order for the promotion of
                        lasting Peace.</salute>
</opener>
<p>Brothers<br/>We are always glad when we have an Opportunity of hearing from
                    you<br/>Our Old Friends, and using our endeavours in promoting the good work of
                    Peace.</p>
<p>Brothers<br/>We understand the President of the United States has
                    proposed<br/>holding a Treaty with You, by his Commissioner.</p>
<p>Our Religious Profession has always led us to promote so good a Work--<br/>And
                    having been informed <del></del>the President of the United States, as also
                    your<br/>Nations are willing and desirous we should be at the Treaty. We have
                    therefore<br/>Authorized our beloved Friends <a href="http://127.0.0.1:8000/people/dbaco1">David
                        Bacon<persname key="dbaco1"></persname></a>, <a href="http://127.0.0.1:8000/people/jparr1">John Parrish<persname key="jparr1"></persname></a>, <a href="http://127.0.0.1:8000/people/wsave1">William Savery<persname key="wsave1"></persname></a>, and <br/><a href="http://127.0.0.1:8000/people/jemle1">James Emlen<persname key="jemle1"></persname></a> to attend the said Treaty for us, on whose behalf we
                    make known to<br/>you, that they are our Friends--whom we greatly love--being
                    true Men, who finding<br/>their Love so great to their Indian Brethren the Old
                    Inhabitants of this Land of<br/>Anerica, that they are willing to come and see
                    you, with desires to do you good.</p>
<p>Brothers<br/>We meddle not with the affairs of Government<br/>But we desire to do
                    all we can to preserve and promote Peace and good will amongst<br/>all Men.</p>
<p>Brothers<br/>Our Grandfathers and Friend Onas, were careful in their Day
                    to<br/>preserve Peace and Love with their Brothers the Indians.<br/> We their
                    Children and Successors endeavour to do the same, and we are happy<br/>when we
                    can prevail on the People to be kind, and do good, and not evil to one
                    another.</p>
<p>Brothers<br/>We pity the Indians as well as the White People when they <br/>are
                    <br/><pb facs="SW_Letters_1794_09_09_006" n="6"></pb> are brought into Suffering and Distress, and would do them all the
                    Good in our<br/>Power--and we hope the Great and Good Spirit will put it into
                    the Hearts<br/>of the Great Men of the United States, and your Great Men, to
                    adjust<br/>and Compromise all their differences.</p>
<p>Brothers<br/>We hope you will receive our Friends and Brothers, <a href="http://127.0.0.1:8000/people/dbaco1">DavidBacon<persname key="dbaco1"></persname></a>, <a href="http://127.0.0.1:8000/people/jparr1">John
                        Parrish<persname key="jparr1"></persname></a>, <a href="http://127.0.0.1:8000/people/wsave1">William Savery<persname key="wsave1"></persname></a>, and
                        <a href="http://127.0.0.1:8000/people/jemle1">James Emlen<persname key="jemle1"></persname></a> kindly. We have<br/>put under
                    their Care a small token of Love, for you, as the Descendants of the<br/>first
                    Inhabitants of this Land of North America, whom our fore fathers found<br/>here,
                    after they had crossed the great Water.</p>
<closer><salute></salute>And desiring the Chain of Friend-<br/>ship may be kept bright We
                    bid you Farewell.<br/>Signed at our Meeting at <a href="http://127.0.0.1:8000/places/phila">Philadelphia<placename key="phila"></placename></a> the Day and Year<br/>first abovementioned.
                </closer>
</div>
<div type="undetermined">
<pb facs="SW_Letters_1794_09_09_007" n="7"></pb>
<pb facs="SW_Letters_1794_09_09_008" n="8"></pb>
<note resp="unknown">During our Stay with them they made<br/>several Speeches to us,
                    and some difficulties<br/>occuring in the course of the Treaty, they
                    re-<br/>quested our Counsel &amp; Advice w.ch we gave<br/>them as well as we
                    were qualified to do.<br/>Leaving out the remainder of this Paragraph;<br/>also
                    omitting wholly the third &amp; sixth<br/>Paragraphs</note>
</div>
</text>
</tei>
</body></html>