<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Letter to the Shawanese, Delawares &amp; others from Quakers of Pennsylvania
                    and New Jersey, 1795: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Constance Hawley</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca.16 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_Letters_1795_05_22</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Mss_004_1795_05_22</idno>
</msidentifier>
<physdesc>
<p>3 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This collection of miscellaneous correspondence is housed at Friends Historical
                    Library, on the campus of Swarthmore College. In the fall semester of 2010,
                    Swarthmore students enrolled in English 50A (“Reading Red, White, and In-Between
                    in Early American Literature”) transcribed these manuscripts as part of a larger
                    project to make the library’s rich store of Quaker Indian mission writings more
                    accessible. The project was designed by Christopher Densmore, Curator of Friends
                    Historical Library, and Keat Murray, Visiting Assistant Professor of English.
                    Transcriptions were compiled and edited in the present form by Professor Murray.
                </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in 1795<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends - New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Quaker women -- Pennsylvania -- Correspondence</item>
<item>Seneca Indians</item>
<item>Philadelphia Yearly Meeting of the Relgious Society of Friends</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item></item>
<item></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="letter"><pb facs="SW_Letters_1795_05_22_Page_1" n="1"></pb>
<opener>The People called Quakers in Pennsylvania, New Jersey &amp; other
                    neighbouring Governments<br/>By their Representatives assembled at
                            <dateline><a href="http://127.0.0.1:8000/places/phila">Philadelphia<placename key="phila"></placename></a>
<date when="1795-05-22">5th. Mo. 22 1795</date></dateline><br/><salute>To
                        our Brothers the <a href="http://127.0.0.1:8000/organizations/shawnee">Shawanese<orgname key="shawnee"></orgname></a>, <a href="http://127.0.0.1:8000/organizations/delaware">Delawares<orgname key="delaware"></orgname></a>
<a href="http://127.0.0.1:8000/organizations/wyandot">Wyandots<orgname key="wyandot"></orgname></a>, <a href="http://127.0.0.1:8000/organizations/miami">Miamis<orgname key="miami"></orgname></a> &amp; other Nations of Indians<br/>who prepose
                            <del>holding</del> kindling a Counsil fire at <gap></gap> for
                        establishing<br/>peace between them &amp; the United
                    States.</salute></opener>
<p>Brothers<br/>When a time was agreed on <date when="1793">two years since</date>,
                    for kindling<br/>Council fire at <a href="http://127.0.0.1:8000/places/sandu">Sandusky<placename key="sandu"></placename></a>,
                    our hearts were made to rejoice, in hope the<br/>good work of peace would go
                    forward; Six of our Brothers took a long journey<br/>to see <del></del>you at that
                    time, under a desire of affording their assistance<br/>to make the Council fire
                    burn bright, but by the working of that bad Spirit<br/>which <gap></gap>the
                    happiness of all Men, <del>that</del> the intended Treaty was frustrated, and
                        our<br/><del>said</del>friends were under the painful necessity of returning
                    home with the<br/>sorrowful tidings, that War, the sad destroyer of Mankind, was
                    likely to be<br/>continued; since which the accounts received from your Country
                    of as much<br/>Blood being shed <del>on both sides</del> have occasioned our
                    lamentation &amp; mourning.</p>
<p>Brothers<br/>We then sent you an Address, <del>accompanied with a small present
                        <br/>as a Token of our Love and rememberance of you, which our said six
                        friends <br/>entrusted</del> wch way <del>committed</del> directed by our sd
                    6 Frnds <br/>to the care of <a href="http://127.0.0.1:8000/people/amcke1">Col. McKee<persname key="amcke1"></persname></a>
<del></del>but as we have <del></del>had no<br/>information of your having received it, we
                    herewith send you a Copy. A<br/>small present, as a token of our love &amp; and
                    remembrance of you, was also sent by our Brethren abovement.<br/>which they had
                    not the satisfaction of delivering to you.</p>
<p>Brothers<br/>It affords us much Comfort that a stop is so far put to the
                    further<br/>effusion of Blood, and we earnestly desire that in the Council
                    fire<br/>now about to be kindled, your trust &amp; dependance may be on the
                    Great<br/>over ruling Spirit of Peace &amp; Love, whereby he may be pleased so
                    to influence &amp; direct<br/>your Councils as that the sound of War may no more
                    be heard in your<br/>Land.</p>
<p>Brothers<br/>We have often been grieved at beholding the sad effects
                        <del>eperienced by</del> produced in unguarded Men of whatever Nation from
                        <del>which</del><br/>the exessive use of strong drink <del>produce</del> and
                    particularly on the <del>Red</del> Indian people, even when<br/>deliberating on
                    the solemn Business of Treaties which are intended to bind them and<br/>their
                    posterity to future Generations, and are anxiously solicitous that <del>in
                        <br/>the present Treaty it may be</del> you may be weisly <gap></gap> determined
                    to take up a pious resolution to abstain-<pb facs="SW_Letters_1795_05_22_Page_2" n="2"></pb>from that evil practice.</p>
<p>Brothers<br/>We continue <del><gap></gap></del>sincerely desirous that your Trust
                    &amp; <del>Dependence</del> Confi-<br/>dence may be <del><gap></gap></del> placed on
                    the Great &amp; Good Spirit, &amp; that by <del>a state of</del>
                    inward<br/>watchfulness &amp; <del>daily</del> prayer your kinds may become
                        <del>illuminated</del> enlightened more clearly to see<br/>the impropriety
                    of men shedding the Blood of their fellow men, thus might you<br/>gradually be
                    redeemed from that unjust &amp; revengeful Spirit from which
                        Wars<br/><del>originate</del> proceed.</p>
<p>We much desire your further acquaintance with the <gap></gap><br/>
<del><unclear>precepts</unclear></del>pure &amp; peaceable Spirit of the Gospel,
                    and apprehend you would experience many benefits<br/>by having your Children
                    taught to read <del>and</del> write; or <del>in <gap></gap> interest and that
                        <br/>they might <gap></gap> instructed in our manner of</del> till<del></del>ing the
                    Earth; <del>if you can <br/>devise any eligible Mode, wherein we <gap></gap>
                        particulars, <br/>we will cheerfully contribute towards your Aide &amp;
                        relief </del></p>
<closer><del><gap></gap><br/>may be generally promoted amongst your people <gap></gap>
</del> as expressed in the<br/>abovement. Copy of our former Letter,
                    to which we refer <del></del>and <salute>remain your<br/>Friends &amp; Brethren.</salute><signed><list type="simple">
<item><a href="http://127.0.0.1:8000/people/jpemb1">James Pemberton<persname key="jpemb1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jparr1">John Parrish<persname key="jparr1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/dbaco1">David Bacon<persname key="dbaco1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/gchur1">Geo. Churchman<persname key="gchur1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/semle1">Samuel Emlen<persname key="semle1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/hdrin1">Henry Drinker<persname key="hdrin1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jsimp1">John Simpson<persname key="jsimp1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/rkirk1">Rob. Kirkbride<persname key="rkirk1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/ncoop1">Nathan Coope<persname key="ncoop1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jbunt2">Josiah Bunting<persname key="jbunt2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jdrin1">John Drinker<persname key="jdrin1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/nwaln1">Nicholas Waln<persname key="nwaln1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/opaxt1">Oliver Paxson<persname key="opaxt1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jbring1">Jos. Bringhurst<persname key="jbring1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/smere1">Simon Meredith<persname key="smere1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/ssmit1">Samuel Smith<persname key="ssmit1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/twalm1">Tho. Walmsby<persname key="twalm1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/bswet1">Benjamin Swett<persname key="bswet1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/nsmit1">Nathan A Smith<persname key="nsmit1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jwhit3">James Whiteall jun.<persname key="jwhit3"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jjack2">James Jackson<persname key="jjack2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jcress1">James Cresson<persname key="jcress1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jpott2">Joseph Potts<persname key="jpott2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/wwils2">Wm. Wilson<persname key="wwils2"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/sclar1">Samuel Clark<persname key="sclar1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/tgeor1">Thomas George<persname key="tgeor1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jelli1">John Elliott<persname key="jelli1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/ccarm1">Caleb Carmalt<persname key="ccarm1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jbaco1">Job Bacon<persname key="jbaco1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/eevan1">Enoch Evans<persname key="eevan1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/tligh1">Tho. Lightfoot<persname key="tligh1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/sgumm1">Samuel Gummere<persname key="sgumm1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/tmorr1">Tho. Morris<persname key="tmorr1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/dcumm1">David Cumming<persname key="dcumm1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/obidd1">Owen Biddle<persname key="obidd1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jemle1">James Emlen<persname key="jemle1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/aharv1">Amos Harvey<persname key="aharv1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jfoul1">Jesse Foulke<persname key="jfoul1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/smend1">Stephen Mendenhall<persname key="smend1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jwist1">John Wistar<persname key="jwist1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jevan2">Jon. Evans<persname key="jevan2"></persname></a></item>
</list></signed>
</closer>
</div>
</text>
</tei>
</body></html>