<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Subscriptions from Shrewsbury Monthly Meeting for Promoting the Civilization and Well-Being of the Indian
                    Natives: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>NAME</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca. 36 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so only with the permission of Friends
                        Historical Library of Swarthmore College. This is the case whether the new
                        publication will be made available at a cost or free of charge.</p>
</availability>
<date when="2015">2015</date>
<idno type="local">SW_NYYM_Subscriptions</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>NYYM Records</collection>
<idno>RG2/NYy/700</idno>
</msidentifier>
<physdesc>
<p>6 pp. (1 folder)</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This collection of Subscriptions is housed at Friends Historical Library, on the
                    campus of Swarthmore College. </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in <date from="1805" to="1824">1805-1824</date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list><item>Onondaga Indians</item>
<item>Quakers -- New York (State)</item>
<item>Indians of North America</item>
<item>New York Yearly Meeting of the Relgiious Society of Friends</item>
<item>Accounts</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item>
<date when="2015"></date>POD edit</item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="accounts"><pb facs="SW_NYYMsubscriptions_Page_001" n="1"></pb>
<dateline><date when="1805-10"></date><placename key="shrew"></placename></dateline>
<p>We, the Subscribers, do hereby agree, and promise to pay<br/> on, or before the
                    first day of the second Month next, unto the<br/> person, or persons appointed
                    by the Monthly Meeting of Friends<br/> in <a href="http://127.0.0.1:8000/places/shrew">Shrewsbury<placename key="shrew"></placename></a> to collect the same, the sum of Money here
                    under<br/> written against our names, to be applied to the benevolent<br/>
                    purposes of promoting the Civilization and well being of the<br/> Indian Natives
                        <date when="1805-10">10th Month 1805</date></p>
<table>
<row>
<cell>Subscribers names</cell>
<cell>sum (in words)</cell>
<cell>if paid</cell>
<cell>£</cell>
<cell>S.</cell>
<cell>D</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/wpark1">William Parker Junr<persname key="wpark1"></persname></a></cell>
<cell>Two Dollers </cell>
<cell>X</cell>
<cell>0</cell>
<cell>16</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jalle3">Jediah Allen<persname key="jalle3"></persname></a></cell>
<cell>half a Doller</cell>
<cell>X</cell>
<cell>0</cell>
<cell>4</cell>
<cell>0</cell>
</row>
</table>
</div>
<div type="accounts">
<pb facs="SW_NYYMsubscriptions_Page_002" n="2"></pb>
<dateline><date when="1805-10"></date><placename key="shrew"></placename></dateline>
<p>We the Subscribers Do hereby agree and promis to pay<br/> on or before the <date when="1806-02-01">first Day of the Second Month Next</date><br/> unto the
                    person or persons appointed by the Monthly Meeting<br/> of Friends in <a href="http://127.0.0.1:8000/places/shrew">Shrewsbury<placename key="shrew"></placename></a> to collect the Same the Sum of<br/> money
                    heare under Written against our Names to be applied<br/> to the benevolent
                    purpose of promoting the civilization<br/> &amp; Well being of the Indian
                    Natives </p>
<table>
<row>
<cell>Subscribers names</cell>
<cell>Sum Linewords-</cell>
<cell>if paid</cell>
<cell>£</cell>
<cell>S.</cell>
<cell>D</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jmorr2">James Morris----X<persname key="jmorr2"></persname></a></cell>
<cell>one dollors---</cell>
<cell>paid</cell>
<cell>0</cell>
<cell>8</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jlawr1">James Lawrence---X<persname key="jlawr1"></persname></a></cell>
<cell>fifty cents---</cell>
<cell>paid</cell>
<cell>0</cell>
<cell>4</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/tcook1">Thomas Cook---X<persname key="tcook1"></persname></a></cell>
<cell>one dollor and 25 cents</cell>
<cell>paid</cell>
<cell>0</cell>
<cell>10</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/ecurt1">Ebenezor Curtis X<persname key="ecurt1"></persname></a></cell>
<cell>one dollor</cell>
<cell>paid</cell>
<cell>0</cell>
<cell>8</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/bjack1">Benjamine Jackson X<persname key="bjack1"></persname></a></cell>
<cell>one dollor and 25 cents</cell>
<cell>paid</cell>
<cell>-</cell>
<cell>10</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/elafe1">Edmond Lafetra X<persname key="elafe1"></persname></a></cell>
<cell>fifty cents</cell>
<cell>paid</cell>
<cell>-</cell>
<cell>4</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/ttilt1">thomas tilton X<persname key="ttilt1"></persname></a></cell>
<cell>one dollor</cell>
<cell>paid</cell>
<cell> </cell>
<cell>8</cell>
<cell> </cell>
</row>
</table>
</div>
<div type="accounts">
<pb facs="SW_NYYMsubscriptions_Page_003" n="3"></pb>
<dateline><date when="1805-10"></date><placename key="shrew"></placename></dateline>
<p>We the Subscribers do hereby agree and promise<br/> to pay on or before the <date when="1806-02-01">first Day of the Second Month<br/> next</date>, unto the
                    Person or Persons appointed by the Monthly<br/> Meeting of Friends in <a href="http://127.0.0.1:8000/places/shrew">Shrewsbury<placename key="shrew"></placename></a> to collect the same,<br/> the sums of
                    Money here under written against our names,<br/> to be applied to the benevolent
                    purposes of promoting<br/> the civilization and wellbeing of the Indian natives
                        <date when="1805-10">10th Mo 1805</date><br/>
</p>
<table>
<row>
<cell>Subscribers Names</cell>
<cell>Sum in words</cell>
<cell>if pd</cell>
<cell>£</cell>
<cell>S.</cell>
<cell>D</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jhart1">John Hartshorne--<persname key="jhart1"></persname></a></cell>
<cell>Eight Dollars---</cell>
<cell>pd</cell>
<cell>JH.3</cell>
<cell>4</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jhart2">John Hartshorne Jr.<persname key="jhart2"></persname></a></cell>
<cell>Five Dollars---</cell>
<cell>pd</cell>
<cell>2</cell>
<cell>0</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jsalt1">Joseph Salter<persname key="jsalt1"></persname></a></cell>
<cell>Five Dollars</cell>
<cell>pd</cell>
<cell>JH2</cell>
<cell>0</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/tbord1">Thomas<persname key="tbord1"></persname></a> &amp; <a href="http://127.0.0.1:8000/people/bbord1">Benjamin Borden<persname key="bbord1"></persname></a></cell>
<cell>Six Dollars---</cell>
<cell>pd</cell>
<cell>JH2</cell>
<cell>8</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/bcovl1">Benjamin Covlies X<persname key="bcovl1"></persname></a></cell>
<cell>four Dollars</cell>
<cell>pd J.H.</cell>
<cell>1</cell>
<cell>12</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/whanc1">William Hance<persname key="whanc1"></persname></a></cell>
<cell>Three Dollars</cell>
<cell>pd</cell>
<cell>1</cell>
<cell>4</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jbord11">John Borden x<persname key="jbord11"></persname></a></cell>
<cell>one Doller</cell>
<cell>paid B White</cell>
<cell>0</cell>
<cell>8</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jwhit11">Joseph White x<persname key="jwhit11"></persname></a></cell>
<cell>one Doller</cell>
<cell>pd J.H</cell>
<cell>-</cell>
<cell>8</cell>
<cell> </cell>
</row>
<row>
<cell><unclear>H</unclear> Park</cell>
<cell>fifteen Dolers</cell>
<cell>BW</cell>
<cell>6</cell>
<cell>0</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/rwhit1">Rob<persname key="rwhit1"></persname></a> &amp; <a href="http://127.0.0.1:8000/people/bwhit1">Benj White<persname key="bwhit1"></persname></a></cell>
<cell>Eight Doller x</cell>
<cell>BW</cell>
<cell>3</cell>
<cell>4</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jcorl1">Jacob Corlis Jn x<persname key="jcorl1"></persname></a></cell>
<cell>too Dollars</cell>
<cell>pd J.H.</cell>
<cell>0</cell>
<cell>16</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/gwhit2">George A White<persname key="gwhit2"></persname></a></cell>
<cell>one dollar</cell>
<cell>pd BW</cell>
<cell> </cell>
<cell>8</cell>
<cell>0</cell>
</row>
<row>
<cell>Brittain White</cell>
<cell>Five Dollars</cell>
<cell>BW</cell>
<cell>2</cell>
<cell>0</cell>
<cell>0</cell>
</row>
<row>
<cell> </cell>
<cell> </cell>
<cell> </cell>
<cell>£2512</cell>
<cell> </cell>
<cell> </cell>
</row>
</table>
</div>
<div type="accounts">
<pb facs="SW_NYYMsubscriptions_Page_004" n="4"></pb>
<dateline><date when="1824"></date><placename key="shrew"></placename></dateline>
<p>Dr Indian Com. -- In Trust With
                    <a href="http://127.0.0.1:8000/people/jbarr1">John Barrow Treasurer<persname key="jbarr1"></persname></a>
</p>
<table>
<row>
<cell>1821<br/>1mo 24</cell>
<cell>To Cash remitted M Doxeter p order Com</cell>
<cell>$20</cell>
<cell>1820<br/> 12mo</cell>
<cell>Br Amt of <unclear>Bol o Aut selled</unclear></cell>
<cell>132 65</cell>
</row>
<row>
<cell>4m 26</cell>
<cell>Cash pd <unclear>Voler</unclear> Hicks p order Acos
                            Ruthbone</cell>
<cell>52</cell>
<cell>1822<br/> 6m 6</cell>
<cell>Cash of Treasurer Mo Meet NY prin or Bond</cell>
<cell>500</cell>
</row>
<row>
<cell>6 mo 9</cell>
<cell>Cash pd <unclear>J Evernis</unclear> name p order
                            Jas Mott</cell>
<cell>60</cell>
<cell> </cell>
<cell><unclear>Interest in Bond to M Mott</unclear></cell>
<cell>150</cell>
</row>
<row>
<cell>10m 3</cell>
<cell>Cash pd <a href="http://127.0.0.1:8000/people/teddy1">Tho Eddy<persname key="teddy1"></persname></a> p oder Com </cell>
<cell>2297</cell>
<cell>1823</cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell>12m 12</cell>
<cell>Cash pd <unclear>James Mott for LP Mott</unclear></cell>
<cell>5550</cell>
<cell>523</cell>
<cell>Cash of Treasurer to Mo Meet Bond</cell>
<cell>500</cell>
</row>
<row>
<cell> </cell>
<cell>Cash pd <a href="http://127.0.0.1:8000/people/cwill2">Chas Willis<persname key="cwill2"></persname></a></cell>
<cell>1423</cell>
<cell> </cell>
<cell>Interest on Do</cell>
<cell>120</cell>
</row>
<row>
<cell>1822<br/> 5mo 29</cell>
<cell>Cash pd <a href="http://127.0.0.1:8000/people/cwill2">Chas Willis<persname key="cwill2"></persname></a></cell>
<cell>1312</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell>6mo 1</cell>
<cell>Cash pd <a href="http://127.0.0.1:8000/people/teddy1">Tho Eddy<persname key="teddy1"></persname></a></cell>
<cell>2867</cell>
<cell>1824<br/> 6m 3</cell>
<cell>Cash of Treasurer Mo Meet NY</cell>
<cell>500</cell>
</row>
<row>
<cell>6m 28</cell>
<cell>Cash pd Wm J Burling (A Cany)</cell>
<cell>100</cell>
<cell> </cell>
<cell>Interest on Do</cell>
<cell>90</cell>
</row>
<row>
<cell>12- 6</cell>
<cell>Cash pd <a href="http://127.0.0.1:8000/people/teddy1">Tho Eddy<persname key="teddy1"></persname></a></cell>
<cell>24</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell>1823</cell>
<cell>Cash pd Adam Cony Dft</cell>
<cell>180</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell>5m 23</cell>
<cell>Cash pd Adam Cony</cell>
<cell>300</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell>7m 12</cell>
<cell>Cash p <a href="http://127.0.0.1:8000/people/whick1">Willet Hicks<persname key="whick1"></persname></a> (A Civz</cell>
<cell>100</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell>10 14</cell>
<cell>Cash p Adam Cony</cell>
<cell>220</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell>1824<br/> 1mo 20</cell>
<cell>Cash pd <a href="http://127.0.0.1:8000/people/teddy1">Tho Eddy<persname key="teddy1"></persname></a></cell>
<cell>5</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell>5 mo 6</cell>
<cell>Cash pd Adam Cony Dft</cell>
<cell>130 85</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell>6 mo 3</cell>
<cell>Cash pd Tho Willes p order Co</cell>
<cell>31 47</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell>10-20</cell>
<cell>Cash pd A Cony Dft</cell>
<cell>400</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
</table>
</div>
<div type="accounts">
<pb facs="SW_NYYMsubscriptions_Page_005" n="5"></pb>
<dateline><date when="1805-10"></date><placename key="shrew"></placename></dateline>
<p>We the Subscribers, do hereby agree and promise to pay on<br/> or before the
                        <date when="1806-02-01">first day of the Second Month next</date>, unto
                    the<br/> person, or persons appointed by the Monthly Meeting of<br/> Friends in
                        <a href="http://127.0.0.1:8000/places/shrew">Shrewsbury<placename key="shrew"></placename></a>, to collect the same the sum
                    of money<br/> hereunder written against our names, to be applied <del>to
                        the</del><br/> to the benevolent purposes of promoting the civilization
                    and<br/> well being of the Indian Natives<br/>
<date when="1805-10">10th Mo 1805</date></p>
<table>
<row>
<cell>Subscribers Names</cell>
<cell>Sum in (words)</cell>
<cell>if paid</cell>
<cell> </cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/bpark1">Benjamin Parker<persname key="bpark1"></persname></a></cell>
<cell>Three Dollars X Paid</cell>
<cell> </cell>
<cell>1</cell>
<cell>4</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jwolc1">Joseph Wolcott<persname key="jwolc1"></persname></a></cell>
<cell>Two Dollars X Paid</cell>
<cell> </cell>
<cell>0</cell>
<cell>16</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/pwolc1">Peter Wolcott<persname key="pwolc1"></persname></a></cell>
<cell>one Dollar X</cell>
<cell> </cell>
<cell>0</cell>
<cell>8</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jalle4">Joseph Allen<persname key="jalle4"></persname></a></cell>
<cell>Two Dollars X</cell>
<cell> </cell>
<cell>0</cell>
<cell>16</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/gcorl1">George Corlies<persname key="gcorl1"></persname></a></cell>
<cell>Two Dollars X</cell>
<cell> </cell>
<cell>0</cell>
<cell>16</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jlafe1">James Lafetra<persname key="jlafe1"></persname></a></cell>
<cell>Two Dollars X Paid</cell>
<cell> </cell>
<cell> </cell>
<cell>16</cell>
<cell> </cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/rpark1">Robert Parker<persname key="rpark1"></persname></a></cell>
<cell>Three Dollars X Paid</cell>
<cell> </cell>
<cell>1</cell>
<cell>4</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/jwool1">Jacob Woolley<persname key="jwool1"></persname></a></cell>
<cell>Six Dollar X Paid</cell>
<cell>0</cell>
<cell>2</cell>
<cell>8</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/spark2">Samuel Parker<persname key="spark2"></persname></a></cell>
<cell>one &amp; half Dollars X Paid</cell>
<cell>0</cell>
<cell>0</cell>
<cell>12</cell>
<cell>0</cell>
</row>
<row>
<cell> </cell>
<cell> </cell>
<cell>£</cell>
<cell>9</cell>
<cell>0</cell>
<cell>0</cell>
</row>
</table>
</div>
<div type="accounts">
<pb facs="SW_NYYMsubscriptions_Page_006" n="6"></pb><dateline><date when="1805-10"></date><placename key="shrew"></placename></dateline>
<p>Subscriptions for<br/> raising Money<br/> On Indian affairs<br/> rcd $149<br/>
                    all the within Sub-<br/>scriptions</p>
<pb facs="SW_NYYMsubscriptions_Page_007" n="7"></pb>
<p>We the Subscribers do hereby agree and promise to pay<br/> on or before the <date when="1806-02-01">first day of the second Month next</date> unto the<br/>
                    person, or persons appointed by the Monthly Meeting of<br/> Friends in
                        <a href="http://127.0.0.1:8000/places/shrew">Shrewsbury<placename key="shrew"></placename></a> to collect the same, the sum
                    of Money<br/> hereunder written against our names, to be applied to the<br/>
                    benevolent purposes of promoting the civilization and<br/> well being of the
                    Indian Natives <date when="1805-10">10th mo 1805</date></p>
<table>
<row>
<cell>Subscribers Names</cell>
<cell>Sum, in words</cell>
<cell>if paid</cell>
<cell>£</cell>
<cell>S.</cell>
<cell>D</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/ewill2">Edmund Williams<persname key="ewill2"></persname></a></cell>
<cell>Twenty five Dollers</cell>
<cell>paid</cell>
<cell>10</cell>
<cell>0</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/ntilt1">Nathan Tilton<persname key="ntilt1"></persname></a></cell>
<cell>Twet Dollors</cell>
<cell>paid</cell>
<cell>...</cell>
<cell>16</cell>
<cell> </cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/ttilt1">Thomas<persname key="ttilt1"></persname></a> &amp; <a href="http://127.0.0.1:8000/people/atilt1">Amos Tilton<persname key="atilt1"></persname></a></cell>
<cell>Five Dollars</cell>
<cell>paid</cell>
<cell>2</cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/otilt1">Obadiah Tilton<persname key="otilt1"></persname></a></cell>
<cell>three Dollers</cell>
<cell>paid</cell>
<cell>1</cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/rtilt1">Robert Tilton<persname key="rtilt1"></persname></a></cell>
<cell>Two Dollars &amp; 50 Cents</cell>
<cell>paid</cell>
<cell>..1</cell>
<cell> </cell>
<cell> </cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/dtilt1">David Tilton<persname key="dtilt1"></persname></a></cell>
<cell>Two Dollars</cell>
<cell>paid</cell>
<cell>...</cell>
<cell>16</cell>
<cell> </cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/twill2">Tylee Williams<persname key="twill2"></persname></a></cell>
<cell>Five Dollars</cell>
<cell>paid</cell>
<cell>2</cell>
<cell>0</cell>
<cell>0</cell>
</row>
<row>
<cell> </cell>
<cell><a href="http://127.0.0.1:8000/people/eblac1">Ezma Black<persname key="eblac1"></persname></a><br/> One Dollar</cell>
<cell>...</cell>
<cell> </cell>
<cell>8</cell>
<cell>0</cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/rshre1">Rueben Shreeve<persname key="rshre1"></persname></a></cell>
<cell>One Dollar</cell>
<cell>paid</cell>
<cell> </cell>
<cell>8</cell>
<cell> </cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/htilt1">Hester Tilton<persname key="htilt1"></persname></a></cell>
<cell>One Dollar</cell>
<cell>paid</cell>
<cell> </cell>
<cell>8</cell>
<cell> </cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/rlawr2">Richd Lawrence<persname key="rlawr2"></persname></a></cell>
<cell>One Dollar</cell>
<cell>paid</cell>
<cell> </cell>
<cell>8</cell>
<cell> </cell>
</row>
<row>
<cell><a href="http://127.0.0.1:8000/people/whart1">Willm Hartshorne<persname key="whart1"></persname></a></cell>
<cell>Three Dollars</cell>
<cell>paid</cell>
<cell>1</cell>
<cell>4</cell>
<cell> </cell>
</row>
<row>
<cell> </cell>
<cell>Fifty One Dollars &amp; 50 Cents</cell>
<cell>...</cell>
<cell>20</cell>
<cell>12</cell>
<cell> </cell>
</row>
</table>
<p>Red $147. Total</p>
</div>
<div type="accounts">
<pb facs="SW_NYYMsubscriptions_Page_008" n="8"></pb><dateline><date when="1818-12-31"></date><placename key="nycit"></placename></dateline>
<p><a href="http://127.0.0.1:8000/people/ewebs1">Ephraim Webster<persname key="ewebs1"></persname></a> Bought of
                        <gap></gap><br/> For the Use the <a href="http://127.0.0.1:8000/organizations/onondaga">Onondaga<orgname key="onondaga"></orgname></a> Indians<br/> ....1 Flax Wheel.....$4.50<br/>....1
                        Hetchell.....2.50<br/>.....1 Reel.....2mo<br/>....13a
                    Wool...6.50<br/> And $15.50<br/>
<unclear>Mr Barrus</unclear> Treasurer of the Friends
                    Society<br/> of <a href="http://127.0.0.1:8000/places/nycit">N York City<placename key="nycit"></placename></a> pay the Above
                    fifteen dolls<br/> and fifty Cts To
                    <persname><unclear>Mr. John Mowatt Jr.</unclear></persname><br/> of the
                        <a href="http://127.0.0.1:8000/places/nycit">City of N York<placename key="nycit"></placename></a><br/>
<a href="http://127.0.0.1:8000/people/ewebs1">Ephm Webster<persname key="ewebs1"></persname></a><br/>
<a href="http://127.0.0.1:8000/organizations/onondaga">Onondaga<orgname key="onondaga"></orgname></a>
<gap></gap> Dec 31 1818<br/> Recd the above for
                            <persname><unclear>John Mowatt</unclear><br/>
<persname>Henry <gap></gap></persname></persname></p>
</div>
</text>
</tei>
</body></html>