<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Letter to the Quarterly Meeting of Friends at Hopewell: Electronic
                    Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Constance Hawley</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca.5 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_Letters_1794_00_00</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Mss_004_1794_00_00</idno>
</msidentifier>
<physdesc>
<p>2 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This collection of miscellaneous correspondence is housed at Friends Historical
                    Library, on the campus of Swarthmore College. In the fall semester of 2010,
                    Swarthmore students enrolled in English 50A (“Reading Red, White, and In-Between
                    in Early American Literature”) transcribed these manuscripts as part of a larger
                    project to make the library’s rich store of Quaker Indian mission writings more
                    accessible. The project was designed by Christopher Densmore, Curator of Friends
                    Historical Library, and Keat Murray, Visiting Assistant Professor of English.
                    Transcriptions were compiled and edited in the present form by Professor Murray.
                </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in 1794<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends - New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Quaker women -- Pennsylvania -- Correspondence</item>
<item>Seneca Indians</item>
<item>Philadelphia Yearly Meeting of the Relgious Society of Friends</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item><date></date></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="letter">
<pb facs="Misc_mss_1794_00_00001" n="1"></pb>
<opener>
<dateline>
<date type="unattested" when="1794"></date><placename key="phila" type="unattested"></placename>
</dateline>
<salute>To the Quarty Meeting of Frds at <a href="http://127.0.0.1:8000/places/hopw">Hopewell<placename key="hopw"></placename></a><br/>Dear Friends</salute>
</opener>
<p>Having been lately <del>religiously</del> engaged in the exercise of relgious Endeavours to
                    promote a <del></del>Business of vey interest-<br/>ing &amp; extensive import both to
                    our Society &amp; the Inhabitants of this Continent at large;<br/>in the Course
                    of our Attention where to divers particular Matter have presented<br/>&amp;
                    weightily impressed our Minds as Objects claiming the close &amp; deep Attention
                    of Friends<br/>agreeable to the equitable &amp; peaceable Testimonies we profess
                    to maintain &amp; adhere to;<br/>and among others one material Concern
                    peculiarly affecting our christian Community<br/>throughout the United States we
                    apprehend maybe especially worthy of your<br/>very serious &amp; important
                    Consideration, which we are free &amp; desirous, under a sense of Duty &amp;
                    the<br/>Influence of an affectionate brotherly Freedom to communicate.</p>
<p>We believe it proper to premise that our <a href="http://127.0.0.1:8000/organizations/pym">yearly
                        Meeting<orgname key="pym"></orgname></a> in <date when="1792">1792</date>, sensibly<br/>affected
                    with the Calamities of War prevailing on the western Frontiers of
                    these<br/>States, appointed a large Committee to deliberate on &amp; pursue such
                    means as<br/>under best direction might be instrumental to promote Peace &amp;
                    prevent the<br/>further Effusion of human Blood; in Consequence whereof an
                    Address was<br/>prepared &amp; presented to the President, Senate &amp; House of
                    Representatives of the<br/>United States, setting forth that, <floatingtext type="speech">
<p>as it is consistent with our religious Principles,<br/>so it has
                                been our uniforn Care to admonish &amp; caution our Members
                                against<br/>settling on Lands which have not been fairly purchased
                                of the original Owners;<br/>and as far as our Influence extends we
                                mean to maintain this our ansient<br/>Testimony inviolate, which
                                from Experince has been found effectual to<br/>to the Preservation
                                of Peace with the Natives, who with great Hospitality
                                cherished<br/>&amp; assisted our fore Fathers in their early
                                Settlement of this Country.</p>
<p>being<br/>interested in the Welfare of this Country, &amp; convinced
                                of the Expediency of further<br/>Endeavours being used to encourage
                                the Indians to come forward with a full<br/>Representation &amp;
                                Statement of their Grievances, and that every just Cause
                                of<br/>Uneasiness in their Minds may be fully investigated &amp;
                                removed, we apprehend<br/>it our Duty again to address you on this
                                affecting &amp; important Occasion; under<br/>a Belief that nothing
                                short of stict Jusitce will ever be a Basis of solid and<br/>lasting
                                Peace.</p>
</floatingtext> This Address, of which the foregoing is an Extract was duly
                    presented,<br/>after which, Confederacy being had with divers Indian Chiefs from
                    different parts of<br/>the Continent, it appeared the People they represented
                    were solicous that some Frds<br/>might attend the Treaty intended to be held in
                    the year <date when="1793">1793</date>; the Concern of our <a href="http://127.0.0.1:8000/organizations/pym">yearlyMeeting<orgname key="pym"></orgname></a> for the exercise of christian Care in a matter
                    so interesting as improving<br/>all Opportunities of cultivating Friendship with
                    &amp; promoting a disposition for Peace<br/>in &amp; towards the Indians,
                    claiming the attentive Consideration of Friends both collect-<br/>ively &amp;
                    individually, six Friends in the <date when="1793-04">4th:mo:1793</date> gave up
                    their Names as resigned to<br/>the arduous Service of visiting the Natives in
                    their own Country at the Time &amp; Place of holding<br/>the aforesaid Treaty,
                    which, whith the Approbation of the President, they performed; and<br/>another
                    Treaty being agreed to be held in the last <del>Summer</del> Autumn, Friends were informed that<br/>some of our Members Attendance
                    would be acceptable both to Government &amp; the Indians,<br/>and we the
                    Subscribers two of us being of the number at <gap></gap> and impressed with a degree
                    of the weight of the Concern, giving up<br/>thereto attended accordingly; and
                    frequent Interviews &amp; Conferences with the Sachems and Chiefs<br/>or the
                        <a href="http://127.0.0.1:8000/organizations/sxntns">Six Nations<orgname key="sxntns"></orgname></a>, of whom upwards of 1600 were
                    collected, in which great Confidence was<br/>by them expressed, in Friends as a
                    People religiously bound to the exercise of Justice &amp;<br/>promotion of
                    Peace, declaring that <said who="undetermined">if we deceived them they could no
                        more place Con-<br/>fidence in Mankind</said> -- and now Dear Friends, we
                    affectionately request your<br/>impartial Attention to the peculiar Occasion
                    &amp; Design of this Communication, which we wish<br/> you to consider as
                    proceeding from a sincere brotherly Regard &amp; a Desire to be found in
                    an<br/>upright discharge of Duty--Soon after the Indians were collected some of
                    their principal<br/>Chiefs visited us &amp; revived the Subject of Enquiry in
                    Time past made respecting the original<br/>Owner of the Lands about <a href="http://127.0.0.1:8000/places/hopw">Hopewell<placename key="hopw"></placename></a> in Virginia, expressing their Gladness that
                    Friends <pb facs="Misc_mss_1794_00_00002" n="2"></pb> <br/> were willing to do Justice; divers Conferences were held amongst
                    themselves &amp; with us<br/> relative to that Business, the Issue of which was
                    that we were all of Opinion the <a href="http://127.0.0.1:8000/organizations/tusc">Tuscaroras<orgname key="tusc"></orgname></a><br/>were the People who formerly owned that Country; they
                    are now the sixth Nation in the<br/><a href="http://127.0.0.1:8000/organizations/sxntns">Confederacy<orgname key="sxntns"></orgname></a>,
                    and some of their Chief <gap></gap> Men appeared so confident of the Rectitude of
                    their <br/>Claim as to have entertained an Expectation that we came prepared to
                    make them<br/> <emph rend="underline">full</emph> Compensation for their land <emph rend="underline">in the Premises</emph>.<a href="http://127.0.0.1:8000/people/ichap2">General Chapin
                        Superintendant<persname key="ichap2"></persname></a> of the six<br/><a href="http://127.0.0.1:8000/organizations/sxntns">Nation<orgname key="sxntns"></orgname></a> gave us his Judgement in writing in Confirmation of the
                    Right of the<br/><a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscaroras<orgname key="tuscarora"></orgname></a>, <emph rend="underline">which with the Account of that People given by <a href="http://127.0.0.1:8000/people/tjeff2">T. Jefferson<persname key="tjeff2"></persname></a> leaves<br/>apprehended, no Room to
                        doubt of the reality of the Matter</emph> a copy of which is<br/>herewith
                    Sent.</p>
</div>
<div type="postscript">
<p><del>And now frnds having laid ye Subject before you not as Dictators <br/>but as
                        brethren Concerned in the Same Common Couse of Pro- <br/>moting Truth &amp;
                        Righteousness, we trust you will take it into <br/>Serious &amp; Solid
                        Consideration &amp; if anything appears to remain Due from you <br/>to these
                        greatly Injured people (which no doubt Some of you <br/>once thought) we
                        hope you will chearfully Unite with us in <br/>Contributing a <emph rend="underline">Small</emph> part of your Substance for their Relief
                        <br/> &amp; Comfort. </del>The <a href="http://127.0.0.1:8000/organizations/sxntns">Nation<orgname key="sxntns"></orgname></a> who
                    Now asserts their Right to the<br/>Lands which you have been a Long time in
                    Possessing of<br/>in a peculiar manner Claims our Sympathy being the
                    most<br/>Destitute of all the <a href="http://127.0.0.1:8000/organizations/sxntns">Six Nations<orgname key="sxntns"></orgname></a>, and
                    only Live &amp; hunt on the Lands<br/>of the <a href="http://127.0.0.1:8000/organizations/seneca">Senecas<orgname key="seneca"></orgname></a>
<del>Nation</del> by their Indulgence; but are not considerd<br/>as having any Rights in the
                    Soil, &amp; we believe the Testimony<br/> of truth will suffer if
                    <del>some</del>Compensation is not made<br/>them <del>from our Religious Society</del>, </p>
<closer>With Desires that Bro-<br/>therly Love may Continue &amp; abound among us we
                    re-<br/>main your Affectionate frds<salute></salute>
</closer>
</div>
</text>
</tei>
</body></html>