<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Letter from Henry Simmons to Israel Chapin: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>NAME</name>
</respstmt>
<respstmt>
<resp>Letter transcribed by</resp>
<name>NAME</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca.12 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so only with the permission of Friends
                        Historical Library of Swarthmore College. This is the case whether the new
                        publication will be made available at a cost or free of charge.</p>
</availability>
<date when="2015">2015</date>
<idno type="local">SW_SH1799</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Kent-Bernard Family Papers</collection>
<idno>RG5_079</idno>
</msidentifier>
<physdesc>
<p>1 page</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This Henry Simmons letter is housed in the Kent-Bernard Family Papers at Friends
                    Historical Library, on the campus of Swarthmore College. </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in <date when="1799-03-25"></date>1799</creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends</item>
<item>Cornplanter, Seneca chief, 1732?-1836</item>
<item>Seneca Indians -- History</item>
<item>Indians of North America</item>
<item>Society of Friends -- Indian affairs</item>
<item>Quakers -- Pennsylvania</item>
<item>Chapin, Israel, 1764-1833</item>
<item>Simmons, Henry, 1768-1807</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item>
<date when="2015"></date>POD, edit</item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="letter"><pb facs="SW_SH1799_Page_01" n="1"></pb>
<opener><salute><persname key="ichap1"></persname></salute><dateline><a href="http://127.0.0.1:8000/places/cones">Coniscotago<placename key="cones"></placename></a>
<date when="1799-03-25">3rd. Mo. 25th.
                        1799.</date></dateline><salute>Respected Friend, </salute></opener>
<p>I have made free to write a few Lines, and do inform<br/> thee, I have been
                    stationed during this Winter, at <a href="http://127.0.0.1:8000/places/cornp">Cornplanters Vil-
                        lage<placename key="cornp"></placename></a>, about 9 miles from my two companions, in the Exercise of
                    Edu-<br/> cating the Indian Children, not only in Litural knowledge, but, also,
                    in <br/> other useful arts, It being the most Eligible place for the purpose,
                    who impr-<br/> oves as rapid as can be expected, Although at times (I do
                    confess) my Oc-<br/> cupation is very trying, and Exercising, even to my very
                    Soul; Yet by <br/>the help of God: Do I hope to remain steadfast in the Faith,
                    and <del>in <br/>the <unclear>dive</unclear> of my Duty</del> Business,
                    wherewith I am called; not doubting <br/>the Lord's Providence over me, in the
                    discharge of any Duty to <emph rend="underline">Him</emph>, <br/>among the
                    natives of this Mountainous Country; far distant from my <br/>near &amp; Dear
                    Relations and former Friends -</p>
<p>Be pleased to favour me with a few Lines, by the Bearer, of <br/>information,
                    respecting <a href="http://127.0.0.1:8000/places/oneid">Oneida<placename key="oneid"></placename></a>, whether their Mill is
                    compleated, and how <br/>many of our Society, at the present, are stationed
                    there, and whether <a href="http://127.0.0.1:8000/people/jsken1">Sken-edo<persname key="jsken1"></persname></a>, &amp;
                        <a href="http://127.0.0.1:8000/people/atawa1">Antony<persname key="atawa1"></persname></a> &amp; <a href="http://127.0.0.1:8000/people/cthon1">Christian<persname key="cthon1"></persname></a> (the Principal Chiefs) are yet Living; and
                    <br/>whether thous canst perceive any alteration amoung them, for the
                    bet-<br/>ter, Or whether thou apprehends our Labour all Vain, which <br/>we have
                    bestowed amongst them. I can truly say my mind is often <br/>wafted over the
                    Mountains, to <a href="http://127.0.0.1:8000/places/oneid">Oneida<placename key="oneid"></placename></a>, with an Eye of
                    Compassion <br/>towards the natives there, with desires for their lasting
                    Welfare.</p>
<closer>I am in Heart, my affectionate Friend. <signed><a href="http://127.0.0.1:8000/people/hsimm1">Henry
                            Simmons Jun.<persname key="hsimm1"></persname></a></signed>
<br/><a href="http://127.0.0.1:8000/people/ichap1">Israel Chapin<persname key="ichap1"></persname></a>
<br/></closer>
<postscript>
<p>P.S. <a href="http://127.0.0.1:8000/people/cornp2">Cornplanter<persname key="cornp2"></persname></a>, informed me yesterday,
                        they had lately re-<br/>ceived an Express, that their money had arrived a
                            <a href="http://127.0.0.1:8000/places/canan">Canandarqua<placename key="canan"></placename></a>, <br/>And requested one
                        to write to thee, on his behalf, in the following Wor<br/>ds, to shew thee
                        the reasons of his not attending thither himself, <br/>(i.e.) He is not
                        shure the Money is yet come, and he has under<br/>stood, that the <a href="http://127.0.0.1:8000/organizations/buffc2">Buffalo Indians<orgname key="buffc2"></orgname></a> are desireous of holding the
                        Coun<br/>cil at their Village, which if it is, he knows there will be much
                        Dru-<br/>nkenness among them, as it has hitherto been the case, which he
                        does <br/>not want to see. And rather Sensures thee on that account,
                        <br/>for not using thy Power, especially at such times, to suppress
                        <br/>that Evil habit among them - he knows that if the Council is held
                        <br/>there the Chiefs will hardly keep sober, and if they do not, he is
                        certain <br/>they will be incapable of making a just division of the Money;
                        which <br/>he thinks is his right, for as he has heretofore been called to
                        all the Treaties <br/>on Business of Importance, and the Arduous part
                        thereof have fell <br/>on his shoulders &amp;c. He wishes thee to know the
                        number of People <br/>who are under his care, which is 362 Souls, Eight of
                        whom he has sent for <br/>the Money, and two others to carry their
                        provisions, his own Son, &amp; <br/>Strong, he wants them to know the Sum of Money, in Each man's
                        <br/>Pack, that none may get lost, and desires thee to dispatch them as
                        <br/>soon as practicable, and to have the oversight of them, whilst there,
                        that they may <br/>not get Drunk. He also desires thee to send him Word by
                        Letter, at the return <br/>of his people, how matters are circumstanced
                        between him and <a href="http://127.0.0.1:8000/people/rmorr1">Robert Morris<persname key="rmorr1"></persname></a>, who <br/>he
                        says respecting some small matters betwixt them - <a href="http://127.0.0.1:8000/people/hsimm1">H.S.<persname key="hsimm1"></persname></a></p>
</postscript>
</div>
</text>
</tei>
</body></html>