<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>The Committee appointed in the 5 mo 1795</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Staff</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca. 24 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so only with the permission of Friends
                        Historical Library of Swarthmore College. This is the case whether the new
                        publication will be made available at a cost or free of charge.</p>
</availability>
<date when="2015">2015</date>
<idno type="local">SW_12_15</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Misc mss</collection>
<idno>1796 12mo 15</idno>
</msidentifier>
<physdesc>
<p>1 p.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This manuscript account is housed at Friends Historical Library, on the campus of
                    Swarthmore College. </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
<p>The author of the original journal does not include page numbers on his
                    manuscript; the page numbers have been interpolated by the transcribers to
                    correspond with the manuscript sheets.</p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in <date>1795</date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends</item>
<item>Indians of North America</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item>
<date when="2016"></date>POD, minor edits</item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="report">
<pb facs="SW_1796_12_15_001" n="1"></pb>
                The Committee appointed in the 5mo 1795 to prepare <br/>some Articles to be
                    sent to the <a href="/organizations/shawnee">Shawanese<orgname key="shawnee"></orgname></a>, <a href="/organizations/delaware">Delaware<orgname key="delaware"></orgname></a>, <br/><a href="/organizations/wyandot">Wyandot<orgname key="wyandot"></orgname></a> &amp;
                    other Nations of Indians expected to assem<br/>ble at Grenville at a Treaty to
                    be held under the direction <br/>of General <a href="/people/gwayn1">Anthony
                        Wayne<persname key="gwayn1"></persname></a>, now report
                <p>That having pursuant to directions procured and <br/>forwarded a present to amot
                    of L93..8..1-1/2 they accom<br/>panied the same with a Letter to General Wayne
                    together <br/>with the Epistle agreed to &amp; sign'd in the 5th mo. requesting
                    <br/>he would embrace a suitable opportunity of communicating <br/>it to the
                    Indians when assembled &amp; of delivering to them <br/>on behalf of our
                    Religious Society, our present, as a token <br/>of our continued regard &amp;
                    friendship for them. A considera<br/>ble time elapsed before we were regularly
                    inform'd by the <br/>General of his Compliance with our request, the reason
                    <br/>for which delay is asignd in his Letter to us dated at <br/>Detroit the 5th
                    Septr last, wherein he informs us of <br/>the particular care exercised by him
                    in conveying to the <br/>understandings of the Indians the substance of the
                    <br/>aforesaid Epistle &amp; our motives in sending them a small <br/>present,
                    &amp; of the satisfaction manifested by them on the <br/>occasion. This
                    seasonable Testimony of our regard ap<br/>pearing to have a good effect, there
                    being as the General <br/>expresses it, <said>the fairest prospect of a lasting
                        peace and <br/>friendly intercourse, between the Citizens of the United
                        <br/>States &amp; those Aborigenes of America.</said></p>
<closer><dateline><a href="/places/phila">Philada<placename key="phila"></placename></a>
<date when="1796-12-15">12 mo. 15th 1796</date></dateline>
<br/>Sign'd on behalf of the Committee by <signed><a href="/people/jparrr1">John
                            Parrish<persname key="jparrr1"></persname></a></signed></closer>
</div>
<div type="undetermined">
<pb facs="SW_1796_12_15_002" n="2"></pb>
</div>
</text>
</tei>
</body></html>