<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Letter from Quakers to General Wayne, 1795: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Mary Olesnavich</name>
</respstmt>
</titlestmt>
<extent>ca.9 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_1795_05_25</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Misc Mss 1795_05_25</idno>
</msidentifier>
<physdesc>
<p>2 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This letter is part of a collection of miscellaneous correspondence and is housed
                    at Friends Historical Library, on the campus of Swarthmore College. </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases.
                </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in 1795<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends - New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item>PCO edits<date>2015</date></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="letter"><pb facs="SW_Letters_1795_05_25_Page_1" n="1"></pb>
<opener><dateline><a href="/places/phila">Philadelphia<placename key="phila"></placename></a>
<date when="1795-05-25">25th 5th Mo 1795</date></dateline><salute> Respected
                        Friend </salute></opener>
<p> It has been considered as <br/> a Duty by our Religious Society from the first
                    <br/> Settlement of <placename key="penns"></placename>Pennsylvania to labour and use <br/>
                    Endeavours to promote peace with the Indians <br/> solely with a View to prevent
                    the Calamities <br/> of War, and being informed that a Treaty is <br/> like to
                    take Place with that people under thy Superintendance and
                    <br/> Direction, the Subject engaged the Attention <br/> of our <a href="/organizations/pym">Meeting for
                    Suffering<orgname key="pym"></orgname></a>, with other <br/> Friends from the different Quarters of our <br/>
                    Yearly Meeting, who on Deliberation <br/> felt a Desire to unite any
                        Influence they <br/> may have <del>with</del> on the Indians
                    with the general <br/> Government to promote so good a Work -- </p>
<p> An Address to the Indians was prepared <br/> in the Year 1793 which was
                    forwarded by <br/> some of our Brethren to the care of <a href="/people/amcke1">Alexr  McKee<persname key="amcke1"></persname></a>, a copy of which with something <br/>
                    additional has with the Consent of the <br/> President &amp; of <a href="/people/cpic">Col Pickering<persname key="cpic"></persname></a> been concluded <br/> upon to be sent to
                    thy care with a small <br/> Present of Goods as pr Invoice. We
                    request <br/> the favour of thee to <del>present</del> deliver those Addresses <br/>
<del>in the usual way</del> with our particular present <br/><pb facs="SW_Letters_1795_05_25_Page_2" n="2"></pb> of Goods in
                    the usual Way in the Name of our Religious Society. With sincere Desires <br/>
                    for thy Welfare and that thou may be favoured <br/> with that wisdom which is
                        profitable to direct <br/> in conducting the
                        Business in such way as may <br/> tend to the Glory of
                    God, thy own substantial Peace <br/> and the Benefit of
                        <gap></gap> all concerned</p>
<closer><salute>We remain with due Respect <br/> My <gap></gap>real
                        Friends<br/> To <a href="/people/gwayn1">General  Wayne
                            <persname key="gwayn1"></persname></a> Signed on behalf of the Religious Society <br/>
                        of people called Quakers by <br/>
</salute>
<signed>
<list>
<item>
<a href="/people/jparr1">John Parrish<persname key="jparr1"></persname></a></item>
<item>
<a href="/people/dbaco1">David Bacon<persname key="dbaco1"></persname></a></item>
<item>
<a href="/people/nwaln1">Nicholas Waln<persname key="nwaln1"></persname></a></item>
<item>
<a href="/people/hdrin1">Henry Drinker<persname key="hdrin1"></persname></a></item>
</list></signed>
</closer>
</div>
</text>
</tei>
</body></html>