<?xml version="1.0" encoding="UTF-8"?><?xml-model hkey="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model hkey="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" hkey="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" hkey="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" hkey="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Joseph Clark's Of a second Visit to the Indian Country, 1801: Electronic
                    Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Conor Heins</name>
</respstmt>
</titlestmt>
<extent>ca. 17 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2014</date>
<idno type="local">SW_JC1801</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: Electronic
                    Version</title>
</seriesstmt>
<sourcedesc>
<biblstruct>
<analytic>
<author>Joseph Clark </author>
<title> Of a second Visit to the Indian Country</title>
</analytic>
<monogr>
<title level="j">Friends Miscellany</title>
<imprint>
<biblscope unit="volume">3</biblscope>
<biblscope unit="issue">1</biblscope>
<date when="1832">1832:</date>
<biblscope from="83" to="89" unit="page">83-89</biblscope>
</imprint>
</monogr>
</biblstruct>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>In the fall semester of 2010, Swarthmore students enrolled in English 50A
                    (“Reading Red, White, and In-Between in Early American Literature”) transcribed
                    a number of journals, both published and in manuscript form, which document the
                    interaction of Quakers and Native Americans. In 2014 a decision was made to
                    encode these and other journals as part of a larger project to make the
                    library’s rich store of Quaker Indian mission writings more accessible. The
                    project was designed by Christopher Densmore, Curator of Friends Historical
                    Library.</p>
</projectdesc>
</encodingdesc>
<profiledesc>
<creation>Original written in <date when="1801">1801</date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="lcsh">
<list>
<item>Quakers</item>
<item>Indian reservations</item>
<item>Indians of North America--Missions</item>
<item>New York (State)--Description and travel</item>
<item>Pennsylvania--Description and travel</item>
<item>Philadelphia Yearly Meeting of the Religious Society of Friends</item>
<item>Quakers--Pennsylvania--Diaries</item>
<item>Quakers--Political activity</item>
<item>Seneca Indians</item>
<item>Society of Friends--Missions</item>
<item>Voyages and Travels</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<change><date></date></change>
</revisiondesc>
</teiheader>
<text>
<front>
<pb facs="SW_JC1801_Page_1" n="83"></pb>
<div type="preface">
<p> In the first volume of Friends' Miscellany, was<br/> published an Account of a
                    Journey to the Indian<br/> settlements, for the purpose of bringing some of
                    the<br/> young female natives to receive an education among<br/> Friends, near
                        <a href="http://127.0.0.1:8000/places/phila">Philadelphia<placename key="phila"></placename></a>. It will be
                    recollected,<br/> that six Indian girls were committed to the care of<br/>
<a href="http://127.0.0.1:8000/people/jclar1">Joseph Clark<persname key="jclar1"></persname></a> for this purpose, and that they
                    were<br/> placed with divers friends in Chester county and<br/> parts adjacent,
                    where they remained for some length<br/> of time, in learning the arts of
                    domestic economy,<br/> and acquiring the habits of civilized life. At
                    suit-<br/>able opportunities, and with persons from their own<br/>
                    neighbourhoods in the Indian country, three of them<br/> were conveyed home; the
                    other three remained with<br/> Friends till the year 1801, being about four
                    years.<br/> It was then proposed that <a href="http://127.0.0.1:8000/people/jclar1">Joseph
                        Clark<persname key="jclar1"></persname></a> should re-<br/>turn with them, in order that they might be
                    safely<br/> conducted to their respective habitations, parents,<br/> relatives
                    and friends. Joseph cordially acceded to<br/> this proposal, and cheerfully
                    undertook the journey,<br/> as feeling not only a warm interest in the
                    Indian<br/> natives, but under some obligation, on account of<br/> the
                    confidence reposed in him by the parents when<br/>
<pb facs="SW_JC1801_Page_2" n="84"></pb> they committed their daughters to his care.
                    Of this<br/> journey, he gives the following narrative. </p>
</div>
</front>
<div type="narrative">
<dateline><date when="1801"></date><placename key="stock"></placename></dateline>
<p> Upon our arrival at New York, we received<br/> every mark of attention that was
                    necessary. As I<br/> was alone with the Indian girls, Friends expressed<br/>
                    great concern for me; and we were conducted to a<br/> friend's house which
                    proved <quote type="biblical">as a brook by the<br/> way</quote>, both temporally
                    and spiritually. It being<br/> first-day, we attended meetings both forenoon
                    and<br/> afternoon.</p>
<p> Next morning, our beloved friends here furnish-<br/>ed us with a carriage and
                    horses, to carry us as far<br/> as <a href="http://127.0.0.1:8000/places/alban">Albany<placename key="alban"></placename></a>;
                    with a letter of recommendation to a<br/> particular friend there, who, on our
                    arrival, received<br/> us with open arms, and procured a carriage with a<br/>
                    sober driver, that conveyed us safely to the Indian<br/> country.</p>
<p> On my arrival at <a href="http://127.0.0.1:8000/places/stock">Stockbridge<placename key="stock"></placename></a> and
                    delivering up<br/> the girls, I could discover no less joy manifested by<br/>
                    the whole <a href="http://127.0.0.1:8000/organizations/stockbridge">nation<orgname key="stockbridge"></orgname></a>, than by their parents. In
                    a day<br/> or two, a council was called. It was held in a large<br/> room, at
                    the house of one of the chiefs. Three<br/> great trunks of trees were brought
                    in, and laid on<br/> the floor apart for the women to sit on. On one<br/> side
                    was a two armed chair, constructed by the na-<br/>tives, in which sat the
                    sachem; the interpreter sat<br/> next, and myself was seated next him; while
                    the<br/> chiefs occupied a seat opposite the women, the latter<br/> sitting in a
                    leaning posture, with their eyes fixed on<br/> the ground, the lids of which
                    appeared not to move.<br/> A solemn silence ensued;—when He who <quote type="biblical">meted<br/> out the heavens with a span</quote>, seemed to
                    preside<br/> over the whole assembly: and I can safely say, the<br/>
<pb facs="SW_JC1801_Page_3" n="85"></pb> impressions of that solemnity have never
                    departed<br/> from me.</p>
<p> After some time, I arose in much humility, and<br/> informed them that it was
                    neither curiosity, ease,<br/> nor interest, that induced me to leave my
                    habita-<br/>tion; but that their children whom they delivered<br/> to me four
                    years ago, might be safely returned to<br/> them, with their qualifications and
                    improvements.<br/> And as the great and good Spirit had preserved<br/> them from
                    various evils, so I hoped they would con-<br/>tinue to do well; with more to
                    that import.</p>
<p> A solemn pause ensued: then some low words<br/> were spoken by the chiefs, and
                    lower whispers<br/> among the women. A pause then followed; after<br/> which the
                    interpreter stood up, and turning towards<br/> me, spoke to this import;—<said who="undetermined">Brother, attend. We<br/> rejoice to see you come by the
                        side of our fire-place;<br/> and that our girls have been preserved from
                        various<br/> dangers; also, that you have been preserved while<br/> walking
                        all along the long path;—and we know that<br/> all you do is out of love to
                        us poor Indians.</said></p>
<p> It is proper to remark, that each girl had a Bible<br/> and other religious
                    books, in which they could read;<br/> also, a spinning wheel, with abundance of
                    clothes of<br/> their own making.</p>
<p> Our friend <a href="http://127.0.0.1:8000/people/jdean1">John Dean<persname key="jdean1"></persname></a>, his wife and son,
                    reside<br/> at this place, under patronage of the Indian com-<br/>mittee of New
                    York Yearly Meeting. On first-day,<br/> I sat with this family in a meeting
                    capacity, which,<br/> is their usual practice. When our meeting ended,<br/> I
                    went with <a href="http://127.0.0.1:8000/people/jdean1">J. Dean<persname key="jdean1"></persname></a> to the Indians' place of
                    worship;<br/> where the ceremonies of a funeral were about to be<br/>
                    solemnized. The coffin was placed about twenty<br/> yards from the house, while
                    the congregation re-<br/><pb facs="SW_JC1801_Page_4" n="86"></pb> mained within. One
                    of the Indians named <a href="http://127.0.0.1:8000/people/dfowl1">David Fowler<persname key="dfowl1"></persname></a>
                    appeared in supplication: after which, the<br/> whole assembly sung an hymn in
                    the English lan-<br/>guage, two lines of which were,</p>
<p>
<quote type="hymn">Lord, make our souls ascend on high,<br/> Where neither gold
                        nor pearls can fly.</quote></p>
<p> Next day I paid a visit to <a href="http://127.0.0.1:8000/people/dfowl1">David Fowler<persname key="dfowl1"></persname></a>.
                    Upon<br/> entering the house, my attention was first attracted<br/> to a shelf,
                    containing Cruden's Concordance and a<br/> large folio Bible; the latter was in
                    the Indian lan-<br/>guage. This person is a man of exemplary
                    life,—<br/>interested for the progress of knowledge among his<br/> brethren, and
                    has devoted some time to the instruc-<br/>tion of their children. He also
                    possesses an exten-<br/>sive acquaintance with plants, as to their
                    qualities<br/> and medicinal virtues.</p>
<p> I also visited <a href="http://127.0.0.1:8000/people/jcros1">John Crossly<persname key="jcros1"></persname></a>'s family, where
                    were<br/> a number of children; and notwithstanding I was so<br/> great a
                    stranger, they manifested no surprise or cu-<br/>riosity, but appeared to be
                    entirely engaged at their<br/> books. This I considered an example to those
                    in<br/> civilized life, and what is called refined education.</p>
<p> I now took leave of my Indian brethren at <a href="http://127.0.0.1:8000/places/stock">Stock-bridge<placename key="stock"></placename></a>, informing them that I was going among
                    my<br/> friends;—and were it a thousand miles off, their<br/> house was my
                    house,—their table, my table,—and<br/> their bed, my bed. At which they gave a
                    loud sigh.</p>
<p> Set out with <a href="http://127.0.0.1:8000/people/jdean1">John Dean<persname key="jdean1"></persname></a>, and passed through the<br/>
<a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscarora nation<orgname key="tuscarora"></orgname></a> to <a href="http://127.0.0.1:8000/organizations/oneida">Oneida<orgname key="oneida"></orgname></a>; where I was conducted<br/> to the house of <a href="http://127.0.0.1:8000/people/jsken1">John Scanacloe<persname key="jsken1"></persname></a>, the chief of that na-<br/>tion.
                    Immediately on my entering, the old man<br/> shook his ears,—indicating that we
                    could not under-<br/>stand each other's language. My mind was cover-<br/>
<pb facs="SW_JC1801_Page_5" n="87"></pb> ed with awe, in considering what manner of
                    persons<br/> those ought to be who come among this people.</p>
<p> In this room were six or seven women, and a<br/> little babe fixed upon a
                        <foreign>kelah</foreign> of exquisite workman-<br/>ship, covered with two
                    silk handkerchiefs. They<br/> informed me by their fingers that the age of the
                    child<br/> was four weeks and four days. After some time,<br/> the wife of the
                    chief spoke a few words; at which,<br/> all present assumed an air of
                    seriousness. Then,<br/> going across the room, the others followed her, and<br/>
                    placed themselves three on each side of her. She<br/> then took down from the
                    wall, a curious, twisted<br/> string, of considerable length, containing a
                    number<br/> of knots; and to every seventh knot, a piece of red<br/> wool was
                    attached. This was her calendar. One<br/> of the women informed me that every
                    knot was a<br/> day, and every red mark was a week; constituting<br/> the time
                    since the chiefess had buried a valuable<br/> daughter. This circumstance was
                    attended with<br/> more solemnity than some of our funerals.</p>
<p> After recommending the distribution of the pre-<br/>sents I had in charge; and
                    through favour, all things<br/> appearing to harmonize,—a proposition was
                    made<br/> to smoke,—a practice in high esteem among the<br/> Indians: but I not
                    being accustomed to it, did not<br/> accept the offer. Whereupon <a href="http://127.0.0.1:8000/people/jsken1">John Scanadoe<persname key="jsken1"></persname></a> gave<br/> me two curious pipes as
                    presents.</p>
<p> I now took leave of my Indian friends and set<br/> out for <a href="http://127.0.0.1:8000/places/utica">Utica<placename key="utica"></placename></a>, accompanied by <a href="http://127.0.0.1:8000/people/jdean1">John
                        Dean<persname key="jdean1"></persname></a>. On our<br/> arrival there, we called at the house of a
                    lawyer,<br/> where <a href="http://127.0.0.1:8000/people/gcros2">Grace<persname key="gcros2"></persname></a>, the daughter of John
                    Crossly, resi-<br/>ded. I requested of my companion, that he would<br/> make
                    choice of some retired house for a lodging;<br/> my mind being disposed for
                    silence and meditation,<br/>
<pb facs="SW_JC1801_Page_6" n="88"></pb> in reflecting on the favourable
                    opportunities we had<br/> had among the Indians. But, contrary to my
                    re-<br/>quest, at least in appearance,—he rode up to the<br/> greatest house in
                    the place, occupied by a person<br/> whose name was Walker, and who highly
                    approba-<br/>ted the labours of Friends among the Indians.</p>
<p> Being introduced to the family, we sat in a splen-<br/>did hall, where tea was
                    served. In the course of<br/> conversation, I happened to mention some
                    events<br/> of my labours among the poor people in New Jer-<br/>sey, in the
                    neighbourhood of a furnace, where I had<br/> distributed some books; and had
                    been accompanied<br/> from cottage to cottage by the superintendent's<br/> wife,
                    who had an amiable daughter that was married<br/> to a magistrate of that place,
                    and had lately been<br/> received into membership with the Society of<br/>
                    Friends.</p>
<p> As I was relating this circumstance, Walker's<br/> wife broke forth into tears;
                    and, raising her hand-<br/>kerchief to her face, wept aloud. Her husband
                    in-<br/>quired the cause of her emotion; when she patheti-<br/>cally informed
                    us, that the persons I had spoken of<br/> were her mother and sister. It was a
                    very affecting<br/> season. A comfortable night's lodging, and an early<br/>
                    breakfast prepared us for pursuing our journey; and<br/> in secret my heart
                    ejaculated, <quote type="biblical">Return unto thy<br/> rest, O my soul, for the
                        Lord hath dealt bountifully<br/> with thee.</quote></p>
<p> The morning was mild and serene, and we pro-<br/>ceeded down the <geogname key="mohaw">Mohawk river</geogname> to <a href="http://127.0.0.1:8000/places/schen">Schenectady<placename key="schen"></placename></a>.<br/> On the way, stopped to visit some Germans,
                    and<br/> distributed some books among them in their own<br/> language; which
                    they received with tears of grati-<br/>tude. Went by the way of <a href="http://127.0.0.1:8000/places/9part1">Nine Partners<placename key="9part1"></placename></a>, and at-<br/><pb facs="SW_JC1801_Page_7" n="89"></pb> tended <a href="http://127.0.0.1:8000/organizations/9partqm">Quarterly
                        meeting<orgname key="9partqm"></orgname></a> there. Thence to New<br/> York, where the <a href="http://127.0.0.1:8000/organizations/nyymindian">Indian committee<orgname key="nyymindian"></orgname></a> being assembled,<br/> I gave
                    them such information as they required.—<br/> Then directed my course toward
                    home, where,<br/> through continued favour, I arrived and found all<br/> well.
                    JOSEPH CLARK </p>
</div>
</text>
</tei>
</body></html>