<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Letter to the Cherokee Nation from Philadelphia Yearly Meeting: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Constance Hawley</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca.11 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_Letters_1792_02_19</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Mss_004_1792_02_19</idno>
</msidentifier>
<physdesc>
<p>4 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This collection of miscellaneous correspondence is housed at Friends Historical
                    Library, on the campus of Swarthmore College. In the fall semester of 2010,
                    Swarthmore students enrolled in English 50A (“Reading Red, White, and In-Between
                    in Early American Literature”) transcribed these manuscripts as part of a larger
                    project to make the library’s rich store of Quaker Indian mission writings more
                    accessible. The project was designed by Christopher Densmore, Curator of Friends
                    Historical Library, and Keat Murray, Visiting Assistant Professor of English.
                    Transcriptions were compiled and edited in the present form by Professor Murray.
                </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in 1792<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Cherokee Indians</item>
<item>Philadelphia Yearly Meeting of the Relgious Society of Friends</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item></item>
<item></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="letter"><pb facs="SW_Letters_1792_02_19_Page_1" n="1"></pb>
<opener><salute>Brothers of the <a href="/organizations/cherokee">Cherokee Nation<orgname key="cherokee"></orgname></a>
                    or Red People.</salute></opener>
<p>We who have spoken with you are glad to see<br/>you here, and rejoyce that, you
                    are come as messengers<br/>of Peace.</p>
<p>We wish you to know, that there are many<br/>of our bretheren called Quakers
                    settled in most of the<br/>United States who are Lovers of Peace, and do not
                    meddle<br/>with war, and we are very sorry, that there hath<br/>been
                        <del>any</del> wars &amp; bloodshed between you and the<br/>people of the
                    United States, for we believe, that we<br/>are all the Children of the same
                    Great Creator who<br/>intended that, we should live in love and peace<br/>with
                    each other; but when any of his children<br/>get drunk, cheat, steal of hurt
                    &amp; kill one another, he<br/>is displeased with them, and when they will
                    not<br/>regard his good Spirit placed in their hearts, there<br/>they go into
                    all kind of wickedness, which brings<br/>misery upon them, and they are not
                    afraid even to<br/>destroy the lives which came from the hands of the<br/>Great
                    Creator </p>
<p>But <br/>
<pb facs="SW_Letters_1792_02_19_Page_2" n="2"></pb> But if we pray to him for the help of his good Spirit<br/>and feel it in
                    our hearts, and attend to it, we learn to pity<br/>those that the Evil Spirit
                    makes unhappy, and we can do<br/>good even to our Enemies.</p>
<p>We therefore much desire that, our Brothers of the <a href="/organizations/cherokee">CherokeeNation<orgname key="cherokee"></orgname></a> may be brought more and more to the knowledge
                    of<br/>the Great Creator <del>who is the father of all men</del>, and that,
                    as<br/> his Children they may live in love and peace with each other, &amp; with
                    all Men;<br/>And then we believe the Red People would not live so much
                    by<br/>hunting, but employ themselves in tilling the Ground, learning<br/>useful
                    trades, and get proper Schoolmasters to teach their<br/>Children, that they
                    might be brought to love &amp; obey the<br/>Great &amp; Good Spirit who made
                    them.</p>
<p>These Things we wish our brothers of the <a href="/organizations/cherokee">CherokeeNation<orgname key="cherokee"></orgname></a> to think of, and above all to pray in their
                    hearts<br/>to the Great and Good Spirit for his help in all their
                    honest<br/>undertakings, that they may be happy in this life, and
                    aftr<br/>death, in an everlasting Eternity.</p>
<closer>We desire these words from us your brothers may<br/>take deep hold in your
                    minds, and warm your hearts,<br/>that, so you may be strengthened to tell them
                    to the people <br/> of <br/><pb facs="SW_Letters_1792_02_19_Page_3" n="3"></pb>of your Nation. We also pray, that the Great &amp; Good Spirit
                    may conduct<br/>you home in safety, and make you the messengers of <br/>Good
                    tidings from the Government of the United
                    States. <salute>Farewell.</salute><br/><dateline><a href="/places/phila">Philadelphia<placename key="phila"></placename></a><br/><date when="1792-02-19">the 19 day
                            pf the Second month 1792</date></dateline>
</closer>
</div>
<div type="postscript">
<pb facs="SW_Letters_1792_02_19_Page_4" n="4"></pb>
<p>Substance of the ocasional<br/>conversation with the
                    <gap></gap><br/>of the <a href="/organizations/cherokee">Cherokee
                    Indians<orgname key="cherokee"></orgname></a><br/>communicated to them by<br/>their Interpretor.<br/><date when="1792-02-18">18. 2 mon. 1792</date> &amp; a copy <gap></gap><br/><gap></gap>
                    to them Signed by<br/>Friends. &amp; in presence of <br/>divers others at the
                    house<br/>of <a href="/people/jpemb2">John Pemberton<persname key="jpemb2"></persname></a> on the<br/>Evening
                    when they took a<br/>respectful leave of us &amp; ffnds<br/>of them.</p>
</div>
</text>
</tei>
</body></html>