<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Letters to Elizabeth Townsend: Electronic
                    Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Susanna Morikawa</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>11 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country></address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2015">2015</date>
<idno type="local">SW_Letters_1801_10_15</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts (selection)</collection>
<idno>Mss_004_1801_10mo_15</idno>
</msidentifier>
<physdesc>
<p>2 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This collection of miscellaneous correspondence is housed at Friends Historical
                    Library, on the campus of Swarthmore College. In the fall semester of 2010,
                    Swarthmore students enrolled in English 50A (“Reading Red, White, and In-Between
                    in Early American Literature”) transcribed these manuscripts as part of a larger
                    project to make the library’s rich store of Quaker Indian mission writings more
                    accessible. The project was designed by Christopher Densmore, Curator of Friends
                    Historical Library, and Keat Murray, Visiting Assistant Professor of English.
                    Transcriptions were compiled and edited in the present form by Professor Murray.
                </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in <date>1801</date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends - New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Quakers -- Pennsylvania -- Correspondence</item>
<item>Seneca Indians</item>
<item>Philadelphia Yearly Meeting of the Relgious Society of Friends</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc><change><date></date></change></revisiondesc>
</teiheader>
<text>
<div type="letter">
<pb facs="SW_Letters_1801_10_15_Page_01" n="1"></pb>
<opener><dateline><a href="/places/stockbridge">New Stockbridge<placename key="stockbridge"></placename></a>
<date when="1801-10-15">10th mo. 15th 1801</date></dateline>
<br/><salute>Friend and Sister</salute></opener>
<p> This is to let you know I am much<br/> rejoiced to see friend <a href="/people/jclar1">Joseph Clark<persname key="jclar1"></persname></a>, come by the side of our<br/> fire
                    place, and bring our Girls home. I can not but<br/> bless the great good Spirit
                    for his great goodness in preserving<br/> our long absented Girls from various
                    dangers and that<br/> they have found favour in the sight of such good Friends,
                    as to<br/> take them under their benevolent care and instruct them<br/> in good
                    things and ways; I acknowledge that you have done<br/> a great deal for us, out
                    of love to the Great good Spirit and<br/> your fellow Creatures, that we poor
                    Natives might as it were<br/> rise up &amp; walk, and follow the good path which
                    you follow, by which<br/> I always feel thankful &amp; hope you will not lose
                    your reward<br/> in Heaven, I feel our obligations are increased as our
                    advanta<br/>-ges are increased to serve God in sincerity and in truth.</p>
<p>The
                    Religion is somewhat low amongst us, but Christians<br/> seem to keep on still,
                    there has been but a few careless ones<br/> stir'd up for soul Concern, since
                        your young Men left us, who<br/> were <pb facs="SW_Letters_1801_10_15_Page_02" n="2"></pb> at <a href="/places/oneid">Oneida<placename key="oneid"></placename></a>, but others seem still to remain in the bon<br/>dage of
                    Spiritual Pharaoh, but God is able to turn their hearts<br/> and make them
                    willing to walk towards Canaan.</p><p> I have no time to express as I feel, but to
                    conclude with your<br/> prayers that the Great good Spirit may pour down his
                    bless<br/>ings upon Us, that religion may again revive among us.</p>
<closer><signed>
<a href="/people/csolo1">Catharine Solomon<persname key="csolo1"></persname></a><br/> To <a href="/people/etown1">Eliz'th Townsend<persname key="etown1"></persname></a><br/> Daughter of <a href="/people/jclar1">Joseph Clark<persname key="jclar1"></persname></a>.</signed></closer>
</div>
<div type="letter">
<pb facs="SW_Letters_1801_10_15_Page_03" n="3"></pb>
                From a Tuscaro Indian
                <opener><dateline><date type="unattested">1801</date></dateline><salute>Dear Friends,</salute></opener>
<p>We are all well and glad to see the three<br/> Girls and our friend <a href="/people/jclar1">Joseph Clark<persname key="jclar1"></persname></a>, We often think of the<br/> kindness
                    you shew’d us.</p><p> Our Nation more plough their<br/> Land, and raise more
                    Cattle, and build some new houses.<br/> Our Nation increase and raise more flax
                    and we spin<br/> a little, and we hope by the assistance of the Great good
                    Spi<br/>rit we grow in his favour so as to have plenty of Corn Cattle and<br/>
                    Flax; and become his Children and rest in his Kingdom.<br/> I feel much love in
                    mine heart but am not able to<br/> express myself-</p>
<closer><signed><a href="/people/pokas1">Peter Okasantque<persname key="pokas1"></persname></a></signed></closer>
</div>
<div type="letter"><pb facs="SW_Letters_1801_10_15_Page_04" n="4"></pb>
                From a young Indian Woman to <a href="/people/etown1">Eliz'th
                    Townsend<persname key="etown1"></persname></a>/daughter of <a href="/people/jclar1">Joseph
                    Clark<persname key="jclar1"></persname></a>
<opener><dateline><date type="unattested">1801</date></dateline><salute>Dear Friend,</salute></opener>
<p>No doubt but thee will excuse a letter from me<br/> who wishes thee, and all thy
                    Society well, tho unknown to each<br/> other as to our bodily persons, yet I
                    sincerely hope that we sincerely fre<br/>quently converse with the same Spirit
                    -- My dear Friend, thank<br/> thy father, and likewise thee for your kind care
                    towards us the<br/> Natives of America, for I believe that you will have your
                    re<br/>ward for God will reward you. I give my kind love to all <br/>thy
                    friends, and tell them that the Good Spirit is on its way to the<br/> dark
                    Corners of the Earth. When my dear Friend, when will that <br/>happy day appear?
                        <quote type="biblical">When the Nations will learn War no more.</quote><br/>
                    For then Lion will arise and travail, and bring forth--She will bring
                    <br/>forth. </p><closer><salute>So farewell from thy unknown friend</salute>
<signed>
<a href="/people/gcros2">Gracy Crosby<persname key="gcros2"></persname></a></signed></closer>
</div>
</text>
</tei>
</body></html>