<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Extract The Speech of John Skenando principal Chief of the Oneida Nation:
                    Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Constance Hawley</name>
<name>Mary Olesnavich</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca. 10 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so only with the permission of Friends
                        Historical Library of Swarthmore College. This is the case whether the new
                        publication will be made available at a cost or free of charge.</p>
</availability>
<date when="2015">2015</date>
<idno type="local">SW_NYYM_Skenando</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>NYYM Records</collection>
<idno>RG2/NYy/700</idno>
</msidentifier>
<physdesc>
<p>2 pp. (1 item)</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>The Speech of John Skenando manuscript is housed at Friends Historical Library,
                    on the campus of Swarthmore College. </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
<p>The author of the original journal does not include page numbers on his
                    manuscript; the page numbers have been interpolated by the transcribers to
                    correspond with the manuscript sheets.</p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in <date when="1788">ca. 1788</date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends -- Indian relations</item>
<item>Indians of North America -- New York (State)</item>
<item>Oneida Indians</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item>
<date when="2015"></date>POD, edits</item>
</list>
</revisiondesc>
</teiheader>
<text>
<front>
<div type="preface"><pb facs="SW_NYYM_Skenando_Page_001" n="1"></pb>
<p>The Speech of <a href="http://127.0.0.1:8000/people/jsken1">John Scanada<persname key="jsken1"></persname></a> principal Chief<br/>
                    of the <a href="http://127.0.0.1:8000/organizations/oneida">Oneida Nation<orgname key="oneida"></orgname></a>; at the time when they
                    first<br/> discovered that their improvements the Castle had<br/> been sold to
                    the State by the intrigue of some<br/> white men and unknown to the Indians
                    all<br/> the Indians in the were crying &amp; lamenting<br/> on the occasion</p>
</div>
</front>
<div type="speech">
<p>My warriors and my Children hear<br/> it is cruel it is very cruel a heavy burden
                    lies on<br/> my heart and it is very sick this is a dark day<br/> the clouds are
                    black and heavy over the <a href="http://127.0.0.1:8000/organizations/oneida">Oneida Nation<orgname key="oneida"></orgname></a> a
                    strong arm lies heavy upon us, and<br/> our hearts grown under it- our fires are
                    put out<br/> and our beds removed under us the graves<br/> of our Fathers are
                    destroyed, and their Children<br/> are driven <del>are driven</del> away The
                    Almighty God<br/> is angry with us for we have been wicked,<br/> therefore his
                    arm doth not keep us Where are<br/> the Chiefs of the rising sun, white chiefs
                    now<br/> kindle their ancient fires There no Indian<br/> sleeps, but those that
                    are sleeping in their<br/> graves my house will soon be like theirs, soon<br/>
                    will a white Chief here kindle this fire<gap></gap><br/>
<a href="http://127.0.0.1:8000/people/jsken1">Scanada<persname key="jsken1"></persname></a> will soon be no more, and his
                    village<br/> no more a village of Indians The news that<br/> was brought by our
                    men last night from<br/> Albany hath made this a sick day in <a href="http://127.0.0.1:8000/places/oneid">Oneida<placename key="oneid"></placename></a><br/> all our hearts are sick, and our eyes
                    rain like<pb facs="SW_NYYM_Skenando_Page_002" n="2"></pb>
<br/>the black cloud when it roars on the tops of<br/> the trees of the
                    wilderness Long did the strong<br/> voice of <a href="http://127.0.0.1:8000/people/jsken1">Scanada<persname key="jsken1"></persname></a> cry, Children take care, be<br/>ware, be straight his
                    feet were then like the<br/> deer's, and his arm like the bear's; he now<br/>
                    can only mourn out a few words and then<br/> be silent and his voice will soon
                    be heard<br/> no more in <a href="http://127.0.0.1:8000/organizations/oneida">Oneida<orgname key="oneida"></orgname></a> But certainly
                    he will<br/> long be in the minds of his children, in white<br/> men's minds
                        <a href="http://127.0.0.1:8000/people/jsken1">Scanada's<persname key="jsken1"></persname></a> name hath gone<br/> far, and
                    will not die He hath spoken<br/> many words to make his Children straight:<br/>
                    long hath he said, drink no strong water, for<br/> it makes you mice for white
                    people who are<br/> cats many a meal have they eaten of you<br/> their mouth is
                    a snare, and their way like<br/> the fox their lips are sweet, but their
                    hearts<br/> are wicked yet there are good whites and <br/>good Indians</p>
<note resp="author">
<p>The ground where their church stands, and their<br/> burying place is
                        included in the stole</p></note>
</div>
</text>
</tei>
</body></html>