<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Missionary's address to the chiefs of the six nation
                    Indian &amp; Their answers: An Electronic Collection</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Mary Olesnavich</name>
</respstmt>
</titlestmt>
<extent>ca.20 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_1805_00_00</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Misc Mss 1805</idno>
</msidentifier>
<physdesc>
<p>6 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This manuscript is part of a collection of miscellaneous manuscripts and is housed at Friends Historical
                    Library, on the campus of Swarthmore College. </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases.
                </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in DATE<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list><item>Cram, Jacob, 1762-1833</item>
<item>Red Jacket, Seneca Chief, approximately 1756-1830</item>
<item>Six Nations -- History</item>
<item>Society of Friends -- New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item>POD edits<date>2015</date></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="narrative">
<pb facs="SW_1805_00_00_Page_1" n="1"></pb><dateline><date when="1805"></date><placename key="buffc1"></placename></dateline>
<p></p><title>An Indian Speech</title>
<p> In the summer of <date when="1805">1805</date>, a number of the principal Chiefs
                    <br/> and warriors of the six Nations of Indians principally <br/>
<a href="/organizations/seneca">Seneca<orgname key="seneca"></orgname></a> assembled at Buffaloe Creek in the state of <br/>
<a href="/places/newyo">New York<placename key="newyo"></placename></a>, at the particular request of a
                    Gentleman <br/> Missionary from the state of <a href="/places/mass">Massachusett<placename key="mass"></placename></a>,
                </p>
<p> The <a href="/people/jcram">Missionary<persname key="jcram"></persname></a> being furnished with an Interpre <br/> ter and accompanyed by the
                    Agent of the U States for <br/> Indian affairs, met the Indians in council, when
                    <br/> the following talk took place </p></div>
<div type="speech">
<p> First by the Agent <br/> Brothers of the <a href="/organizations/sxntns">six
                        Nations<orgname key="sxntns"></orgname></a>, I rejoice to meet you at <br/> this time, and thank the
                    Great spirit that he hath <br/> preserved you in health, and given me another
                    oppo <br/> rtunity of takeing you by the hand 
                </p>
<p> Brothers, The person who now sits by me is a friend <br/> who has come a great
                    distance to hold a talk with <br/> you, he will inform you what his business is,
                    and <br/> and it is my request that you should listen <br/> with attention to
                    his words </p></div>
<div type="speech" xml:id="jcram1">
<p> Missionary <br/> My friends I am thankful for the opportunity <br/> afforded us
                    in meeting together at this time, I had <br/> a great desire to see you and
                    enquire into your state <br/> and welfare, for this purpose I have traveled a
                    <br/> great distance being sent by your old friends <br/> the <a href="/organizations/bosmiss">Boston Missionary society<orgname key="bosmiss"></orgname></a>; you will recollect <br/>
                    they formerly sent Missionaries amongst you, to <br/> instruct you in Religion
                    and I <unclear>aboud</unclear> for your <br/> good, Altho they have not heard
                    from you for <br/> a long time yet they have not forgotten there <br/> Brothers
                    of the <a href="/organizations/sxntns">six Nations<orgname key="sxntns"></orgname></a>, and are still
                        <gap></gap><br/><gap></gap> anxious to do you good 
                </p>
<p> Brothers <br/> I have not come to get your lands or<br/> Money but to enlighten your
                    minds, and to <br/> instruct you how to worship the Great Spirit,
                    agreeable<br/><pb facs="SW_1805_00_00_Page_2" n="2"></pb> agreeable to his mind, and will, and to preach to you <br/>
                    the Gosple of his son Jesus Christ, there is but one Religion <br/> and one way
                    to serve God, and if you do not embrace the <br/> right way you cannot be happy
                    hereafter; you have <br/> never worshiped the Great Spirit in a maner acceptable
                    <br/> to him but have all your lives been in great errors and <br/> darkness, to
                    indeavour to remove these errors, and open <br/> your eyes, so that you might
                    see clearly is my business <br/> with you </p>
<p> Brothers<br/> I wish to talk with you as one friend talks <br/> with another,
                    and if you have any objections to recieve <br/> the Religion which I preach I
                    wish you to take them <br/>
<del>and I will,</del> and I will endeavour to satisfy your minds <br/> and
                    remove <del>the</del> the objections 
                </p>
<p> Brothers<br/> I want you to speak your minds freely; for <br/> I wish to reason
                    with you on the subject, and if possible <br/> to remove all doubts if there be
                    any on your minds <br/> the subject is an important one, and it is of consequ
                    <br/> ence that you give it an early attention, while the offer <br/> is made
                    you; you find the <a href="/organizations/bosmiss">Boston Missionary society<orgname key="bosmiss"></orgname></a>
<br/> will continue to send you good and faithful Ministers <br/> to instruct
                    and strength you in Religion, if on your<br/> part you are
                    willing to receive them
                </p>
<p> Brothers <br/> Since I have been in the part of the country <br/> I have visited
                    some of your small Villages, and talked <br/> with your people, they appear
                    willing to receive instruc <br/> tion, but as they look up to you as your Older
                    Brother <br/> in council, the want first to know your opinion on <br/> the
                    subject; you have now heard what I have to propose <br/> at present, I hope you
                    will take it into consideration, <br/> and give me an answer before we part
                    
                </p></div>
<div type="speech">
<p> After about two hours consultation amongst <br/> themselves, the Cheif commonly
                    called <a href="/people/redja1">Red Jacket<persname key="redja1"></persname></a>
<br/> by the white people arose and spoke as follows
                </p>
<p> Friend and Brother<br/> It was the will of the great <br/>spirit that we should meet
                    together this day, <br/><pb facs="SW_1805_00_00_Page_3" n="3"></pb> he orders all things and has given us a fine Day
                    for our <br/> council. He has taken his garment from before the <br/> Sun, and
                    caused it to shine with brightness upon us, <br/> our eyes are open that we see
                    clearly, our ears have <br/> been unstoped that we have been able to hear
                    distinctly <br/> the words you have spoken, for all these favours we <br/> thank
                    the great spirit, and him only. 
                </p>
<p> Brother <br/> This council fire was kind led by you, it <br/> was at your
                    request that we came together at this time <br/> we have listned with attention
                    to what you have <br/> said, you requested us to speak our minds freely, <br/>
                    this gives us great Joy, for we now consider that we <br/> stand upright before
                    you, and can speak what we <br/> think, all have heard your voice and all speak
                    to <br/> you now as one Man, our Minds are agreed 
                </p>
<p> Brother, <br/> You say you want an answer to your talk <br/> before you leave
                    this place, it is right you should have <br/> one, as you are a great Distance
                    from home, and <br/> we dont wish to ditain you, but we will first look <br/>
                    back a little, and tell you what our fathers have <br/> told us, and what we
                    have heard from the white people <br/> Brother listen to what we say. There was
                    a time <br/> when our forefathers owned this great Land, their seats <br/>
                    Extended from the rising to the setting sun, the Great <br/> spirit had made it
                    for the use of Indians he had cre <br/> ated the Buffaloe, the Deer, and other
                    animals for <br/> food, he made the Bear &amp; the Beaver, their skins served
                    <br/> us for clothing, he had scattered them over the country <br/> and taught
                    us how to take them, he had caused the <br/> earth to produce corn for bread,
                    all this he had done <br/> for his red children because he loved them; if we had
                    <br/> some disputes about hunting ground they were generally <br/> settled
                    without the shedding of much blood; but an <br/> Evil day came upon us your
                    forefathers crossed the <br/> great watter and landed on this Island; their
                    number were<br/><pb facs="SW_1805_00_00_Page_4" n="4"></pb> were small, they found friends and not enemies, they <br/>
                    told us they had fled from their own country for fear of <br/> wicked men, and
                    had come here to enjoy their religion, <br/> they asked for a small seat, we
                    took pity on them, <br/> Graned their request, and they sat down amongst us,
                    <br/> we gave them corn &amp; meat, they gave us poison
                        (alluding<br/> it as supposed to ardent spirits) in
                    retuurn. the white people <br/> had now found our country, tidings were carried
                    back,<br/> and more came amongst us, yet we did not fear them<br/> we took them to
                    be friends they called us Brothers, we <br/> believed them, and gave them a
                    large seat, at length <br/> their numbers had greatly increased, they wanted
                    <br/> more land, they wanted our country, our eyes were <br/> opened and our
                    minds became uneasy, wars took place <br/> Indians were hired to fight against
                    Indians, and <br/> many of our people were destroy'd, they also brought <br/>
                    strong liquors amongst us, it was strong and power <br/> ful, and has slain
                    thousands. </p>
<p> Brother, our seats were once large and yours <br/> were small, you have now
                    become a great people; <br/> and we have scarcely a place left to spread our <br/>
                    Blankits, you have got our country, but are not <br/>
                    satisfied, you want to force your Religion upon us.
                </p>
<p> Brother, continue to listen, you say you are sent <br/> to instruct us how to
                    worship the Great spirit agreeably to <br/> his mind, and if we do not take hold
                    of the Religion which you <br/> teach, we shall be unhappy hereafter, you say
                    that you <br/> are right and we are lost, how do you know this to be <br/> true;
                    we understand that your religion is written in a <br/> book, if it was intended
                    for us as well as you, why has <br/> not the great spirit given to us, and not
                    only to us, <br/> but why did he not give to our forefathers the know <br/>
                    ledge of that book, with the means of understanding <br/> it rightly; we only
                    know what you tell us about <br/> it, how shall we know what to believe, being
                    so often <br/> deciev'd by the white people 
                </p>
<p> Brother, you say there is but one way to worship <br/> and serve the Great
                    spirit, if there is but one Religion <br/><pb facs="SW_1805_00_00_Page_5" n="5"></pb> Religion, why do you white
                    people differ so much about <br/> it? why not all agreed, as you can all used
                    the Book?
                </p>
<p> Brother, we do not understand these things, we are told <br/> that your religion
                    was given to your forefathers, and how <br/> been handed down from father to
                    son, we also have a <br/> Religion, which was given to our forefathers, and has
                    <br/> been handed down to us their Children, we worship <br/> in that way, it
                    teaches us to be thankful for all the <br/> favours we Recieve, to love each
                    other and to be united, <br/> we never quarrel about Religion.
                </p>
<p> Brother, the Great spirit has made us all, but <br/> he has made a great
                    difference between his white &amp; <br/> Red children, he has given us different
                    complexions &amp; <br/> different customs, to you he has
                    given the arts, to <br/> these he has not opened our eyes, we know these things
                    <br/> to be true; since he has made so great a differenc <br/> between us in
                    other things, why may we not conclude <br/> that he has given us a different
                    Religion according to <br/> our understandings; The Great spirit does right, he
                    <br/> honors what is best for his children, we are satisfied. 
                </p>
<p> Brother, we do not wish to destroy your Religion, <br/> or take it from you, we
                    only want to enjoy our own. 
                </p>
<p> Brother, we are told that you have been preach <br/> ing to the white people in
                    this place, These people <br/> are our neighbours, we are acquainted with them,
                    <br/> we will wait a little while and see what effect <br/> your preaching has
                    upon them, if we find it <br/> does them good, makes them honest and less
                    dispos'd <br/> to cheat Indians, we will then consider again what <br/> you have
                    said. 
                </p>
<p> Brother You have now heard our answer to your <br/> talk, and this is all we
                    have to say at present, as we are <br/> going to part we will come and take you
                    by the hand <br/> and hope the Great spirit will protect you on your <br/>
                    journey and return you safe to your friends. </p><pb facs="SW_1805_00_00_Page_6" n="6"></pb></div>
<div type="narrative">
<p> As the Indians began to approach the missionary, <br/> he rose hastily from his
                    seat and replied, he could not <br/> take them by the hand, that there was no
                    fellowship between <br/> the Religion of God and the words of the Devil, this
                    being <br/> interpreted to the Indians, they smiled, and retired in a <br/>
                    peacable manner.
                </p>
<p> It being afterwards suggested to the Missionary that <br/> his Reply to the
                    Indians was rather indiscreet, <br/> he observ'd that he supposed the ceremony
                    of shaking <br/> hands wou'd be reciev'd by them as a token, that he <br/>
                    assented to what they had said, being otherways inform'd <br/> he said he was
                    sorry for the expression.</p>
</div>
</text>
</tei>
</body></html>