<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Account of Canandaigua Treaty Negotiations: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Mary Olesnavich</name>
</respstmt>
</titlestmt>
<extent>ca.15 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_Letters_1794_12_02</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Misc Mss 1794_12_02</idno>
</msidentifier>
<physdesc>
<p>4 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This report is part of a collection of miscellaneous correspondence and is housed
                    at Friends Historical Library, on the campus of Swarthmore College. </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases.
                </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in 1794<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends - New York (State)</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Indians of North America -- Treaties</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item>PCO edits<date>2015</date></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="letter"><pb facs="SW_Letters_1794_12_20_Page_1" n="1"></pb>
<opener> To the <a href="http://127.0.0.1:8000/organizations/pymsufferings">Meeting for Sufferings<orgname key="pymsufferings"></orgname></a><br/>
<salute>Dear Friends</salute><br/>
</opener>
<p>Agreeably to our prospect of attending the Treaty to be <br/> held with the
                    Indians of the <a href="http://127.0.0.1:8000/organizations/sxntns">Six Nations<orgname key="sxntns"></orgname></a> at <a href="http://127.0.0.1:8000/places/canan">Canandaque<placename key="canan"></placename></a> in <a href="http://127.0.0.1:8000/places/newyo"> New York
                    <placename key="newyo"></placename></a><br/> Government, we left this City the 15th of the 9th Mo: and
                    reached that <br/> place on the 26th of the same: On our arrival we found but
                    about 160 <br/> collected, and these chiefly of the <a href="http://127.0.0.1:8000/organizations/oneida">Oneida<orgname key="oneida"></orgname></a> Tribe, with whom we had divers <br/> conferences before
                    the others came in; we also found about 30 Members of <br/> our religious
                    Society settled within the compass of fifteen Miles of the place <br/> of Treaty
                    who had emigrated chiefly from the New England Governments, <br/> these friends
                    in their distant &amp; scattered situation appeared glad to see us <br/> and
                    engaged our attention &amp; concern. We had Meetings on the <br/> first Days of
                    the Week during our continuance there, which were held to <br/> satisfaction and
                    attended by our fellow professors &amp; many others both <br/> Indians &amp;
                    Whites; amongst these people we apprehend a few Books might <br/> be profitably
                    distributed. </p>
<p> All the Indians who were expected being at length assembled <br/> to the amount
                    of 1600 and upwards, the Treaty commenced; we attended <br/> all the public
                    Councils as well as some which were held by the Commissi <br/> oner more
                    privately, and had frequent &amp; satisfactory opportunities of <br/> conference
                    with the Sachems &amp; other Chiefs, in which we endeavoured <br/> to impress
                    thier Minds with a sense of the advantages to be derived from <br/> living in
                    peace one with another and with all Men, and of the expedi-
                    <br/> ency of leading a more sober &amp; quiet Life, that they might
                    draw down <br/> the divine Blessing upon them; they heard us with attention and
                    we <br/> hope it was not without some good effect. They still retain a <br/>
                    lively remembrance of the the just &amp; friendly treatment thier forefathers
                    <br/> experienced from the first founders of Pennsylvania, continue to dis-
                    <br/> tinguish him by the name of <a href="http://127.0.0.1:8000/people/wpenn1"> Onas <persname key="wpenn1"></persname></a> and
                    consider friends as his de- <br/> scendants, expressing that <said who="undetermined"> if we
                        deceive them they can no more place <br/> any confidence in mankind
                    </said></p>
<p> As an enquiry had been made in time past respecting the <br/> original Owners of
                    the Land about <a href="http://127.0.0.1:8000/places/hopw"> Hopewell <placename key="hopw"></placename></a> in <a href="http://127.0.0.1:8000/places/virgi"> Virginia <placename key="virgi"></placename></a>, soon after <br/> the Indians were
                    collected, some of the principal Cheifs of the different <br/><pb facs="SW_Letters_1794_12_20_Page_2" n="2"></pb> Nations
                    visited us on the occasion and revived the subject, expressing <br/> their
                    gladness that friends were willing to do justice; divers conferences <br/> were
                    held amongst themselves and with us relative to that business, the <br/> Issue
                    of which was that we were all of opinion the <a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscaroras<orgname key="tuscarora"></orgname></a> were the <br/> people who formerly owned that Country;
                    they are now the sixth Nation <br/> in the Confederacy, live on the <a href="http://127.0.0.1:8000/organizations/seneca">Seneca's<orgname key="seneca"></orgname></a> Land and sit with them in <br/> Council, but
                    we believe are not considered as having a right in the <br/> Soil; <a href="http://127.0.0.1:8000/people/ichap2"> General Chapin Superintendent of the Six Nations <persname key="ichap2"></persname></a>
                    upon en- <br/> quiry being of the same opinion, gave us his judgement in
                    writing, which <br/> we have now to present to the Meeting. About 20 <a href="http://127.0.0.1:8000/organizations/delaware">Delawares<orgname key="delaware"></orgname></a> also <br/> attended the Treaty, some of
                    whom came from <a href="http://127.0.0.1:8000/places/cones2">Conestogoe Manor<placename key="cones2"></placename></a> &amp; com-
                    <br/> plained to us of the murder of their relations and of their having been
                    <br/> driven from their profsessions without any just compensation being <br/>
                    made, requesting we would mention it on our return, that the Injuries <br/> done
                    them &amp; their people might be redressed.
                </p>
<p> Early in the Business we presented the address of friends, which <br/> was read
                    &amp; interpreted, they were attentive to it's contents and expressed <br/>
                    their satisfaction </p>
<p> During our stay with them they made several speeches to us, <br/> and some
                    difficulties occuring in the course of the Treaty, they re- <br/> quested our
                    council &amp; advice, which we gave them as well as we were <br/> qualified in
                    our delicate &amp; trying situation: some of these Speeches <br/> express a
                    regard &amp; friendship for our religious society, which; with some <br/>
                    observations &amp; occurences contained in our Notes, may if the Meeting <br/>
                    thinks proper be selected with the assistance of a few friends &amp; offered
                    <br/> to a future Meeting. </p>
<p> It may be proper to remark that altho' it afforded us satis- <br/> faction that
                    a Treaty was concluded in such a manner as that we <br/> hope peace is
                    established between the <a href="http://127.0.0.1:8000/organizations/sxntns">six Nations<orgname key="sxntns"></orgname></a> &amp; the
                    United <br/> States, yet as it confirms the right of the United States to large
                    <br/> Tracts of their Country which were obtained by <del> right of </del>
                    conquest <br/> we were therefore most easy to omit subscribing our Names as wit-
                    <br/> nesses to the Articles thereof.</p>
<p> At the close of the Treaty we assembled the Chiefs of all <br/> the Nations and
                    delivered them the presents of friends, which they <br/><pb facs="SW_Letters_1794_12_20_Page_3" n="3"></pb> gratefully
                    received; <a href="http://127.0.0.1:8000/people/jparr2"> Jaspar Parrish <persname key="jparr2"></persname></a> an Interpreter for
                    Government distri- <br/> uted them at their request agreeable to the Numbers
                    contained in each <br/> Nation. </p>
<p> We continued with them about seven weeks, and had no cause <br/> to doubt our
                    having been in our proper places, yet with sorrow had to <br/> observe that the
                    pernicious effecs of spirituous liquors being handed <br/> freely to them were
                    highly injurious and considerably retarded the Issue <br/> of the
                    Business.</p>
<p> Many are the Difficulties &amp; Sufferings to which the Indians are <br/>
                    subjected and their present situation appears loudly to claim the Sym- <br/>
                    pathy &amp; attention of the Members of our religious Society &amp; others who
                    <br/> have grown numerous &amp; opulent on the former inheritance of these <br/>
                    poor declining people: we can not but believe some mode may be <br/> fallen upon
                    of rendering them more essential service than has yet <br/> been adopted.
                    </p>
<p> Our Engagements were often very trying &amp; straitning, yet <br/> thro' the
                    kindness of providence we were preserved in much harmony <br/> &amp; Unity
                    through them all, and on the whole have reason to hope, the <br/> object of the
                        Concern was in some degree answered 
                    &amp; are thankful <br/> in being permitted to return home with a portion of
                    peace after <br/> an exercising &amp; fatiguing Journey </p>
<closer><dateline><a href="http://127.0.0.1:8000/places/phila">Philada:<placename key="phila"></placename></a><date when="1794-12-20">20th:12
                    mo:1794</date></dateline>
<signed>
<list>
<item>
<a href="http://127.0.0.1:8000/people/jparr1">John Parrish<persname key="jparr1"></persname></a></item>
<item>
<a href="http://127.0.0.1:8000/people/dbaco1">David Bacon<persname key="dbaco1"></persname></a></item>
<item>
<a href="http://127.0.0.1:8000/people/wsave1">William Savery<persname key="wsave1"></persname></a></item>
<item>
<a href="http://127.0.0.1:8000/people/jemle1">James Emlen<persname key="jemle1"></persname></a></item>
</list></signed>
</closer>
</div>
</text>
</tei>
</body></html>