<?xml version="1.0" encoding="UTF-8"?><?xml-model hkey="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model hkey="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" hkey="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" hkey="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" hkey="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Joseph Clark's Account of a Journey to the Indian Country, 1797: Electronic
                    Version</title>
<editor>Friends Historical Library</editor>
<respstmt>
<resp>Encoded by</resp>
<name>Conor Heins</name>
</respstmt>
</titlestmt>
<publicationstmt>
<distributor>Friends Historical Library, Swarthmore College</distributor>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2014</date>
<idno type="local">SW_JC1797</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<biblstruct>
<analytic>
<title>Joseph Clark's Account of a Journey to the Indian Country</title>
</analytic>
<monogr>
<title level="j">Friends Miscellany</title>
<imprint>
<biblscope unit="volume">1</biblscope>
<biblscope unit="issue">8</biblscope>
<date when="1831">1831:</date>
<biblscope from="367" to="380" unit="page">367-380</biblscope>
</imprint>
</monogr>
</biblstruct>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>In the fall semester of 2010, Swarthmore students enrolled in English 50A
                    (“Reading Red, White, and In-Between in Early American Literature”) transcribed
                    a number of journals, both published and in manuscript form, which document the
                    interaction of Quakers and Native Americans. In 2014 a decision was made to
                    encode these and other journals as part of a larger project to make the
                    library’s rich store of Quaker Indian mission writings more accessible. The
                    project was designed by Christopher Densmore, Curator of Friends Historical
                    Library.</p>
</projectdesc>
</encodingdesc>
<profiledesc>
<creation>Original written in <date when="1797">1797</date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="lcsh">
<list>
<item>Quakers</item>
<item>Indian reservations</item>
<item>Indians of North America--Missions</item>
<item>New York (State)--Description and travel</item>
<item>Pennsylvania--Description and travel</item>
<item>Philadelphia Yearly Meeting of the Religious Society of Friends</item>
<item>Quakers--Pennsylvania--Diaries</item>
<item>Quakers--Political activity</item>
<item>Seneca Indians</item>
<item>Society of Friends--Missions</item>
<item>Voyages and Travels</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<change><date></date></change>
</revisiondesc>
</teiheader>
<text>
<front>
<div type="preface">
<pb facs="SW_JC1797_Page_01" n="367"></pb>
<p> In the year 1797, <a href="/people/jparr1">John Parrish<persname key="jparr1"></persname></a>, a friend and
                    fa-<br/> ther in the church, suggested the advantage that<br/> might arise to
                    the Indian natives, by bringing a few<br/> of their young females into this part
                    of the country,<br/> in order to instruct them in the useful arts of do-<br/>
                    mestic economy, by pitting them in the families<br/> of suitable Friends, where
                    they might be carefully educated. </p>
<pb facs="SW_JC1797_Page_02" n="368"></pb>
<p> This being a very weighty matter, claimed my<br/> serious attention, and was
                    laid before the committee<br/> appointed by the Yearly Meeting, for promoting
                    the<br/> improvement and gradual civilization of the Indian<br/> natives. The
                    proposal was acceded to by the com-<br/>mittee, who furnished me with a
                    certificate, expres-<br/>sive of their unity therewith, and addressed to
                    the<br/> Indians, as follows: </p>
</div>
</front>
<div type="letter">
<dateline><date type="unattested" when="1797"></date><placename key="phila" type="unattested"></placename></dateline>
<opener><salute>Brothers,</salute>
</opener>
<p> We received by our friend, <a href="/people/hsimm1">Henry Simmons<persname key="hsimm1"></persname></a>,<br/>
                    a few lines from you. We were glad to hear from<br/> you, and that your young
                    men were encouraged to<br/> walk in the good path, we recommended to you.
                    It<br/> did our hearts good, when he told us that you had<br/> raised corn,
                    wheat, and other grain, to supply your-<br/>selves till next crop. We wish you
                    all to be sober<br/> and industrious, and learn to be good farmers. </p>
<p> Brothers, we understand that you are desirous a<br/> few of your girls should be
                    placed in the families of<br/> some of our friends, and be taught what our
                    daugh-<br/>ters are. We rejoice at it, and are willing to take<br/> three of
                    them; and our friend, <a href="/people/jclar1">Joseph Clark<persname key="jclar1"></persname></a>, has<br/>
                    agreed to assist in bringing them safe down. They<br/> (<a href="/people/hsimm1">H. Simmons<persname key="hsimm1"></persname></a> and <a href="/people/jclar1">J. Clark<persname key="jclar1"></persname></a>) will
                    deliver you this.<br/>We also have agreed to take two girls from <a href="/organizations/oneida">Oneida<orgname key="oneida"></orgname></a>, <br/> and two from the <a href="/organizations/tuscarora">Tuscaroras<orgname key="tuscarora"></orgname></a>. </p>
<p> Brothers, we expect the girls you send us,<br/> will remain till they are
                    eighteen years of age, as our<br/> daughters are placed by their parents or
                    friends to<br/> learn what we want your daughters should know;<br/> that is,
                    spinning, weaving, how to make butter, and<br/>
<pb facs="SW_JC1797_Page_03" n="369"></pb> such other things as are useful on a
                    farm. We shall<br/> place them in such families as will use them kindly,<br/>
                    and instruct them in what is needful. </p>
<closer><salute> We remain your friends and brothers, </salute>
<signed>
<a href="/people/jdrin1">JOHN DRINKER<persname key="jdrin1"></persname></a></signed>
<signed><a href="/people/hdrin1">H. DRINKER<persname key="hdrin1"></persname></a></signed>
<signed><persname>JOHN PARRISH</persname></signed>
<signed><a href="/people/tstew1">THOS. STEWARDSON<persname key="tstew1"></persname></a></signed>
<signed><a href="/people/twist1">THOMAS WISTER<persname key="twist1"></persname></a></signed>
<signed><a href="/people/jbidd1">JOHN BIDDLE<persname key="jbidd1"></persname></a></signed></closer>
</div>
<div type="entry">
<dateline><date when="1797-10"></date><placename key="oneida"></placename></dateline>
<p>Having laid the subject before my family, after<br/> about two weeks'
                    consideration and preparation, I<br/> took an affectionate leave of them on
                    the<br/> 16th of the 10th month, 1797, and went to <a href="/places/brist">Bristol<placename key="brist"></placename></a> in Bucks<br/> county, where I met with my friend,
                        <a href="/people/hsimm1">Henry Sim-mons<persname key="hsimm1"></persname></a>, jun. who was to be my
                    companion in the jour-<br/>ney, which was very satisfactory. But he was
                    taken<br/> unwell, after travelling about twenty miles, and con- <br/> tinued so
                    during all the journey. </p>
<p> When we arrived at New York, a number of ar-<br/>ticles were purchased for
                    clothing for the girls, and<br/> we prosecuted our journey till, in due season,
                    we<br/> arrived at <a href="/places/oneida">Oneida<placename key="oneida"></placename></a>, in the state of
                    New York, where<br/> we were received with marks of affection, by the<br/>
                    Indians. I was taken to the house of one of the<br/> Chiefs, his wife having
                    been informed concerning<br/> my coming. </p>
</div>
<div type="entry">
<dateline><date when="1797-10-29">On the 29th</date>, <placename></placename></dateline>
<p>
<a href="/people/ncusi1">Nicholas Cusick<persname key="ncusi1"></persname></a>, Chief of the <a href="/organizations/tuscarora">Tus-caroras<orgname key="tuscarora"></orgname></a>, with his wife, made us a visit.
                    He is an<br/> orderly and sensible man. </p>
<p> We also had a conference with the <a href="/organizations/stockbridge">Stockbridge<orgname key="stockbridge"></orgname></a> and<br/>
<a href="/organizations/tuscarora">Tuscarora<orgname key="tuscarora"></orgname></a> Indians; at which we produced our
                    certi-<br/>ficates, and they were read, not only by paragraphs,<br/> but by
                    sentences and words. <a href="/people/haupa1">Hendrick Apaumut<persname key="haupa1"></persname></a><br/> was
                    interpreter for the <a href="/organizations/stockbridge">Stockbridge<orgname key="stockbridge"></orgname></a>, and
                        <a href="/people/ncusi1">Nicholas Cusick<persname key="ncusi1"></persname></a>
<br/>
<pb facs="SW_JC1797_Page_04" n="370"></pb> for the <a href="/organizations/tuscarora">Tuscaroras<orgname key="tuscarora"></orgname></a>. Some warriors from<br/> Niagara, were also present.
                    At this conference, the<br/> Indians seemed fully satisfied with the
                    proposals<br/> made to them. We informed them that Friends had<br/> nothing but
                    love for them and their children; and<br/> as it was their desire that we should
                    take their chil-<br/>dren, we would do it at Friends' expense. On which<br/>
                    information, they acknowledged Friends' love for<br/> them. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-01">11th mo. 1st</date>.<placename></placename></dateline>
<p> —Had a conference with the prin- <br/> cipal Chief of the <a href="/organizations/oneida">Oneidas<orgname key="oneida"></orgname></a>, about the girls. He re-<br/>marked, that those of the
                    young Indians who go out,<br/> often learn wrong habits; and mentioned some
                    in-<br/>stances in the neighbourhood. He further observed,<br/> that they would
                    rather the sons of Onas, (meaning of<br/>
<a href="/people/wpenn1">William Penn<persname key="wpenn1"></persname></a>,) should have their people or
                    children,<br/> than any other people; but their judgment was, for<br/> our women
                    to come and instruct them; which would<br/> better preserve their morals, and be
                    of far greater<br/> utility amongst the Indians, and which they always<br/>
                    understood would be the case, from the first proposal<br/> made by the
                    committee. In answer to all this, I re-<br/>plied, <said who="jclark1">Great
                        trees grow slow;</said> meaning great<br/> matters take time to accomplish. </p>
<p> He called upon me twice after this, to write a piece<br/> for their nation. At
                    first, I declined; but, upon the<br/> second application, I complied, well
                    knowing that<br/> what they requested was the mind of Friends, and<br/> also of
                    Government. When it was written, they con-<br/>ferred together about its
                    contents; and next day I was<br/> informed by their Chief that they approved
                    thereof.<br/> The purport of it was to warn off some bad tenants,<br/> who had
                    settled on their land contrary to law. The<br/> Chief gave me a name, Onas,
                    signifying the man who <br/>
<pb facs="SW_JC1797_Page_05" n="371"></pb> uses a pen, which I thought no way
                    suitable for my<br/> small abilities.</p>
<p> Being frequently in company with the <a href="/organizations/stockbridge">Stockbridge<orgname key="stockbridge"></orgname></a>
<br/> Indians, I was induced to believe they are superior,<br/> especially the
                    women, to many under our name, who<br/> make a high profession of religion. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-03">3d</date><placename></placename></dateline>
<p>Travelling through this settlement, I beheld<br/> the pleasant situation of the
                    houses of the natives on<br/> a rising ground, near a clear, running, stream,
                    sur-<br/> rounded with trees which are evergreen;—my mind<br/> was considerably
                    humbled on seeing the manner in<br/> which they lived, and how free they were
                    from those<br/> cares and wants, that luxury and pride have intro-<br/>duced.
                    Their composure and serenity are remark-<br/>able. After a long absence of an
                    Indian, they do not<br/> show that ecstacy on his return, that we do in
                    meeting<br/> a friend in such a case; but, when a suitable time<br/> offers, he
                    says, <foreign xml:lang="iro">Satandoxry gawchee!</foreign> that is, <said who="undetermined">So,<br/> friend, art thou still in the valley of
                        tears?</said>
</p>
<p> About this time, I was informed of an interesting<br/> circumstance, which
                    occurred among the <a href="/organizations/wyandot">Wyandot<orgname key="wyandot"></orgname></a>
<br/> nation of Indians, with a deputation from Congress. <br/> It appears that
                    in consequence of some encroachments<br/> of the white people upon the borders
                    of their land, a<br/> demur or dissatisfaction arose among the Indians, and<br/>
                    the affair demanded the attention of <a href="/organizations/congress">Congress<orgname key="congress"></orgname></a>,
                    who<br/> appointed a certain number of judicious men, of their<br/> body, to
                    investigate the grievance. The Indians <br/> being informed, a council was
                    called; and at a time<br/> appointed, the deputies met them, and requested to be
                    <br/> furnished with information of the boundaries of their<br/> territory.
                    When, to their great surprise, a young<br/> Indian stepped forth, and on behalf
                    of the council, in<br/> a solemn manner, spoke thus: <said who="undetermined">He
                        who causes the <br/>
<pb facs="SW_JC1797_Page_06" n="372"></pb> sun to rise beyond the top of the
                        eastern hills, and set<br/> below the brow of the western mountains,—that
                        hath<br/> clothed the wilderness with leaves in the spring, and<br/>
                        disrobed it again, in the fall.—it is He alone who hath <br/> set bounds to
                        our country.</said> This speech so surprised<br/> the auditory, though men
                    of great abilities, that they<br/> knew not what reply or answer to make. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-05">5th</date>. <placename></placename></dateline>
<p> Favoured with health, though my companion,<br/>
<a href="/people/hsimm1">H. Simmons<persname key="hsimm1"></persname></a>, jun. labours under the affliction
                    of the<br/> ague. <a href="/people/jtuhi1">John Tuhi<persname key="jtuhi1"></persname></a> and <a href="/people/gcros1">George Crosby<persname key="gcros1"></persname></a> came to see us.<br/> These men are of
                        <a href="/organizations/brotherton"> another tribe<orgname key="brotherton"></orgname></a>, and appear superior<br/>
                    in respect to sobriety and understanding, to many of<br/> us, who are of a
                    fairer complexion. Their remarks<br/> on divers matters were edifying. Speaking
                    of a<br/> schoolmaster's qualifications, one of them observed<br/> that the sort
                    of master they wanted, or required<br/> amongst them was, not only one who was
                    qualified to<br/> teach children, and keep the school in order, but one<br/> who
                    would be an example to their parents. </p>
<p> These men offered us their horses to ride to their<br/>
<a href="/organizations/brotherton">nation<orgname key="brotherton"></orgname></a>, and they would go on foot, being
                    about<br/> seventeen computed miles, through a country almost<br/> impassible at
                    this season: but I could not accede to<br/> their kind proposal. </p>
<p> Had a meeting this morning. A number of Indians<br/> came to see us,
                    notwithstanding it was very stormy.<br/> I thought this a day of refreshment,
                    both in our little<br/> sitting, and in some remarks made by the natives. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-06">6th</date>. <placename></placename></dateline>
<p> A cold morning;—the wind north-east, and<br/> the waters high in the creeks,
                    from the thaw of snow<br/> that had occurred. We intended to set out for
                        <a href="/places/stockbridge">Stock- bridge<placename key="stockbridge"></placename></a> on foot, but as
                        <a href="/people/hsimm1">my companion<persname key="hsimm1"></persname></a> was much re-<br/> duced by
                    having the ague, together with some bag-<br/> gage we had to take, it seemed a
                    little difficult. But <br/>
<pb facs="SW_JC1797_Page_07" n="373"></pb> He who is a present help was near to
                    provide; for a<br/>
<a href="/organizations/stockbridge">Stockbridge<orgname key="stockbridge"></orgname></a> Indian came to the house at the
                    hour we<br/> intended to depart, and agreed to carry our burdens.<br/> From my
                    feelings, I had cause of thankfulness for<br/> being here; believing the Lord is
                    bringing about a<br/> great work in the earth.</p>
<p> A man, called a <a href="/organizations/bapt">Baptist<orgname key="bapt"></orgname></a> minister, was at
                        <a href="/places/stockbridge">Stock- bridge<placename key="stockbridge"></placename></a>. The Indians
                    snowed him our certificate; at<br/> which he expressed his approbation, and
                    offered us<br/> the use of his horse for a few days. </p>
<p> Here we were informed that the <a href="/organizations/oneida">Oneida<orgname key="oneida"></orgname></a>'s
                    conclu-<br/> sion not to send their girls from their nation, had<br/> such an
                    effect upon the <a href="/organizations/tuscarora">Tuscaroras<orgname key="tuscarora"></orgname></a>, that
                    notwith-<br/> standing we had delivered clothing for their children,<br/> we had
                    to recommend them to deliver it to those who<br/> offered voluntarily. We could
                    have had many more<br/> of the <a href="/organizations/stockbridge">Stockbridge<orgname key="stockbridge"></orgname></a>
                    children, than were specified in <br/> our certificate; but to keep as near as
                    possible to<br/> what was therein contained, was our earnest desire. </p>
<p>
<a href="/people/hsimm1">My companion<persname key="hsimm1"></persname></a> was so ill as we travelled
                    along,<br/> that he entreated me to permit him to lie down on<br/> the wet logs;
                    which I could not suffer; and whether<br/> he would be able to reach the house
                    intended was un-<br/> certain,—the road being so very miry. His illness<br/> was
                    a considerable exercise to me, not only at this<br/> time, but many others. At
                    length, we arrived at our<br/> Indian brother's, where we were treated with
                    great<br/> kindness, and much hospitality. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-07">7th</date>. <placename></placename></dateline>
<p> A fine morning. My mind often felt the<br/> sweet influences of Divine Goodness;
                    and I could be-<br/> hold its salutary effects among some of these inhabi-<br/>
                    tants of the wilderness. Their penetration and judg-<br/> ment in religious
                    matters, are very evident and<br/> striking, as may appear in the following
                    narrative. </p>
<pb facs="SW_JC1797_Page_08" n="374"></pb>
<floatingtext type="narrative">
<ab>It appears that two young men were prepared at<br/>
<placename>Princeton college</placename>, to be sent as missionaries
                            among<br/> the Indians. And in order to habituate themselves<br/> to the
                            hardships that awaited them, they lodged upon<br/> boards. When they set
                            out upon their mission, seve-<br/> ral persons of respectability
                            accompanied them to<br/> the <a href="/organizations/creek">Creek
                            Nation<orgname key="creek"></orgname></a>. When arrived, the Chiefs were<br/> called,—a
                            conference was held with them, and it was<br/> proposed to call a
                            Council; which being met, the<br/> visitors informed them that they had
                            brought two<br/> ministers of the gospel to preach salvation to
                            them;<br/> and also a number of books, which would lead them<br/> the
                            way to heaven. The Indians received the infor-<br/> mation, without
                            apparent emotion; and said they<br/> would consider the subject; which
                            should occupy the<br/> space of fourteen days. Meanwhile the young
                            minis-<br/> ters proposed preaching; but the Indians would not<br/>
                            suffer them, until their own conclusions were made.<br/> At the
                            expiration of the fourteen days, the Indians<br/> made inquiry, whether
                            they had any dark-coloured<br/> people among them, and whether they
                            preached the<br/> gospel of salvation to them: whether they gave
                            them<br/> those good books, which would show them the way to<br/>
                            heaven; or, whether they treated them as slaves, or<br/> as brothers.
                            Being answered accordingly, the In-<br/> dians again spoke, <said who="undetermined">Go home, and preach the gospel<br/> of salvation
                                to them; give them those good books, that<br/> will learn them the
                                way to heaven;—treat them as<br/> brethren, and not as slaves; then
                                come and preach to<br/> us.</said> In consequence of this refusal,
                            the whole mis-<br/> sionary company returned; and one of them who
                            was<br/> in the station of a congress-man, was so effected with<br/> the
                            circumstance, that he emancipated all his slaves.</ab>
</floatingtext>
<p>When I came home, I called upon the person, and <br/>
<pb facs="SW_JC1797_Page_09" n="375"></pb> inquired more fully respecting the
                    matter, when he<br/> readily, seriously, and fully confirmed the same. </p>
<p> I never experienced greater kindness than from the<br/> Indians. I had not only
                    their horses to ride, but a<br/> guide from place to place, The natives would
                    not<br/> permit me even to carry my portmanteau, nor scarce-<br/> ly to go over
                    a bridge that was dangerous, but offered<br/> to carry me over in their arms;
                    though I would not<br/> suffer them. When I lodged with the Indians, they<br/>
                    would build a large fire at bed-time, in the room that<br/> I occupied, and
                    always renewed it at midnight;—the<br/> family being remarkably still, whether
                    up or a-bed. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-08">8th</date>. <placename key="broth"></placename></dateline>
<p> A hard frost. This morning, set out for <a href="/places/broth">Bro-thertown<placename key="broth"></placename></a>, having the Chief's horse to ride, with
                    one<br/> of their principal men for a guide. We travelled<br/> through a most
                    fertile country, over logs, and thro'<br/> bushes, at the rate of about a mile,
                    and sometimes<br/> two, in an hour. Arrived at <a href="/places/broth">Brothertown<placename key="broth"></placename></a> in the<br/> evening, and were treated with all the
                    kindness we<br/> could ask. Having comfortably lodged here one<br/> night, the
                    next day we set out for <a href="/places/fschy">Fort Schuyler<placename key="fschy"></placename></a>,<br/>
                    being still accommodated with horses and a guide.<br/> The roads were beyond
                    description, bad; but we<br/> were favoured to reach <a href="/places/fschy">Fort
                        Schuyler<placename key="fschy"></placename></a>, in the even-<br/> ing,—having previously agreed to
                    meet our family<br/> of female Indians at this place. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-10">10th</date>. <placename></placename></dateline>
<p> This morning our Indian girls came, each<br/> one accompanied by her parent or
                    guardian. The<br/> business of parting was conducted with great serious-<br/>
                    ness, for the Indians delivered their children to us<br/> with the utmost
                    confidence and quietude: which<br/> brought over my mind a considerable weight
                    of con-<br/> cern and care, that nothing on my part, might ob-<br/> struct this
                    great and important work. The girls ma-<br/>
<pb facs="SW_JC1797_Page_10" n="376"></pb> nifested much stillness and composure, at
                    taking<br/> leave of their parents, to go a long journey, with<br/> perfect
                    strangers, to reside in a distant land. So we<br/> went to the <geogname key="mohaw">Mohawk river</geogname>, and they stepped into<br/> the boat,
                    wrapped their faces in their blankets, and<br/> I do not remember that they
                    uttered a word. We<br/> now had to pass down this river about one hundred<br/>
                    miles, but got on very well the first day's voyage. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-11">11th</date>.<placename></placename></dateline>
<p> Very cold this morning, especially on the<br/>
<geogname key="mohaw">Mohawk</geogname>. We arrived at the Falls about
                    breakfast-<br/> time. These wonderful works of Providence are<br/> very striking
                    to every rational beholder. The water-<br/> fall is fifty-one feet between the
                    tremendous rocks,<br/> which form a perfect stone wall for the space of<br/>
                    twenty miles along the river. This river receives<br/> the fewest creeks of any
                    I know of; consequently it<br/> keeps nearly the same height, and is not
                    affected by<br/> any tide. Travellers often stop, kindle a fire on its<br/>
                    banks, and dress their meal. </p>
<p>
<a href="/people/hsimm1">My companion<persname key="hsimm1"></persname></a> continues ill, increasingly so,
                    by<br/> being much exposed to the cold in an almost open<br/> boat, while the
                    hills and fields are covered with snow.<br/> About four o'clock in the afternoon
                    we arrived at<br/>
<a href="/places/schen">Schenectady<placename key="schen"></placename></a>, and procured comfortable
                    lodgings,<br/> which could not be obtained at every place. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-12">12th</date>.<placename></placename></dateline>
<p> A rainy morning. I felt well in health,<br/> through favour, tho' my companion,
                        <a href="/people/hsimm1">H. Simmons<persname key="hsimm1"></persname></a>,<br/> was still affected with
                    the ague. Being first-day,<br/> early in the morning, we were taken about
                    fourteen<br/> miles in a carriage to <a href="/places/alban">Albany<placename key="alban"></placename></a>,
                    where we tarried at<br/> the house of our kind friend, <a href="/people/pfiel1">Peter Field<persname key="pfiel1"></persname></a>, during<br/> the remainder of this day, which I
                    spent chiefly in<br/> reading the Book of Martyrs. There are but three<br/>
                    families of Friends in this place, who are not thought <br/>
<pb facs="SW_JC1797_Page_11" n="377"></pb> qualified to hold a meeting: therefore,
                    they and their<br/> children must suffer great privation and loss, in the<br/>
                    most serious and important part; for, being full<br/> twenty miles from the
                    nearest meeting, perhaps<br/> these young people but seldom attend. </p>
<p> It would be wisdom for parents carefully to weigh<br/> every difficulty, in
                    removing with their tender off-<br/> spring, to settle far from meeting, and not
                    let the<br/> perishing things of this world have too much sway.<br/> He who is
                    rich in mercy, can mar abundance, and<br/> bless a little; for <quote type="biblical">the earth is the Lord's, and the<br/> fullness thereof.</quote>
</p>
</div>
<div type="entry">
<dateline><date when="1797-11-13">13th</date>. <placename></placename></dateline>
<p> A fine mild morning. The wind being fa-<br/> vourable, we took passage in a
                    sloop for New York.<br/> I felt a degree of thankfulness that the Lord had<br/>
                    thus far preserved us, and our family of girls. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-14">14th</date>. <placename></placename></dateline>
<p> A rainy morning, though mild. Our girls<br/> conduct themselves with so much
                    propriety, that<br/> they are remarked by persons of respectability. My<br/>
                    mind was frequently exercised, so as not to suffer<br/> me to sleep; hoping
                    nothing might befall my tender<br/> children, that would obstruct this good
                    work, which<br/> the Lord is about to carry on from sea to sea, and to<br/> the
                    uttermost parts of the earth. </p>
<p> We left <a href="/places/alban">Albany<placename key="alban"></placename></a> about four o'clock in the
                    after-<br/> noon, and came to <a href="/places/huds">Hudson<placename key="huds"></placename></a> that
                    night, about thirty<br/> miles; notwithstanding we were aground, and laid<br/>
                    at anchor till the tide floated us off. Next day we<br/> had a head wind; but
                    our family appeared cheerful,<br/> which is a considerable satisfaction, and
                    cause of<br/> thankfulness unto Him who is a present helper in<br/> every
                    needful time. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-16">16th</date>. <placename key="nycit"></placename></dateline>
<p> A clear, cold morning. Run aground by<br/> means of a strong wind from the
                    western shore, about <br/>
<pb facs="SW_JC1797_Page_12" n="378"></pb> nine miles above New York. When the tide
                    was in<br/> favour, we carried out our anchor, but all endeavours<br/> at this
                    time, proved in vain; and we were obliged to<br/> remain in the cold, until the
                    tide should rise again.<br/> In the evening, we renewed our efforts, and
                    were<br/> favoured to effect our design. We arrived opposite<br/> New York about
                    nine o'clock in the evening, but<br/> the tide run so strong that the captain
                    said he could<br/> not bring the vessel to shore. Being desirous of mo-<br/>
                    ving forward as fast as practicable, we engaged the<br/> boat to take us ashore;
                    which being covered with ice<br/> on every part, and tossing so much, that it
                    was with<br/> difficulty we could get in. At length we arrived<br/> safely in
                    New York, and were kindly received by<br/> our friend <a href="/people/epryo1">Edmund Pryor<persname key="epryo1"></persname></a>; and may truly say, from<br/> the tenderness that
                    was shown to us, and to the In-<br/> dian girls, it was " like a brook by the
                    way." </p>
</div>
<div type="entry">
<dateline><date when="1797-11-17">17th</date>.<placename key="bruns"></placename></dateline>
<p> A snowy morning. Friends manifested<br/> much kindness towards us, particularly
                        <a href="/people/jdela1">Joseph De-laplaine<persname key="jdela1"></persname></a>, who accompanied
                    us to the vessel, and pre-<br/>sented to each of the girls a piece of silver. We
                    ar-<br/> rived safely at <a href="/places/bruns">Brunswick<placename key="bruns"></placename></a> about
                    seven o'clock in<br/> the evening. There was here, at this time, a certain<br/>
                    great man from Poland, who had never seen an In-<br/> dian, and was desirous of
                    being introduced to the<br/> girls. They being in a private room at supper,
                    he<br/> walked in to take a view of them. When he beheld<br/> their orderly
                    deportment, he seemed much surpri-<br/> sed; and after walking round the table
                    where they<br/> were sitting, he said, <said who="#kosci">These are almost
                        civilized<br/> already.</said> I informed him that the father of one of<br/>
                    them would not drink wine. </p>
<p> The same evening, the Poland general and his<br/> company came into the room,
                    where <a href="/people/hsimm1">my companion<persname key="hsimm1"></persname></a>
<br/>
<pb facs="SW_JC1797_Page_13" n="379"></pb> and I were sitting. In the course of the
                    conversa-<br/> tion, the word thou was used, which attracted the<br/> attention
                    of a young man, who remarked in French<br/> to the general, that we, as a
                    people, had a very un-<br/> couth way of speaking thou; — he apprehended, as
                    I<br/> suppose, that we should not understand what he<br/> said in that
                    language. However, I informed him,<br/> that it was the language of the Almighty
                    to the first<br/> man, Adam; therefore bid him not reflect upon the<br/> people
                    for using the language, which the Lord had<br/> taught them. He looked confused;
                    and the Polander,<br/> who understood English, appeared to favour the ob-<br/>
                    servation. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-18">18th</date>.<placename key="brist"></placename></dateline>
<p> Set out before day, and reached <placename>Princeton</placename><br/> by
                    breakfast-time. Through the continuance of Di-<br/> vine favour, my family
                    continue well, except <a href="/people/hsimm1">He-nry<persname key="hsimm1"></persname></a>, whose ague
                    remains with him. Passing on, we<br/> arrived safely at <a href="/places/brist">Bristol<placename key="brist"></placename></a> in Pennsylvania, where we<br/> parted. <a href="/people/hsimm1">Henry<persname key="hsimm1"></persname></a> took charge of the children, and<br/> went to
                    his home in that neighbourhood, where it<br/> was concluded the girls should
                    remain until I should<br/> return from <a href="/places/phila">Philadelphia<placename key="phila"></placename></a>. Accordingly I took pas-<br/> sage in the stage,
                    and reached home about nine<br/> o'clock in the evening; where, through the
                    favour<br/> of a kind, preserving Providence, I found my fami-<br/>ly well, and
                    we were mutually rejoiced to see each<br/> other. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-19">19th</date>.<placename key="phila"></placename></dateline>
<p> A few Friends were called together, in or-<br/> der to be informed of my
                    proceedings, and to con-<br/> sider what necessary step should be taken
                    next.--<br/> They expressed their satisfaction with my commu-<br/> nication, and
                    concluded that I should return the next <br/> day to <a href="/people/hsimm1">Henry Simmons<persname key="hsimm1"></persname></a>'s, and bring the girls down<br/> to <a href="/places/phila">Philadelphia<placename key="phila"></placename></a>. </p>
</div>
<div type="entry">
<dateline><date when="1797-11-20">20th</date>.<placename></placename></dateline>
<p> Rode to <a href="/places/brist">Bristol<placename key="brist"></placename></a>, and next morning to
                    Hen-<br/>ry <a href="/people/hsimm1">Simmons<persname key="hsimm1"></persname></a>'s, where the girls,
                    remained during my<br/> absence. </p>
<pb facs="SW_JC1797_Page_14" n="380"></pb>
<p> Being equipped, we again set out, and ar-<br/>rived at my house about sun-set.
                    The girls continu-<br/>ed with us for three days; during which time, they<br/>
                    conducted themselves in an orderly manner; and<br/> occasionally read the
                    Scriptures. Many Friends call-<br/>ed to see them, and gave them a number of
                    small<br/> presents. </p>
<p> The next concern was, to find suitable places for<br/> them. We accordingly set
                    out for <a href="/people/jemle1">James Emlen<persname key="jemle1"></persname></a>'s,<br/> in Delaware
                    county, where we arrived safely, and<br/> were kindly treated. </p>
</div>
<div type="entry">
<dateline>On first-day, <date when="1797-11-26">the 26th,</date><placename></placename></dateline>
<p> we had them all taken to<br/> meeting, where they behaved in a becoming
                    man-<br/>ner. In the course of a few days, we had them sta-<br/>tioned at the
                    Friends' houses, who were willing to<br/> take charge of them, and instruct them
                    in the busi-<br/>ness of housewifery. Two of the girls were placed<br/> with
                        <a href="/people/ncoop1">Nathan Coope<persname key="ncoop1"></persname></a> and son;—one, with a
                    woman<br/> Friend, who had a concern to take charge of one of<br/> the
                    Indians;—one was placed with the family of<br/>
<a href="/people/wjack1">William Jackson<persname key="wjack1"></persname></a>, and the remaining two with
                        <a href="/people/ijack1">Isaac Jackson<persname key="ijack1"></persname></a>. At my taking leave of
                    them, they wept<br/> considerably; and I felt much tenderness toward<br/> them,
                    when I reflected upon the confidence which<br/> their parents had placed in me.
                    On looking over<br/> this journey, I may thankfully acknowledge, that<br/>
                    through adorable mercy, I have witnessed preserva-<br/>tion; and may the great
                    Preserver of men have the<br/> praise </p>
</div>
</text>
</tei>
</body></html>