<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Jonathan Thomas His Book 1798: Electronic Edition</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>Encoded by</resp>
<name>Conor Heins</name>
<name>Xavier Lee</name>
</respstmt>
<respstmt>
<resp>Transcribed by</resp>
<name>Jessica Holler</name>
<name>Tiffany Lee</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca. 40 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2014</date>
<idno type="local">SW_JT1798</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>MiscMss 1798</idno>
</msidentifier>
<physdesc>
<p>27 pages (1 volume)</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>The manuscript of Jonathan Thomas’s journal is housed at Friends Historical
                    Library, on the campus of Swarthmore College. The transcription was part of a
                    larger transcription project completed from October to December 2010 by students
                    at Swarthmore College enrolled in English 50A, “Reading Red, White, and
                    In-Between in Early American Literature.” The project was a collaborative effort
                    between Christopher Densmore, curator of Friends Historical Library, and Keat
                    Murray, Visiting Assistant Professor of English. Transcribers included: Jessica
                    Holler (title, ii, 1-14) and Tiffany Lee (15-28). The transcription was compiled
                    and edited by Professor Murray.</p>
</projectdesc>
<editorialdecl>
<p>The transcribers and editor attempted to render Jonathon Thomas’s orthography and
                    grammar as they appear on the page of his journal, even when Thomas’s own
                    spelling and usage are inconsistent. Additionally, some questions remain about
                    spelling the names of Thomas’s Quaker acquaintances and individual Native
                    Americans who populate his journal. The transcribers and editor attempted to
                    remain faithful to Thomas’s Anglicized spellings in all cases.</p>
<p>Thomas’ manuscript does, for the most part, include page numbers; the page
                    numbers on the transcription correspond with the manuscript sheets, including
                    Thomas' discontinuous numbering on chronological pages 3 and 4.</p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in <date when="1798">1798</date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Quakers</item>
<item>Oneida Indians</item>
<item>Stockbridge Indians</item>
<item>Tuscarora Indians</item>
<item>Indian reservations</item>
<item>Indians of North America--Missions</item>
<item>New York (State)--Description and travel</item>
<item>Pennsylvania--Description and travel</item>
<item>Philadelphia Yearly Meeting of the Religious Society of Friends</item>
<item>Quakers--Pennsylvania--Diaries</item>
<item>Quakers--Political activity</item>
<item>Seneca Indians</item>
<item>Society of Friends--Missions</item>
<item>Voyages and Travels</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item><date>2015</date></item>
</list>
</revisiondesc>
</teiheader>
<text>
<front>
<div type="undetermined">
<pb facs="SW_JT1798_001" n="inside cover"></pb>
</div>
<div type="preface">
<pb facs="SW_JT1798_002" n="preface"></pb>
<p>In the following sheets I propose to give a short account of<br/> Indian affairs
                    in this settlement <a href="http://127.0.0.1:8000/organizations/oneida">(Oneida)<orgname key="oneida"></orgname></a> for my own
                    amusement<br/> and the satisfaction of having our proceedings in black and<br/>
                    white to view at any time. How far I shall be able to set it<br/> in its true
                    light I cannot tell </p>
</div>
</front>
<div type="narrative">
<pb facs="SW_JT1798_003" n="1"></pb>
<dateline>In the fall of the year <date when="1795">1795</date> at the <a href="http://127.0.0.1:8000/organizations/pym">Yearly Meeting<orgname key="pym"></orgname></a> held<br/> in <a href="http://127.0.0.1:8000/places/phila">Philadelphia<placename key="phila"></placename></a> for Pennsylvania and New Jersey,</dateline>
<p>The situations of<br/> the original inhabitant of North America was laid before
                    the<br/> meeting, friends thinking it best to make a move in the con-<br/>cern
                    for the civilization of the some of this people, A committee<br/> was appointed
                    to take the matter particularly under their care<br/> Shortly after their
                    appointment the minutes of the yearly<br/> meeting (on this concern) with
                        <del>several</del> letters from the <term>sachems</term><br/> &amp; chiefs
                    of several Nations, were sent to the quarterly and<br/> monthly meetings
                    throughout the yearly meeting with advices<br/> to raise a fund for the use of
                    this concern. From the several<br/> quarterly and monthly meetings about six
                    thousand pounds<br/> was raised. In the spring of the year 1796 several
                    young<br/> men<br/>
<pb facs="SW_JT1798_004" n="2"></pb> men expressed a willingness to reside some
                    time amongst<br/> the natives (to wit) <a href="http://127.0.0.1:8000/people/jtayl1">Jacob
                        Taylor,<persname key="jtayl1"></persname></a>
<a href="http://127.0.0.1:8000/people/ewalt1">Enoch Walter<persname key="ewalt1"></persname></a>, and <a href="http://127.0.0.1:8000/people/hsimm1">Henry
                        Simmon<persname key="hsimm1"></persname></a><br/> with three of the committee namely <a href="http://127.0.0.1:8000/people/jpier1">John Pierce<persname key="jpier1"></persname></a>, <a href="http://127.0.0.1:8000/people/jsans1">Joseph
                        Sansom<persname key="jsans1"></persname></a><br/> and <a href="http://127.0.0.1:8000/people/jcoop1">James Cooper<persname key="jcoop1"></persname></a> to
                    accompany them and open a settlement<br/> in some part of the <a href="http://127.0.0.1:8000/places/oneid">Oneida<placename key="oneid"></placename></a> reservation, (one which lived a<br/> the
                        <a href="http://127.0.0.1:8000/organizations/oneida">Oneidas<orgname key="oneida"></orgname></a>, <a href="http://127.0.0.1:8000/organizations/stockbridge">Muheconick<orgname key="stockbridge"></orgname></a> and a few <a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscororas<orgname key="tuscarora"></orgname></a>) Also to visit seve-<br/>ral other Nations and inform
                    them* what the design of Friends<br/> was in coming forward in this way, the
                    above named friends<br/> came on horseback except <a href="http://127.0.0.1:8000/people/jtayl1">Jacob
                        Taylor<persname key="jtayl1"></persname></a> who came by wa<br/>-ter to convey some articles for the
                    use of the settlement<br/> and a few presents for the Indians, they arrived
                    about the<br/>
<del>beginning</del> middle of the 6th Mo. of this year amongst them, after
                        <br/><note rend="asterisk" resp="author">see page 21 this book</note><br/>
<pb facs="SW_JT1798_005" n="5"></pb> viewing the situations of the <a href="http://127.0.0.1:8000/organizations/oneida">Oneidas<orgname key="oneida"></orgname></a>, Muheecosick or <a href="http://127.0.0.1:8000/organizations/stockbridge">Stockbridge<orgname key="stockbridge"></orgname></a> and<br/>
<a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscaroras<orgname key="tuscarora"></orgname></a> the concluded to settle the young
                    men amongst the<br/> former, and agreed to assist the <a href="http://127.0.0.1:8000/organizations/stockbridge">Muheconick<orgname key="stockbridge"></orgname></a> and <a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscaroras<orgname key="tuscarora"></orgname></a>
                    as<br/> far as the following article specifies:</p>
<floatingtext type="letter">
<dateline><date></date><placename></placename></dateline>
<opener>Brothers of the <a href="http://127.0.0.1:8000/organizations/stockbridge">Stockbridge
                                Nation<orgname key="stockbridge"></orgname></a></opener>
<p> We are very glad to find that through the blessing<br/> of the great
                            spirit, and your honest industry and frugal<br/> sobriety you may soon
                            be in a way to live comfortably with<br/> -out being beholding to any
                            body for help </p>
<p> Brothers As you cannot but thankfully acknowledge<br/> this to be the
                            care with your Nation in general and as you<br/> know we want to help
                            many of your Indian Brothers a <br/><pb facs="SW_JT1798_006" n="2"></pb>
                            little who stand in much more need than you do; we trust<br/> you will
                            not think hard of us if we do not do a great deal for<br/> you at this
                            time; But, Brothers in order to encourage you to be<br/> still more
                            industrious and saving, and to set a good example to your<br/> Indian
                            brothers and Neighbors; who are far behind you in point<br/> of
                            civilization we have agreed to help you a little as follows, -- </p>
<p> 1st Brothers, We agree to give you our smith Tools, all complete<br/>
                            and one of our Friends can instruct you a little in using<br/> them; and
                            also a share of our implements of husbandry which<br/> we expect up by
                            our friend <a href="http://127.0.0.1:8000/people/jtayl1">Jacob Taylor<persname key="jtayl1"></persname></a> whom we left
                            behind<br/> in order to bring them up by water.</p>
<p> 2nd Brothers We also are willing to encourage you in <br/>building
                                <br/><pb facs="SW_JT1798_007" n="5"></pb> building a Grist mill by
                            agreeing to advance three dollars<br/> to your one of all the money
                            actually to be paid for Materials,<br/> Mechanical, labour and vitualing
                            the workmen, you finding<br/> the timber and delivering it on the spot,
                            and doing such other<br/> parts of the business as you may be capable of
                            without bring<br/> -ing it into the general charge, of which we have
                            agreed to pay<br/> three fourths, we also agree that the 100 dollars
                            lent to <a href="http://127.0.0.1:8000/people/haupa1">Captain Hendrick<persname key="haupa1"></persname></a> by our
                            committee together with 40 Dollars lent to<br/>
<a href="http://127.0.0.1:8000/people/jserg1">John Sergeant<persname key="jserg1"></persname></a> by us for the use of the
                            nation, shall be consider<br/> -ed as a part of this advance, and left
                            in your hands for<br/> the aforesaid purpose providing always that if
                            the government<br/> shall at any time pay the expense of said mill
                            agreeable to <br/><pb facs="SW_JT1798_008" n="6"></pb> to an article,
                            which you say is contained in a late treaty,<br/> then, in that case you
                            are to refund to our committee all<br/> and every part of the advance
                            made by us towards said mill. </p>
<p> And we propose our Friends, <a href="http://127.0.0.1:8000/people/jtayl1">Jacob
                                Taylor<persname key="jtayl1"></persname></a> and <a href="http://127.0.0.1:8000/people/ewalk1">Enoch
                            Walker<persname key="ewalk1"></persname></a><br/> to take the special care and superintendence, of
                            building said<br/> mill without making any charge on you for their
                            trouble and<br/> we further propose that when said mill is erected,
                            that<br/> you call a general council, and choose a suitable man a<br/>
                            -mongst yourselves to take the care of this mill, and to grind<br/> all
                            of your grain and to keep the mill in order and that<br/> you agree upon
                            some certain and fixed portions for this man to<br/> have out of every
                            grist that shall be ground, sufficient to <br/><pb facs="SW_JT1798_009" n="7"></pb> to pay him well for his time and trouble,
                            and to enable<br/> him to keep the mill in good <del>order</del> repair
                            which he ought to do at<br/> his own expense out of his profits, which
                            you allow him, and<br/> further we propose that you admit your brothers
                            the <a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscaroras<orgname key="tuscarora"></orgname></a><br/> to enjoy part of
                            the advantages of this mill.</p>
<p> 3rd Brothers We also propose to encourage you in keeping<br/> up a
                            school for the education of your children by agreeing to<br/> pay part
                            of the salary to your former master <a href="http://127.0.0.1:8000/people/jquin2">John
                                Quinney<persname key="jquin2"></persname></a><br/> if he will agree again to teach; we are
                            willing to pay 25 dollars<br/> a Quarter for one year at least, if you
                            will agree to make up as<br/> much more as <del>will</del> to encourage
                            him to keep steadily. Our Friends<br/> who stay amongst you will pay the
                            money punctually when a <br/><pb facs="SW_JT1798_010" n="8"></pb> a
                            certificate is produced to them signed by two of your Chiefs<br/>
                            certifying that the school has been kept steadily for the length<br/> of
                            time above mentioned for payment, the <a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscaroras<orgname key="tuscarora"></orgname></a> being<br/> admitted to partake equally of the
                            Advantages of this school.— </p>
<p> Brothers We further propose for your encouragement in<br/> Agriculture,
                            Industry etc. that for the term of two years from the<br/> third month
                            next, we will give the following premiums to<br/> any individual Indian
                            of the <a href="http://127.0.0.1:8000/organizations/stockbridge">Stockbridge<orgname key="stockbridge"></orgname></a> or <a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscarora<orgname key="tuscarora"></orgname></a> Nation<br/> living on this
                            reservation upon the conditions hereinafter<br/> mentioned: 1st For
                            every 50 bushels of wheat raised in one<br/> year within said term by
                            any one farmer of either of these<br/> two nations, on his own land nor
                            worked by any white people the sum <br/><pb facs="SW_JT1798_022" n="9"></pb> of two dollars, 2nd For every 100 bushels
                            of Indian<br/> corn raised in like manner; aforesaid the sum of two
                            dollars<br/> 3rd For every 100 bushels of potatoes raised as
                            aforesaid<br/> the sum of one dollar and an half; 4th For every three
                            Tons<br/> of hay raised as aforesaid and put into a stack or barn<br/>
                            the sum of two dollars; 5th For every 12 yards of linen<br/> Cloth made
                            by any Indian woman out of flax raised on<br/> her or her husband’s
                            farms and spun in her own house<br/> the sum of one dollar to be paid to
                            the woman<br/> 6th For every 12 yards of woolen cloth made as
                            afore<br/>-said out of the wool of her own or her husband’s sheep<br/>
                            spun in like manner as aforesaid the sum of one dollar <br/><pb facs="SW_JT1798_012" n="10"></pb> to be paid to the woman. Now the
                            condition of<br/> obtaining the above premiums are that the persons
                            applying<br/> shall produce a certificate signed, at least by two of the
                            Chiefs<br/> of his or her particular Tribe Certifying the particular
                            Quan<br/>-tity of grain, Cloth, etc., for which said premiums shall
                            be<br/> demanded and that it was raised or made, in the manner<br/>
                            above particularly specified and also that the applicant<br/> has not to
                            the best of their knowledge been intoxicated<br/> with strong drink at
                            least for the space of one full year<br/> before such application be
                            made, And we further pro<br/>-pose that any man or woman of these two
                            nations by <br/>produceing <br/><pb facs="SW_JT1798_013" n="11"></pb>
                            producing a Certificate from two of the chiefs, as aforesaid<br/> that
                            he or she is highest or foremost in any one or more<br/> of the above
                            particulars, or any other person in that Nation,<br/> He or she shall be
                            entitled to a Double premium, for<br/> the particular in which he or
                            shall be so highest, or<br/> foremost, And our Friend, <a href="http://127.0.0.1:8000/people/jtayl1">Jacob Taylor<persname key="jtayl1"></persname></a>, <a href="http://127.0.0.1:8000/people/hsimm1">Henry
                                Simmons<persname key="hsimm1"></persname></a><br/>, and <a href="http://127.0.0.1:8000/people/ewalk1">Enoch
                                Walker<persname key="ewalk1"></persname></a>, are hereby authorized and desired to<br/> pay the
                            above mentioned premiums agreeable to what<br/> is herein above
                            particularly mentioned</p>
</floatingtext>
</div>
<div type="narrative">
<dateline><date when="1790-06">Sixth Month 1790</date></dateline>
<p>After several councils with the <a href="http://127.0.0.1:8000/organizations/oneida">Oneidas<orgname key="oneida"></orgname></a> the
                    following <br/>agreement <br/><pb facs="SW_JT1798_014" n="12"></pb> Agreement
                    was come to, proposed on the <date when="1796-06-25">25th</date> and agreed<br/>
                    on the <date when="1796-06-30">30th of the 6 Mo 1796</date></p>
<floatingtext type="letter">
<dateline><date when="1796-06-30"></date><placename key="checkPlace"></placename></dateline>
<opener><salute>Brothers of the <a href="http://127.0.0.1:8000/organizations/oneida">Oneida
                                    Nation<orgname key="oneida"></orgname></a></salute></opener>
<p>First, You now know that we are sent to you by your, Old friends<br/> the
                            people called Quakers, of Pennsylvania and parts adjacent, not<br/>
                            merely to make you presents, which will soon be spent leaving<br/> you
                            poor and needy, but to shew you how the white people<br/> manage to
                            raise a great deal of food and clothing off, of<br/> a little land; that
                            you may become able to support your<br/>-selves and your children
                            comfortably, without being beholding to <br/><pb facs="SW_JT1798_015" n="13"></pb> to any body, and have something to spare
                            for the old and infirm<br/> as well as to lay by against times of
                            scarcity –- </p>
<p>Brothers<br/> Remember that we have left all that was near and dear<br/>
                            to us at home, not to get your Lands from you, or any thing<br/> that
                                <del>you have</del> is yours but to visit you in love and to stay
                            with<br/> you, if happily we may put you in a way, to enjoy the
                            manifold<br/> blessings of all bountiful Creator; now we have seen and
                            reflected<br/> upon your situation and consulted one another for your
                            the future<br/> prosperity of your whole <a href="http://127.0.0.1:8000/organizations/oneida">Nation<orgname key="oneida"></orgname></a> and three Tribes you have <br/>kindly <br/><pb facs="SW_JT1798_016" n="14"></pb> kindly permitted to settle on your
                            lands and we have put our<br/> conclusions in writing, that it may be
                            know what we are willing to<br/> undertake for you, and what we desire
                            you to do towards it yourselves<br/> for we mean to set before you a
                            clear Example if you will agree<br/> to follow it, Now Brothers We trust
                            that we possess your<br/> confidence unmixed with any Jealousies or
                            fears and we request you<br/> to listen Patiently and attentively, to
                            what we are going to propose to<br/> you for your own good and if any
                            part of it displeases you tell<br/> us so and we will consider it;
                            Brothers, Three of our friends<br/> intend to stay with you for these
                            purposes namely <a href="http://127.0.0.1:8000/people/jtayl1">Jacob Taylor<persname key="jtayl1"></persname></a><br/>
<a href="http://127.0.0.1:8000/people/hsimm1">Henry Simmons<persname key="hsimm1"></persname></a> and <a href="http://127.0.0.1:8000/people/ewalk1">Enoch Walker<persname key="ewalk1"></persname></a>; but they are not bound<br/> to
                            remain by anything but good will; neither are they obliged <br/><pb facs="SW_JT1798_017" n="15"></pb> obliged to work more than they
                            think necessary nor to be alto<br/>-gether among you as they are to go
                            sometimes to <a href="http://127.0.0.1:8000/organizations/tuscarora">Tuscarora<orgname key="tuscarora"></orgname></a>
<a href="http://127.0.0.1:8000/places/stockbridge">Stock-bridge<placename key="stockbridge"></placename></a> and
                                <a href="http://127.0.0.1:8000/places/broth">Brothertown<placename key="broth"></placename></a>, we earnestly desire
                            that none of you may<br/> discourage them by swearing, idleness,
                            drunkenness or misbehavior;<br/> for these things are very disagreeable
                            to us, as you know they are<br/> to the good spirit; Brothers, you know
                            we must have some<br/> land to work upon and we should like to
                                <del>be</del> begin upon that part<br/> of the common that lies west
                            of the path from <geogname>Skanandoahs</geogname><br/> to <a href="http://127.0.0.1:8000/places/stockbridge">Stockbridge<placename key="stockbridge"></placename></a>, south of the road to
                                <a href="http://127.0.0.1:8000/organizations/onondaga">onondago<orgname key="onondaga"></orgname></a>; East of the
                            bounda<br/>-ry of the old fort and north of <geogname>skanandoah
                                creek</geogname> excepting any<br/> part thereof now occupied by
                            your families<br/><br/> Brothers <br/><pb facs="SW_JT1798_018" n="16"></pb> Brothers; if we think there is
                            encouragement to under<br/>-take more another year, we shall ask you for
                            it seasonably,<br/> and agree together where it shall be </p>
<p> Brothers, you know it is hardly practicable for all to learn<br/>
                            together; we will begin with a few, who must stick to the<br/> work the
                            rest will see how the get forward. and will be<br/> ready to take their
                            turn, when it comes round we want<br/> to engage six or eight sober
                            young Men as Apprentices<br/> till next spring; Brothers; we suppose you
                            will be wis<br/>-hing that we should feed our Horses, Cattle, &amp;c.,
                            upon the com<br/>-mon and that you will allow us some Grass lots, to
                            provide<br/> hay for them in the winter. to cut firewood railing and
                            timber for <br/><pb facs="SW_JT1798_019" n="17"></pb> for building in
                            your woods use your sawmill and smith shop<br/> when we have occasion
                            for them and sometimes work your<br/> Horses and oxen, when you are not
                            using them </p>
<p> Brothers; you will understand that our friends are to live
                            plen<br/>-tifully, as their own people do at home, and their live stock
                            is to<br/> be kept upon the produce of their labour, in the first
                            place<br/> one eighth part of the remainder is to be reserved for the
                            relief<br/> of your old and infirm People, the rest to be divided among
                            the<br/> young Indian Apprentices, that they may enjoy the fruit of<br/>
                            their labour and have something to begin with for themselves when<br/>
                            other apprentices are taken in their stead provided they<br/> behave
                            well: but in the case of continued idleness drunkenness <br/><pb facs="SW_JT1798_020" n="18"></pb> drunkenness, swearing or misbehavior in
                            any of them, our<br/> friends must not keep bad company, and we request
                            you to appoint<br/> three of your Chiefs to unite with our three friends
                            as Judges<br/> that, if four of them agree the person offending may be
                            just<br/>-ly discharged—, Now Brothers, Our stay among<damage agent="pen">st</damage> you<br/> will depend upon several
                            circumstances, and particularly<br/> the encouragement we may have to
                            hope that your <a href="http://127.0.0.1:8000/organizations/oneida">Nation<orgname key="oneida"></orgname></a><br/> will in time
                            become sober industrious and frugal, laying up<br/> something for
                            yourselves against sickness and Old age. When<br/>-ever we leave you the
                            improvements we make on your<br/> lands will belong to you: but the
                            cattle and other things<br/> we bring with us we shall consider as our
                            own </p>
</floatingtext>
</div>
<div type="narrative">
<pb facs="SW_JT1798_021" n="19"></pb>
<p>The Indians replied on the <date when="1796-06-30">30th of the 6 Mo</date> in
                    substance<br/> as follows, </p>
<floatingtext type="letter">
<dateline><date when="1796-06-30"></date><placename key="checkPlace"></placename></dateline>
<opener><salute>Brothers,</salute></opener>
<p> we find no difficulty in accepting<br/> your proposals as to anything
                            but the place you choose<br/> many of our people are against<br/>
                            parting with any of the commons, because we have hardly<br/> pasture
                            enough for our cattle now, and if we lesson it they will<br/> be
                            famished and break down the fences and get at the corn, beside<br/>
                            which we are afraid our young men will disturb you sometimes<br/> there
                            when they get in liquor, Brothers we think it<br/> right to propose
                            another place to you which we think<br/> may suit you better, we will go
                            shew it to you </p>
<p> Upon this the spot was viewed, and mutually agreed <del>on</del><br/>
<pb facs="SW_JT1798_022" n="20"></pb> to as follows, begining at the gut
                            south, south east of<br/>
<a href="http://127.0.0.1:8000/people/ashon1">Anthony Shononleyo<persname key="ashon1"></persname></a> house. and running
                            nearly south by a tree<br/> marked to a tree marked as far as
                                <geogname>Shanandoah Creek</geogname> extend<br/>ing eastward into
                            the woods without limitation. And <a href="http://127.0.0.1:8000/people/ashon1">Anthony
                                Shononleyo<persname key="ashon1"></persname></a> being willing to lease his house it was
                            engaged<br/> for the use of the settlement. It was also agreed that they
                            firs[t]<br/> should have liberty to enclose what they might want<br/> of
                            the flats for hay or pasture. (agreeable to the 8th paragraph)<br/> but
                            the Indians did not choose to engage their oxen, except<br/> their young
                            ones to be broke; or their horses, because<br/> they were not good for
                            anything to work, and <a href="http://127.0.0.1:8000/people/jskan1">John
                                Skanan-doah<persname key="jskan1"></persname></a>, <a href="http://127.0.0.1:8000/people/ashon1">Anthony
                                Shononleyo<persname key="ashon1"></persname></a>, and <a href="http://127.0.0.1:8000/people/nshag1">Nicholas
                                Shagnokorongo<persname key="nshag1"></persname></a>, were <br/><pb facs="SW_JT1798_023" n="21"></pb> were appointed as Judges under the 9th
                            paragraph</p>
<closer> In confirmation of all which preceding agreements we<br/> have
                            Hereunto interchangeably set our hands the <dateline><date when="1796-07-06">6th<br/> day of the 7 Mo 1796</date><placename type="checkPlace"></placename></dateline></closer>
</floatingtext>
<p>Through inattention the following letter was omited in<br/> its proper place.
                    which I think justly claims room in this<br/> account it was sent previous to
                    friends settling amongst them</p>
<floatingtext type="letter">
<opener> A circulatory letter from the committee of the Indian<br/>
                            institution to the six Nations of Indians<br/><salute>To our Indians
                                Brethren of the six Nations<br/> Brothers;</salute></opener>
<p> We rejoice that you are now at peace<br/> and we pray to the good spirit
                            that he may continue to preserve <br/><pb facs="SW_JT1798_024" n="22"></pb> you from the miseries of war, We have
                            always had your<br/> welfare at heart, ever since our Grandfather,
                                <a href="http://127.0.0.1:8000/people/wpenn1">Onas *<persname key="wpenn1"></persname></a> cam[e]<br/> into this
                            country; and the present time appears to us to be a<br/> favorable one,
                            again, to manifest our unalterable friendship<br/> for you We cannot
                            forget the harmony that subsisted be<br/>-tween our forefathers and the
                            Indians during the first se<br/>-ttlement of this country</p>
<p> Brothers; we have heard some of your chief men say that<br/> they
                            believed the Good spirit designs that you should not<br/> live much
                            longer by hunting alone. The game is grown<br/> scarce yet although your
                            lands are much less than they<br/> once were, they are with a small
                            degree of Industry<br/>
<note rend="asterisk" resp="author">*Onas implies William Penn</note><br/>
<pb facs="SW_JT1798_025" n="23"></pb> abundantly sufficient to supply
                            all your wants,</p>
<p>Brothers; Our hearts are open to you. we are desirous<br/> to help you to
                            make the best use of your lands. We are<br/> united in this matter and
                            as we now enjoy peace and<br/> tranquility, we are now ready to part
                            with some of our<br/> substance to make you more happy. Now we desire
                            to<br/> ask you a few questions we hope you will answer us candidly</p>
<p>Brothers, Are you willing to be instructed in cultivating<br/> your land
                            and in the method which the white people take<br/> to live
                            plentifully</p>
<p>Brothers, do you desire to learn some of our useful trades <br/><pb facs="SW_JT1798_026" n="24"></pb> trades, such as, blacksmith,
                            Millwrights Wheelwrights and Carpenter <br/> that you may build houses
                            and Mills and do other necessary<br/> things to make your lives more
                            comfortable,</p>
<p> Brothers, Would it be agreeable to you that your childre[n]<br/> should
                            be taught to read and write and such other things as we<br/> teach our
                            children which is intended to render peaceful and happy</p>
<p> Brothers, We cannot doubt from the speeches of your wise<br/> men at
                            different times that these considerations are become<br/> very necessary
                            for you to attend to and we wish you would open<br/> your heart, do not
                            hide your thoughts from us, we<br/> desire none of your lands nor any
                            thing that you have<br/> but only to do you and your children good think well<br/>
<pb facs="SW_JT1798_027" n="25"></pb> of what we now propose to you, and
                            send us an answer<br/> as soon as you can</p>
<p> Brothers, We desire you would seriously reflect upon they<br/> many
                            difficulties you are under the hunger, fatigue and<br/> cold you are
                            subjected to in your present mode of living<br/> and compare it with the
                            comfortable manner in which you<br/> may live under the blessing of the
                            Good spirit: by rais<br/>-ing grain cattle and other necessaries on your
                            land, and<br/> then we hope that your good understanding will incline
                            you to think<br/> as we do that your pursuing this mode of life in<br/>
                            which we are ready to assist you will be of lasting<br/> advantage
                                <br/><pb facs="SW_JT1798_028" n="26"></pb> advantage to you and your
                            wives and children for generations<br/> to come </p>
<closer><salute>Signed on behalf of your Old friends the people<br/> called
                                Quakers in Pennsylvania New Jersey and parts adjacent</salute><br/>
<dateline><a href="http://127.0.0.1:8000/places/phila">Philadelphia<placename key="phila"></placename></a> the <date when="1796-01-05">fifth of the first Mo 1796</date></dateline>
                            By <signed><list>
<item><a href="http://127.0.0.1:8000/people/hdrin1">Henry Drinker<persname key="hdrin1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jsans1">Joseph Sansom<persname key="jsans1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/wsave1">William Savery<persname key="wsave1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jcoop1">James Cooper<persname key="jcoop1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/bswet1">Benjamin Swett<persname key="bswet1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jsloa1">Joseph Sloan<persname key="jsloa1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jhunt1">John Hunt<persname key="jhunt1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jbidd1">John Biddle<persname key="jbidd1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/tharr1">Thomas Harrison<persname key="tharr1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jstap1">John Stapler<persname key="jstap1"></persname></a></item>
<item><a href="http://127.0.0.1:8000/people/jell1">John Elliot<persname key="jell1"></persname></a></item>
</list></signed></closer>
</floatingtext>
</div>
<div type="narrative">
<pb facs="SW_JT1798_029" n="27"></pb>
<dateline><date type="unattested" when="1796">1796</date></dateline>
<p>The foregoing Articles opened business for the young<br/> men to
                    attend too which will be treated of and some observa[tions]<br/> made as they
                    came in course: after some notice is taken<br/> about the house they rented </p>
<p> It was agreed that the young men should live in<br/> the house they rented as
                    long as was thought needful<br/> for them or others to continue here for the
                    considera<br/>-tion of twenty Dollars per Annum and some repairs to be<br/> done
                    to the house, all which they fulfilled, and cleared *<br/> several acres of land
                    adjoining there to and had several<br/> good crops of wheat, grass, turnips and
                    garden, track before after <br/> they<br/>
<pb facs="SW_JT1798_030" n="28"></pb> they or we had enjoyed it two years our
                    landlord became un<br/>-easy and wished to enjoy it himself in consequence of
                    this we<br/> and several other matters we thought it best to build on the<br/>
                    land set apart by the <a href="http://127.0.0.1:8000/organizations/oneida">Nation<orgname key="oneida"></orgname></a> for our use to
                    instruct they young<br/> Men, &amp;c.</p>
</div>
<div type="udetermined">
<pb facs="SW_JT1798_031" n="29"></pb>
<figure>
<figdesc>On this page is a sectioned sketch that appears to be an outline of a
                        building. In various rectangular sections, appear the following words, which
                        suggest the rough plans for a shop and a milk house/barn.</figdesc>
<floatingtext>
<ab><list type="simple">
<item>milk house windows</item>
<item>milk trough</item>
<item>milk floor</item>
<item>milk house door</item>
<item>jamb in milkhouse</item>
<item>Girder</item>
<item>shop is 10=feet bgg</item>
<item>shop door</item>
<item>shop window</item>
<item>shop window</item>
<item>Joice over milk house door</item>
<item>High window</item>
<item>cellar door</item>
<item>Joist for porch</item>
<item>trunk underground 2 feet to carry off refuse water for
                                        hogs in day time to drink and wallow in</item>
</list></ab>
</floatingtext>
</figure>
</div>
</text>
</tei>
</body></html>