<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Invoice of Gifts, 1795: Electronic Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Mary Olesnavich</name>
</respstmt>
</titlestmt>
<extent>ca.9 KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_1795_05_25invoice</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Misc Mss 1795_05_25</idno>
</msidentifier>
<physdesc>
<p>2 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This invoice is part of a collection of miscellaneous manuscripts and is housed at Friends Historical
                    Library, on the campus of Swarthmore College. </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases.
                </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in 1795<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list><item>Wayne, Anthony, 1745-1796</item>
<item>Treaty of Greenville</item>
<item>Philadelphia Yearly Meeting of the Religious Society of Friends</item>
<item>Society of Friends - Ohio</item>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item>PCO edits<date>2015</date></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="accounts"><pb facs="SW_Letters_1795_05_25invoice_001" n="1"></pb>
<p> Invoice of sundry articles provided by Friends of
                    Pennsylvania &amp;c. and <br/> sent to the Treaty expected to be
                    held with the Indian Nations by <a href="/people/gwayn1">General Wayne<persname key="gwayn1"></persname></a> <br/> to be by him presented to
                    them, at such time as he may see most convenient and <br/> proper, as a token of
                    good will and to revive in the remembrance of the Indian <br/> Nations of this
                    Land the ancient Friendship which subsisted between them &amp; the
                    <br/> people called Quakers </p>
<list> <dateline><a href="/places/phila">Philadelphia<placename key="phila"></placename></a>
<date when="1795-05-25">5 mo. 25. 1795</date></dateline>
<note resp="author"> Packed in a Trunk, Matted &amp; Corded and mark'd <br/> H.D Indian Treaty.</note>
<item>1600 Fish Hooks different sizes</item>
<item>1000 large sewing Needles</item>
<item>1000 Darning Needles</item>
<item>12 doz. Awl Blades</item>
<item>6 doz. Steel Thimbles</item>
<item>12 doz. brass Thimbles</item>
<item>36 pair Temple Spectacles</item>
<item>5 pair better</item>
<item>24 pair better</item>
<item>36 pair silver'd Locket Sleeve Buttons</item>
<item>6 burning Glasses</item>
<item>17 Tobacco Boxes with burning Glasses</item>
<item>12 Tobacco Pipes</item>
<item>24 Iron Spoons tin'd</item>
<item>18 pair large Seessars</item>
<item>18 pair better</item>
<item>24 pair better</item>
<item>72 pocket Looking Glasses</item>
<item>5 doz. horn combs</item>
<item>36 small Ivory combs</item>
<item>12 larger ditto</item>
<item>12 larger ditto</item>
<item>12 larger ditto</item>
<item>4 pounds of colour'd thread</item>
<item>1 pound of white thread</item>
<item>1 pound finer</item>
<item>1 pound finer</item>
<item>10 pieces of worsted Binding</item>
<item>10 pieces of silk Firrett</item>
<item>35 Shawls or cotton Handkerchiefs</item>
<item>24 black silk Handkerchiefs</item>
<item>24 larger ditto</item>
<item>24 larger ditto</item>
<item>8 pieces of flag Handkerchiefs <gap></gap> in each piece</item>
<item>3 pieces of cotton &amp; silk stripes</item>
<item>14 yards light printed callico</item>
<item>14 yards of dark fine ditto</item>
<item>1 Match Coat Blanket to fill
                        up</item>
</list>
</div>
<div type="undetermined">
<pb facs="SW_Letters_1795_05_25invoice_002" n="2"></pb>
</div>
</text>
</tei>
</body></html>