<?xml version="1.0" encoding="UTF-8"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei-print.css"?><?xml-stylesheet type="text/css" href="http://www.tei-c.org/release/xml/tei/stylesheet/tei.css"?><?xml-stylesheet type="text/css" href="global.css"?><html><body><tei xmlns="http://www.tei-c.org/ns/1.0">
<teiheader>
<filedesc>
<titlestmt>
<title>Letter to Western Indians from the Meeting for Sufferings: Electronic
                    Version</title>
<editor>Friends Historical Library of Swarthmore College</editor>
<respstmt>
<resp>TEI Markup done by</resp>
<name>Constance Hawley</name>
</respstmt>
<sponsor>Tri-Co Digital Humanities Initiative</sponsor>
<funder>Andrew W. Mellon Foundation</funder>
</titlestmt>
<extent>ca. SIZE KB</extent>
<publicationstmt>
<publisher>Friends Historical Library of Swarthmore College</publisher>
<address>
<street>500 College Avenue</street>
<addrline>Swarthmore, Pennsylvania</addrline>
<postcode>19081</postcode>
<country>United States of America</country>
</address>
<availability status="free">
<p>This work is the property of the Friends Historical Library of Swarthmore
                        College. It may be copied freely by individuals for personal use, research,
                        and teaching (including distribution to classes) as long as this statement
                        of availability is included in the text. It may be linked to freely in
                        Internet editions of all kinds, including for—profit works.</p>
<p>Publishers, libraries, and other information providers interested in
                        providing this text in a commercial or non—profit product or from an
                        information server must contact Swarthmore College for licensing and cost
                        information.</p>
<p> Scholars interested in changing or adding to these texts by, for example,
                        creating a new edition of the text (electronically or in print) with
                        substantive editorial changes, may do so with the permission of Swarthmore
                        College. This is the case whether the new publication will be made available
                        at a cost or free of charge.</p>
</availability>
<date when="2014">2015</date>
<idno type="local">SW_Letters_1793_04_19</idno>
</publicationstmt>
<seriesstmt>
<title level="s" type="project">Native Americans and Quakers: An Electronic
                    Collection</title>
</seriesstmt>
<sourcedesc>
<msdesc>
<msidentifier>
<institution>Friends Historical Library of Swarthmore College</institution>
<collection>Miscellaneous Manuscripts</collection>
<idno>Mss_004_1793_04_19</idno>
</msidentifier>
<physdesc>
<p>4 pp.</p>
</physdesc>
</msdesc>
</sourcedesc>
</filedesc>
<encodingdesc>
<projectdesc>
<p>This collection of miscellaneous correspondence is housed at Friends Historical
                    Library, on the campus of Swarthmore College. In the fall semester of 2010,
                    Swarthmore students enrolled in English 50A (“Reading Red, White, and In-Between
                    in Early American Literature”) transcribed these manuscripts as part of a larger
                    project to make the library’s rich store of Quaker Indian mission writings more
                    accessible. The project was designed by Christopher Densmore, Curator of Friends
                    Historical Library, and Keat Murray, Visiting Assistant Professor of English.
                    Transcriptions were compiled and edited in the present form by Professor Murray.
                </p>
</projectdesc>
<editorialdecl>
<p> The transcribers and editor attempted to render the author’s orthography and
                    grammar as they appear on the page of his journal, even when the author’s own
                    spelling and usage are inconsistent. Additionally, many questions remain about
                    spelling the names of his Quaker acquaintances, individual Native Americans who
                    populate his journal, and Indian villages and towns. The transcribers and editor
                    attempted to remain faithful to the author’s Anglicized spellings in all cases. </p>
</editorialdecl>
</encodingdesc>
<profiledesc>
<creation>Original written in 1793<date></date></creation>
<langusage>
<language ident="en">English</language>
</langusage>
<textclass>
<keywords scheme="#lcsh">
<list>
<item>Society of Friends -- Missions</item>
<item>Indians of North America -- Missions</item>
<item>Philadelphia Yearly Meeting of the Relgious Society of Friends</item>
</list>
</keywords>
</textclass>
</profiledesc>
<revisiondesc>
<list>
<item><date></date></item>
</list>
</revisiondesc>
</teiheader>
<text>
<div type="letter"><pb facs="SW_Letters_1793_04_19_Page_1" n="1"></pb>
<opener>
<dateline>
<a href="/places/phila">Philadelphia<placename key="phila"></placename></a>
<date when="1793-04-19">the 19th day of the 4th month, 1793</date>
</dateline>
<salute>To the Indians living on the North western and<br/>western borders of
                        the United States, and all others to whom<br/>this writing may
                        come.<br/>Brothers,</salute></opener>
<p>Hearken to the speech which your friends, called Quakers,<br/>assembled in
                    Philadelphia, from several parts of Pennsylvania and<br/>and New Jersey Y. now
                    send to you, by their brethren <a href="/people/jparr1">John
                        Parrish<persname key="jparr1"></persname></a>,<br/><a href="/people/wsave1">William Savery<persname key="wsave1"></persname></a>,
                        <a href="/people/jelli1">John Elliot<persname key="jelli1"></persname></a>, <a href="/people/jlind1">Jacob
                        Lindley<persname key="jlind1"></persname></a>, <a href="/people/jmoor3">Joseph Moore<persname key="jmoor3"></persname></a>, and<br/>
<a href="/people/whart">William Hartshorme<persname key="whart"></persname></a>.</p>
<p>Brothers<br/>When our grandfathers came with <a href="/people/wpenn1">Onas<persname key="wpenn1"></persname></a> over the great waters,<br/>to
                    settle in this land, more than one hundred years ago, they kindled a<br/>large
                    Council fire with your grandfathers, and sat together round it, in<br/>much good
                    will and friendship; smoking the Calumet pipe together,<br/>and they told your
                    grandfathers, that they were men of peace, and desire<br/>to live among you in
                    peace and love, and that their children might also<br/>be careful always to live
                    in the same love one with another, as brothers<br/>of one family.</p>
<p>This Council fire was kept burning with a clear flame<br/>many years, which gave
                    a good light all around the Country; and the<br/>chain of friendship, which was
                    made at the same time, was kept clean<br/>from rust by our fathers, and your
                    fathers; until about forty years ago<br/>an evil spirit whispered bad stories in
                    the ears of some of your people,<br/>and of some of the white people; so that
                    the light of the ancient council fire<br/>was almost full out, and the old chain
                    of friendship was made dull, and<br/>rusty,</p>
<p>Brothers,<br/>Our Grandfathers told your grandfathers that the great and<br/>good
                    Spirit, who made them, and all people, with a design that they might<br/>live on
                    the earth for a few years in love, and good will one towards another,<br/>had
                    placed his law in the hearts of all men, and if they carefully attended
                    to<br/>its inward voice, it would keep them in love and friendship, and teach
                    them<br/>to shun and avoid every thing that would occasion them to trouble
                    and<br/>hurt one another.</p>
<p>Brothers,<br/>Do you not find, that after you have been angry, &amp;
                    quarrelsome,<br/>and done any bad action that you are made uneasy and sorrowful,
                    and that<br/>when you are sober and serious, and do good actions, that your
                    minds feel <br/><pb facs="SW_Letters_1793_04_19_Page_2" n="2"></pb>pleasant easy and confortable? It is the Law from the
                    good<br/>Spirit, who is all love, and placed it in your hearts, that gives
                    you<br/>such peace and comfort when you do well, but when you do evil
                    things,<br/> it reproves you, and makes you feel uneasy and sad.</p>
<p>Brothers,<br/>We wish you to consider and remember, that the Great<br/>Spirit,
                    sees and knows all the thought of your hearts, and the hearts of<br/>all
                    mankind, and all their actions; and when their bodies die, such men<br/>of all
                    colours, and all nations, who have loved, served, and obeyed the holy<br/>law of
                    the good Spirit, placed in their hearts, he will receive their Sould,<br/>which
                    are never to die, and they will live with him in joy and peace for<br/>ever; but
                    the souls of bad men, who have lived wickedly in this world<br/>must live, after
                    their bodies die, with the bad spirit, in a State of distress<br/>and
                    misery.</p>
<p>Brothers,<br/>We make profession of the same principle with our
                    Grandfathers,<br/>which teaches us to love you and all men, and in that love we
                    feel our minds<br/>drawn to send you this Speech, with a gread desire for your
                    good; and we<br/>were made glad, when we heard that the sober good people among
                    you were<br/>disposed to promote peace, and brighten the old chain of friendship
                    with<br/>the white people of the United States; and that many of you have a
                    desire<br/>that you may be instructed in tilling the ground, to live after the
                    mirror<br/>of the white people, which we believe you will find to be more
                    comfortable<br/>for you and your families, than to live only by hunting; and we
                    think it will<br/>be also good for your yound people to be learn't to read and
                    write, and that<br/>sober, honest, good men should be sent among you for
                    teachers.</p>
<p>Brothers,<br/>We have often told some of your chiefs, when we have had<br/>the
                    opportunity of taking them by the hand in this City, that we are not
                    concerned<br/>in the management of the affairs of the Government, which are
                    under the direction of<br/>the president of the United States, and his
                    councellors; but that we should at<br/>all times be willing to do any thing in
                    our power to promote love and peace.</p>
<p>Brothers,<br/>We greatly desire that the Commissioners who are now sent
                    by<br/>the president, and your councellors and chiefs, may look up to the great
                    Spirit<br/>for his wisdom and help; that you may all be made wise and strong,
                    to<br/>light up the council fire, and brighten the chain of old friendship; that
                    all<br/>things may be settled to satisfaction, and all logs taken out of the
                    road, and<br/>a lasting peace established; so that there may be no more
                    difference and war<br/>between your people and the Inhabitants of these
                    States.</p>
<closer><salute>And we desire you may receive our friends, by whom we <br/><pb facs="SW_Letters_1793_04_19_Page_3" n="3"></pb> send
                        this writing in love, as brothers who are disposed to encourage<br/>you in
                        all good things. And in the ancient love which our Grand<br/>fathers and
                        yours felt for each other, we salute you, wishing your<br/>happiness in this
                        life, and in that which is to come, and remain,<br/>Your Friends and
                        Brothers,</salute>
<signed><list rend="simple">
<item><a href="/people/izane1">Isaac Zane.<persname key="izane1"></persname></a></item>
<item><a href="/people/jmoon1">James Moon.<persname key="jmoon1"></persname></a></item>
<item><a href="/people/rlawr2">Richard Lawrence.<persname key="rlawr2"></persname></a></item>
<item><a href="/people/cwest1">Charles West.<persname key="cwest1"></persname></a></item>
<item><a href="/people/jpemb1">James Pemberton.<persname key="jpemb1"></persname></a></item>
<item><a href="/people/ssmit1">Samuel Smith (Bucks).<persname key="ssmit1"></persname></a></item>
<item><a href="/people/jpemb2">John Pemberton.<persname key="jpemb2"></persname></a></item>
<item><a href="/people/dbaco1">David Bacon.<persname key="dbaco1"></persname></a></item>
<item><a href="/people/gchur1">George Churchman.<persname key="gchur1"></persname></a></item>
<item><a href="/people/tligh1">Thomas Lightfoot.<persname key="tligh1"></persname></a></item>
<item><a href="/people/rholl1">Robert Holliday.<persname key="rholl1"></persname></a></item>
<item><a href="/people/jsimp1">John Simpson.<persname key="jsimp1"></persname></a></item>
<item><a href="/people/smere1">Simon Meredith.<persname key="smere1"></persname></a></item>
<item><a href="/people/ncoop1">Nathan Coope.<persname key="ncoop1"></persname></a></item>
<item><a href="/people/wmiff1">Warner Mifflin.<persname key="wmiff1"></persname></a></item>
<item><a href="/people/nwaln1">Nicholas Waln.<persname key="nwaln1"></persname></a></item>
<item><a href="/people/jbring1">Joseph Bringhurst.<persname key="jbring1"></persname></a></item>
<item><a href="/people/jdrin1">John Drinker.<persname key="jdrin1"></persname></a></item>
<item><a href="/people/devan1">David Evans.<persname key="devan1"></persname></a></item>
<item><a href="/people/twalm1">Thomas Walmsby.<persname key="twalm1"></persname></a></item>
<item><a href="/people/bmaso1">Benjamin Mason.<persname key="bmaso1"></persname></a></item>
<item><a href="/people/ssmit1">Samuel Smith.<persname key="ssmit1"></persname></a></item>
<item><a href="/people/sclar1">Samuel Clark.<persname key="sclar1"></persname></a></item>
<item><a href="/people/obidd1">Owen Biddle.<persname key="obidd1"></persname></a></item>
<item><a href="/people/daffl1">Daniel Offley.<persname key="daffl1"></persname></a></item>
<item><a href="/people/mmill2">Mark Miller.<persname key="mmill2"></persname></a></item>
<item><a href="/people/opaxt1">Oliver Paxson.<persname key="opaxt1"></persname></a></item>
<item><a href="/people/jfiel1">John Field.<persname key="jfiel1"></persname></a></item>
<item><a href="/people/ccarm1">Caleb Carmalt.<persname key="ccarm1"></persname></a></item>
<item><a href="/people/smend1">Stephen Mendenhall.<persname key="smend1"></persname></a></item>
<item><a href="/people/jfoul1">Jesse Foulke.<persname key="jfoul1"></persname></a></item>
<item><a href="/people/tmorr1">Thomas Morris.<persname key="tmorr1"></persname></a></item>
<item><a href="/people/wwils2">William Wilson.<persname key="wwils2"></persname></a></item>
<item><a href="/people/jshot1">Joseph Shotwell.<persname key="jshot1"></persname></a></item>
<item><a href="/people/jpier1">John Pierce junior.<persname key="jpier1"></persname></a></item>
<item><a href="/people/acadw1">Abraham Cadwalader.<persname key="acadw1"></persname></a></item>
<item><a href="/people/tgeor1">Thomas George.<persname key="tgeor1"></persname></a></item>
<item><a href="/people/tgask1">Thomas Gaskill.<persname key="tgask1"></persname></a></item>
<item><a href="/people/jrobe1">John Roberts.<persname key="jrobe1"></persname></a></item>
<item><a href="/people/jevan2">Jonathan Evans junior.<persname key="jevan2"></persname></a></item>
<item><a href="/people/dcumm1">David Cumming.<persname key="dcumm1"></persname></a></item>
<item><a href="/people/jwist1">John Wistar.<persname key="jwist1"></persname></a></item>
<item><a href="/people/jemle1">James Emlen.<persname key="jemle1"></persname></a></item>
<item><unclear>John Bosse</unclear>.</item>
</list></signed>
</closer>
<note resp="undetermined">Examined &amp; compared with the Original, and certified to
                    be<br/>a true Copy--by <a href="/people/jdrin1">John Drinker<persname key="jdrin1"></persname></a></note>
</div>
</text>
</tei>
</body></html>