<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
</head>
<body>
<div>
    <h3>Student Contributors</h3>


<p><b>Rebecca H. Astatke</b>, Swarthmore College </p>
<p><b>Corey Branch</b>, Swarthmore College </p>
<p><b>Cara Ehlenfeld</b>, Swarthmore College </p>
<p><b>Constance Hawley</b>, Swarthmore College </p>
<p><b>Conor Heins</b>, Swarthmore College </p>
<p><b>Aaron Kroeber</b>, Swarthmore College </p>
<p><b>Xavier Lee</b>, Swarthmore College </p>
<p><b>Shane Loeffler</b>, Swarthmore College </p>
<p><b>Becky Lytle</b>, Haverford College </p>
<p><b>Claire Michel</b>, Haverford College </p>
<p><b>Mary Olesnavich</b>, Swarthmore College </p>
<p><b>Emma Remsberg</b>, Swarthmore College </p>
<p><b>Julian Turner</b>, Swarthmore College </p>
<p><b>Yuchao Wang</b>, Haverford College</p>
<p><b>Jiaqi Zeng</b>, Haverford College</p>
<p><b>Simon Babb</b>, Haverford College</p>
<br>
<h3>Supporting Staff</h3>

<p><b>Chris Densmore</b>, Curator, Friends Historical Library (retired)</p>

<p><b>Sarah Horowitz</b>, Head of Quaker &amp; Special Collections, Haverford College</p>

<p><b>Andy Janco</b>, Digital Scholarship Librarian, Haverford College</p>

<p><b>Pat O'Donnell</b>, Archivist, Friends Historical Library</p>

<p><b>Emily Thaisrivongs</b>, Metadata Librarian, Haverford College</p>

<p><b>Mike Zarafonetis</b>, Coordinator of Digital Scholarship and Research Services, Haverford College</p>
</div>

</body>
</html>