<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Penn's Treaty</title>
</head>
<body>
    <h4>Haverford Manuscripts</h4>
    <ul>
        {% for filename in hc_manuscript_list %}
        <li><a href="/linked_hc_manuscript/{{loop.index0}}">{{filename}} </a> </li>
        {% endfor %}
    </ul>

    <h4>Swarthmore Manuscripts</h4>
    <ul>
        {% for filename in sw_manuscript_list %}
        <li><a href="/linked_sw_manuscript/{{loop.index0}}">{{filename}} </a> </li>
        {% endfor %}
    </ul>



</body>
</html>