<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Manuscript page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/Article-Clean.css">
    <link rel="stylesheet" href="/static/assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="/static/assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">


<script>

//NEED TO CHECK IF ITS A 00 DOC OR 000 DOC
var num_page_digits;
num_page_digits = parseInt("{{num_page_digits}}");

var currentPage = new String();
var currentPage = "{{page_name}}";
new_id_base = currentPage.slice(0,-1*num_page_digits);

//NEEDS TO BE UPDATED FOR 00 OR 000
s = currentPage.slice(-1*num_page_digits,);


a_prev = parseInt(s) - 1
a_next = parseInt(s) + 1

var zeros_prev = new String();

b_prev = (num_page_digits - a_prev.toString().length);

var zeros_next = new String();
b_next = (num_page_digits - a_next.toString().length);

var i;
for (i = 0; i < b_prev; i++) {
  zeros_prev += '0'
}

var j;
for (j = 0; j < b_next; j++) {
  zeros_next += '0'
}

new_prev_url = zeros_prev+a_prev;
new_next_url = zeros_next+a_next;

var new_prev_end;
var new_next_end;
new_prev_end = zeros_prev+a_prev;
new_next_end = zeros_next+a_next;

new_prev_url = '/full_manuscript/{{manuscript_name}}/';
new_prev_url = new_prev_url + new_id_base + new_prev_end;

new_next_url = '/full_manuscript/{{manuscript_name}}/';
new_next_url = new_next_url + new_id_base + new_next_end;


var zeros_to_check = new String();

var k;
for (k = 0; k < num_page_digits; k++) {
  zeros_to_check += '0'
}

if (new_prev_url.slice(-1*num_page_digits,) == zeros_to_check) {
    new_prev_url = window.location.href;
}

var final_page = new String();
final_page = "{{final_page}}";


if (new_next_url.slice(-1*num_page_digits,) > final_page.slice(-1*num_page_digits,)) {
    new_next_url = window.location.href;
}

    </script>
</head>

<body>
    <div class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center">{{title}}</h1>
                        <!-- <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Title: {{title}} </th>
                                        <th>Call number:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Date: {{date}}</td>
                                        <td>Type of manuscript:</td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td>Creator:</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->
                        
                        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="background-color: rgb(215,215,215);">
                            <div class="container">
                                <p style="color: rgb(0,0,0);font-size: 14px;">Page  <input type="text" 
                                    id="page#" 
                                    value= {{page_number}} style="width:50px; display:inline-block" 
                                    onkeydown = "if (event.keyCode == 13) getDirection"> &nbsp;&nbsp;</p>
                                <form class="form-inline" style="width: 30px;height: 20px;"></form>
                                <p style="color: rgb(11,11,11);font-size: 14px;">&nbsp;out of <br> {{final_number}} &nbsp; &nbsp; &nbsp;&nbsp;</p><button class="btn btn-primary" type="button" onclick="getDirection()" ="background-color: rgb(86,198,198);width: 45px;height: 30px;font-size: 15px;">Go</button><button data-toggle="collapse" class="navbar-toggler"
                                    data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                                <div class="collapse navbar-collapse" id="navcol-1" style="width: 500px;">
                                    <ul class="nav navbar-nav">
                                        <li class="nav-item" role="presentation"></li>
                                        <li class="nav-item" role="presentation"></li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Link</a></li>
                                    </ul>
                                    <form class="form-inline mr-auto" target="_self">
                                        <div cxlass="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                                    </form><a class="btn btn-light action-button" role="button" href="#">Search</a></div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0px 65px 0px 65px;">
                <div class="col" style="width: 399px;max-width: none;">
                    <figure class="figure"><img class="img-fluid figure-img">
                        <figcaption class="figure-caption">Caption</figcaption>
                    </figure>
                </div>
                <div class="col" style="background-color: #cbf5f0;margin: 0px 0px 0px 0px;width: 398px;max-width: none;">
                    <h4>{{page_name}}</h4>
                    <p>{{text|safe}}</p>
                    <input type="button" onclick="location.href=new_prev_url;" value="Previous" />
                    <input type="button" onclick="location.href=new_next_url;" value="Next" />
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script>
        function getDirection(){
        var input = document.getElementById("page#").value;
        var new_id ="/full_manuscript/{{manuscript_name}}/{{page_name}}";
            new_id = new_id.slice(0,-num_page_digits);
        if (input.length == 1){
            if (num_page_digits == 3) {
            new_id = new_id+"00"+input;                
            }
            else {
            new_id = new_id+"0"+input;
            }
            window.location=new_id;
            
        } else if (input.length == 2){
            if (num_page_digits == 3) {
                new_id = new_id +"0"+input;
            }
            else {
                new_id = new_id + input;
            }                    
            window.location = new_id;
        } else{
            new_id = new_id+input;
            console.log(new_id);
            window.location=new_id;
        }
       }
    </script> 
</body>

</html>