<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script type="text/javascript">
    var list = new Array();
    var pageList = new Array();
    var currentPage = 1;
    var numberPerPage = 1;
    var numberOfPages = 0;
    var pageNameList = new Array();


    console.log(currentPage);

function makeList() {
    {% for item in data %}
    list.push({{ item|tojson|safe }})
    {% endfor %}
    numberOfPages = getNumberOfPages();
    console.log(list)
}

function makePageNameList() {
    {% for name in page_names_list %}
    pageNameList.push({{ name|tojson|safe }})
    {% endfor %}
    console.log(pageNameList);

}

function getNumberOfPages() {
    return Math.ceil(list.length / numberPerPage);
}

function nextPage() {
    currentPage += 1;
    loadList();
}

function previousPage() {
    currentPage -= 1;
    loadList();
}

function firstPage() {
    currentPage = 1;
    loadList();
}

function lastPage() {
    currentPage = numberOfPages;
    loadList();
}

function loadList() {
    var begin = ((currentPage - 1) * numberPerPage);
    var end = begin + numberPerPage;

    pageList = list.slice(begin, end);
    imageList = pageNameList.slice(begin, end);
    drawList();
    check();
}

function drawList() {
    document.getElementById("list").innerHTML = "";
    document.getElementById("image").innerHTML = "";
    for (r = 0; r < pageList.length; r++) {
        document.getElementById("list").innerHTML += pageList[r] + "<br/>";
        document.getElementById("image").innerHTML += imageList[r] + "<br/>";
    }
}

function check() {
    document.getElementById("next").disabled = currentPage == numberOfPages ? true : false;
    document.getElementById("previous").disabled = currentPage == 1 ? true : false;
    document.getElementById("first").disabled = currentPage == 1 ? true : false;
    document.getElementById("last").disabled = currentPage == numberOfPages ? true : false;
}

function load() {
    makeList();
    makePageNameList();
    loadList();
}

window.onload = load;
</script>
</head>
<body>
    <h4>Test for Displaying Paginated Text and Images Together</h4>
    <p>need to generate a list of files</p>
    <p><a href="http://127.0.0.1:8000/full_manuscript/SW_JC1797">test</a></p>



    <div style="text-align:center;">
    <input type="button" id="first" onclick="firstPage()" value="first" />
    <input type="button" id="next" onclick="nextPage()" value="next" />
    <input type="button" id="previous" onclick="previousPage()" value="previous" />
    <input type="button" id="last" onclick="lastPage()" value="last" />

    <div id="list"></div>
        <p id="image"></p>
    </div>


</body>
</html>